[2017-08-18 08:50] MichaelKohler commented on #288
Also see https://github.com/mozilla/activate.mozilla.community/issues/34#issuecomment-292289145 why this is currently not possible.

[2017-08-18 08:50] ranjithrajvasam commented on #288
#25, #30, #32, #50, #104, #202, #287 requests for localization and many more to come.

[2017-08-18 08:53] MichaelKohler commented on #288
Of course, all I'm saying is that it's not as easy as just putting it on pontoon. this needs serious rework of the architecture.

[2017-08-18 08:55] ranjithrajvasam commented on #288
Thanks for the reference, looked into it. Will talk to pontoon team and get back to this issue.

[2017-08-18 08:59] MichaelKohler commented on #288
This has nothing to do with Pontoon. The problem is the generation of the locale files on our side. There is nothing the Pontoon team can do for this.

One way to fix this is to use l20n on our side, this would require a rewrite of all the markdown to HTML. This however poses the problem of handling languages with Jekyll. We still would need to have a page in the _pages folder for every language a

[2017-08-20 16:29] barrosgeraldo commented on #275
Hi @couci,

At Brazil we're using this [workshop flow](https://geraldobarros.me/setting-up-the-success-of-dive-into-rust-workshops-at-sao-paulo/).

**Workshop Flow**

    Welcome, agenda and offline icebreakers. 10m
    Rust and the Future of Systems Programming’s movie. 6m
    Introducing Rust: What is it? Benefits? Use in the real world. 15m
    Introducing language using the Rust Book V2. 15m

[2017-08-22 10:17] couci commented on #286
Volunteers okays done, first meeting on Wednesday the 23rd

[2017-08-23 07:08] elioqoshi commented on #283
@MichaelKohler Thanks for the hard work and sorry for the delay in getting back to this.

Let me start off with a few easy blockers which can be changed:

- The Logo might be more suitable if it's completely horizontal. I will provide you with a file for that.
- In the paragraphs and headers I see some inconsistency between Fira, Zilla, and even Arial (I think). I'd suggest h1 and h2 use Zilla Reg

[2017-08-23 07:46] elioqoshi commented on #283
I'd also add the Participation Guidelines to the Footer. See how MozFest did it:
https://mozillafestival.org/

[2017-08-23 07:46] elioqoshi commented on #283
![1](https://user-images.githubusercontent.com/5436686/29604487-efebe9e6-87e7-11e7-9151-3366e8529635.png)

Quick Mockup of how the Header on the Main Page could look like.

[2017-08-23 07:49] MichaelKohler commented on #283
Thanks Elio.

1) The blockers are quite easy to fix, will do that tonight or tomorrow
2) Mockup looks good to me, will do that as well :)

[2017-08-23 07:53] elioqoshi commented on #283
Updated Mockup

![2](https://user-images.githubusercontent.com/5436686/29604735-c210996c-87e8-11e7-8578-dedac8204094.png)

Also, can we try doing the categories (TESTING, PROGRAMMING etc.) in Zilla Bold with "HOURS" being in Regular. Would be great to use the new color palette as well.

[2017-08-23 07:55] MichaelKohler commented on #283
Sure, any preferences for the colors?

[2017-08-23 07:57] elioqoshi commented on #283
Let's try:

Green 2 for PROGRAMMING
Red 2 for TESTING
Purple 2 for PARTICIPATION

https://mozilla.ninja/visualelements/

[2017-08-23 17:33] caitmuenster commented on #286
Working document can be found here: https://docs.google.com/document/d/1yr7KhtI2vDKD8qjg3wGA7JL3nuVmlUCtOJGwFkxrEoA/edit#heading=h.73tl1jpwl9p1

[2017-08-25 20:57] MichaelKohler commented on #283
Everything done apart from:
* Zilla Regular doesn't seem to work
* Header image / navigation

I will continue tomorrow and then send new screenshots.

[2017-08-26 09:15] brianking commented on #283
For me, the black background on text headings is a bit too much, perhaps not on the summary pages, but on the individual listings page for sure. They divert a lot of attention from the content.

[2017-08-26 11:21] elioqoshi commented on #283
@brianking It's used on MDN as well so it's already canon. Not sure if we should divert from that.

[2017-08-26 13:45] MichaelKohler commented on #283
I can't fix this right now, as it only doesn't work in Nightly (left), works in Release (right)..

![screen shot 2017-08-26 at 15 43 41](https://user-images.githubusercontent.com/330324/29741887-9eafaf28-8a75-11e7-84b5-ae21e08bf3a7.png)

[2017-08-26 14:01] MichaelKohler commented on #283
At least not when using Google Fonts. I've added the fonts to the repo for now. Sorry for the spam ;)

[2017-08-26 14:10] MichaelKohler commented on #283
@elioqoshi should the header like your mockup on every page or just on the frontpage? If only on the frontpage, how should it look without background image?

[2017-08-26 15:48] elioqoshi commented on #283
@MichaelKohler only front page. On inner pages make it with the blue background color.

[2017-09-21 16:21] ranjithrajvasam commented on #283
@MichaelKohler Any update on this issue? would like to know what is the deadline to close it? :)

[2017-09-21 16:35] MichaelKohler commented on #283
The only thing left is the implementation of the header as in Elio's mockup above (just for the front page). The rest is done in https://github.com/MichaelKohler/activate.mozilla.community/tree/feature/branding_update?files=1 . I don't have time until the website for the Firefox Quantum Sprint is finished as that has a higher priority.

[2017-11-20 22:04] MichaelKohler commented on #274
This is not necessary anymore, I've published the non-confidential part in the spreadsheet and am reading from there now.

[2017-11-20 22:45] MichaelKohler commented on #274
Eh, sorry. Shouldn't have closed it. So, we still need the deployment and the the followup with ParSys.

[2017-11-21 22:51] MichaelKohler commented on #274
Docker Hub image: https://hub.docker.com/r/michaelkohler/activate.mozilla.community/

ParSys bug updated: https://bugzilla.mozilla.org/show_bug.cgi?id=1386256

Once the image is hosted we can change the code to reference that domain and we can merge this.

[2017-12-21 21:09] leodasvacas commented on #275
I made the flow used in Brazil, I can help out with a new flow for the activity.

[2018-01-08 16:56] #274 closed

[2018-01-10 23:38] MichaelKohler commented on #248
PR created here: https://github.com/mozilla/activate.mozilla.community/pull/292

[2018-01-10 23:38] #248 closed

[2018-01-10 23:39] MichaelKohler commented on #247
PR created here: https://github.com/mozilla/activate.mozilla.community/pull/292

[2018-01-10 23:39] #247 closed

[2018-01-10 23:39] MichaelKohler commented on #246
PR created here: https://github.com/mozilla/activate.mozilla.community/pull/292

[2018-01-10 23:39] #246 closed

[2018-01-10 23:39] MichaelKohler commented on #245
PR created here: https://github.com/mozilla/activate.mozilla.community/pull/292

[2018-01-10 23:39] #245 closed

[2018-01-10 23:39] MichaelKohler commented on #244
PR created here: https://github.com/mozilla/activate.mozilla.community/pull/292

[2018-01-10 23:39] #244 closed

[2018-01-18 05:58] ranjithrajv commented on #210
Any update on this?

[2018-02-02 18:41] ranjithrajv commented on #283
Any update on this? How can anyone help fix this ASAP.

[2018-03-27 17:20] MichaelKohler commented on #275
Superseded by https://github.com/mozilla/activate.mozilla.community/pull/293

[2018-03-27 17:20] #275 closed

[2018-03-27 17:21] MichaelKohler commented on #286
See https://github.com/mozilla/activate.mozilla.community/pull/294

[2018-06-30 11:37] MichaelKohler commented on #288
I'm working on a new prototype which will make l10n way easier.

[2018-06-30 11:37] MichaelKohler commented on #286
This has been rebooted.

[2018-06-30 11:37] #286 closed

[2018-06-30 11:38] MichaelKohler commented on #208
I'm closing this as I'm working on a prototype for the future (needs then to be discussed with the Community Development Team of course).

[2018-06-30 11:38] #208 closed

[2018-06-30 11:38] #180 closed

[2018-07-09 05:53] ranjithrajv opened #296 "Leaderboard not updating event stats"
Seems the leaderboard stopped updating the stats from reps portal.

Tags: Bug

[2018-07-20 14:49] MichaelKohler commented on #14
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:49] #14 closed

[2018-07-20 14:49] MichaelKohler commented on #104
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:49] #104 closed

[2018-07-20 14:50] MichaelKohler commented on #50
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:50] #50 closed

[2018-07-20 14:50] MichaelKohler commented on #32
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:50] #32 closed

[2018-07-20 14:50] MichaelKohler commented on #30
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:50] #30 closed

[2018-07-20 14:50] MichaelKohler commented on #25
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:50] #25 closed

[2018-07-20 14:50] MichaelKohler commented on #288
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh.

[2018-07-20 14:50] #288 closed

[2018-07-20 14:50] MichaelKohler commented on #287
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:50] #287 closed

[2018-07-20 14:50] MichaelKohler commented on #269
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:50] #269 closed

[2018-07-20 14:50] MichaelKohler commented on #202
We are currently working on a refresh of the Activate page. This project is in its early stages, but what I can say now is that localization improvements (Pontoon) will be a big part of it. I'm closing this as it will be considered in the refresh. Once we will talk about about what locales to enable to be translated we will revisit all localization issues in this repository, so there is no need to

[2018-07-20 14:50] #202 closed

[2018-07-20 14:52] MichaelKohler commented on #285
We are currently working on a refresh of the Activate page. This project is in its early stages, but we will have a look at this as we're rewriting the full website. Thanks!

[2018-07-20 14:52] #285 closed

[2018-07-20 14:52] MichaelKohler commented on #283
We are currently working on a refresh of the Activate page. This project is in its early stages, but a branding alignment is part of it.

[2018-07-20 14:52] #283 closed

[2018-07-20 14:53] MichaelKohler commented on #211
We are currently working on a refresh of the Activate page. This project is in its early stages, but we will have a look at this as we're rewriting the full website.

[2018-07-20 14:53] #211 closed

[2018-09-01 09:15] #117 closed

[2018-09-01 09:16] MichaelKohler commented on #296
Thanks for filing this, as the leaderboard will be removed with the next iteration, I'm closing this one.

[2018-09-01 09:16] #296 closed

[2018-09-01 12:17] MichaelKohler commented on #213
@couci @LucyeoH I suppose this is not relevant anymore, can we close it?

[2018-09-01 12:21] MichaelKohler opened #298 "Move MichaelKohler/activate-rewrite here"
Move the rewrite of the activate page to this repo and deprecate the rewrite one.

- [x] Check out gh-pages of https://github.com/mozilla/activate.mozilla.community and create a master branch
- [x] Delete content of master branch
- [x] Apply all commits of this repo to the master branch
- [x] Adapt README
- [x] Move issues
- [x] Deprecate this repo and link to normal one

[2018-09-01 12:22] MichaelKohler opened #299 "Setup Pontoon"
- [x] Decide on initial locales
- [x] Get project listed on Pontoon
- [x] Give permissions to Pontoon on repo
- [x] Remove pseudo ES localizations
- [x] Get admin access on Pontoon to enable new locales
- [x] Define process on when locales are ready to be enabled on the site

[2018-09-02 05:44] ranjithrajv commented on #288
Follow the discussion here https://github.com/mozilla/activate.mozilla.community/issues/299

[2018-09-03 15:59] MichaelKohler opened #300 "Add copy for "Ongoing campaign" and "Newsletter""
@LucyeoH to provide the copy

[2018-09-03 16:00] MichaelKohler opened #301 "Make Service Worker (offline) work in Firefox"
Currently the Service Worker (added with the rewrite) does not work in Firefox, but does in Chrome. Will need to look into why not.

Steps to reproduce (as far as I remember):
* Open site locally
* Check that service worker got registered
* Click on "File" -> "Work offline" in Firefox
* Reload page and observe that it still shows (cached from Service Worker)
* Start "Online" mode again in Firefox

[2018-09-03 16:24] #298 closed, assigned to MichaelKohler

[2018-09-03 17:10] MichaelKohler commented on #299
https://bugzilla.mozilla.org/show_bug.cgi?id=1488256

[2018-09-03 17:27] MichaelKohler commented on #210
@LucyeoH @couci is this still required? Or will we focus mainly on campaigns and therefore already have Splash to cover this?

[2018-09-05 17:39] MichaelKohler commented on #299
This is done: https://pontoon.mozilla.org/projects/mozilla-activate/

We'll wait with comms until we communicate the release of the rewrite.

[2018-09-05 17:39] #299 closed

[2018-09-05 17:40] MichaelKohler commented on #300
This is done.

[2018-09-05 17:40] #300 closed

[2018-09-05 17:40] MichaelKohler opened #302 "Add correct newsletter ID"
The newsletter form currently uses the "Mozilla and You" newsletter ID (from the example). We need the correct ID. I've asked @LucyeoH to give that to me.

[2018-09-05 17:46] MichaelKohler opened #303 "Automate Release"
There are several pushes within a few seconds coming from Pontoon (per language pushes), therefore we should not deploy on every master commit. As suggested by flod, we're gonna use a seperate branch that gets synced regularly. We can still manually trigger the release if we need to have a release faster than that regular sync. I think 1 hour should be fine to sync between master and the productio

[2018-09-05 19:50] LucyeoH commented on #302
Requested in Bugzilla #1475005 waiting to hear back from the email team

[2018-09-05 21:51] LucyeoH commented on #210
I'd pause on this. We might come back to it in Q4.

Lucy

On Mon, Sep 3, 2018 at 1:27 PM, Michael Kohler <notifications@github.com>
wrote:

[2018-09-10 13:54] #213 closed

[2018-09-10 13:55] MichaelKohler commented on #210
Closing for now.

[2018-09-10 13:55] #210 closed

[2018-10-04 14:19] couci opened #306 "change copy for email subscription"
This is for the rewrite Michael has been working on

In order to make clear that our users will subscribe to a news letter please change the wording from:
"Join Mozillians all around the world" to "Subscribe to our newsletter and join Mozillians"

[2018-10-30 20:54] #302 closed

[2018-10-30 20:54] #306 closed

[2018-11-18 20:58] missuniverse opened #314 "Update HTTP to HTTPS"
Changed links to HTTPS when supported.
Pull request:
#313

Please review the pull request.

[2018-11-18 21:02] #314 closed

[2019-01-20 16:42] MichaelKohler opened #318 "Check of Copy"
Before we can merge the PR with the rebranding, we need to make sure that the copy is as we want it. Otherwise our localizers will translate stuff we will change again.

Here is the latest state, including rebranding and my on-top fixes: https://rewrite.michaelkohler.info/

@couci please go through it and tell me any wishes regarding copy, including making sure that legal agrees with the newslette

[2019-01-20 16:44] MichaelKohler opened #319 "Event Guide Links"
Currently the event guide links are pointing to the Activate Page: https://rewrite.michaelkohler.info/eventguide

This is not nicely styled, so we should decide whether we want to style this site and keep it; or if we want to link to Discourse.

@couci thoughts?

[2019-02-19 12:49] couci commented on #318
approved copy was provided to @MichaelKohler by pm
@MichaelKohler let me know if you need anything else

[2019-02-19 12:51] couci commented on #319
I think the easiest solution is to move it, however I would like to keep it for consistency. @MichaelKohler how much time will it get you to style it up?

[2019-02-19 18:08] MichaelKohler commented on #319
Well, depends on how it should look. Making it look "okay" shouldn't take too much time, but it will be simple.

[2019-02-20 11:31] couci commented on #319
Simple is all we need :)

[2019-02-20 18:00] MichaelKohler commented on #318
I've changed the copy. Additionally I've added the legal newsletter text to all instances of the newsletter form -- when no campaign is shown and in the footer.

Check it out here and close this issue if okay:

https://rewrite.michaelkohler.info/ (without active campaign)
https://rewrite-campaign.michaelkohler.info/ (with active campaign)

[2019-02-20 18:02] MichaelKohler commented on #319
@couci Please check https://rewrite.michaelkohler.info/eventguide and close this if all good.

[2019-02-28 15:47] couci commented on #319
this looks good, closing

[2019-02-28 15:47] #319 closed

[2019-02-28 15:49] couci commented on #318
this looks good to me, thanks @MichaelKohler
Question on the campaign page is there a possibility that we won't have anything on the upcoming part?

on the old one could we add past campaigns? do you need help with adding those old websites?

[2019-03-07 17:39] #318 closed

[2019-03-07 18:05] nukeador opened #320 "Link to this repo"
I can't find a link on the site to this repo: See the code or report issues :-)

[2019-03-08 09:54] MichaelKohler commented on #320
https://github.com/mozilla/activate.mozilla.community/pull/321

[2019-03-08 10:00] #320 closed

[2019-03-08 16:53] MichaelKohler commented on #303
Travis CI is now building and deploying to the production environment:

* when there is a push to the deploy branch
* every day

This should be good enough for now. Would love to have deployments more often than that for the l10n strings, but travis doesn't seem to support that with my account (maybe premium needed?)

[2019-03-08 16:53] #303 closed

[2019-03-13 10:44] kelimuttu opened #323 "Add SUMO Days as Active Campaign"
URL: https://events.mozilla.org/firefox66supportsprint
Title: Firefox 66 SUMO Sprint
Date: March 19 - April 2 2019
Description: Join the SUMO community through supporting Firefox Desktop and Firefox for Android users. Let's save the world from behind the comfort of your computer!
Image:
![Screenshot_2019-03-13 Firefox 66 SUMO 2 Week Sprint](https://user-images.githubusercontent.com/4922388/5427302

[2019-03-13 11:04] MichaelKohler commented on #323
Would it make more sense to just use a firefox logo? Screenshots as images can be confusing and there is too much info on it destracting from the real info right next to it.

[2019-03-13 12:31] kelimuttu commented on #323
Sure. We don't have any specific logo anyway.

[2019-03-13 12:35] MichaelKohler commented on #323
I'll make a PR with the Firefox logo and let you review it. And I'll post a screenshot there how it would look like with the image attached above, so you can decide :)

[2019-03-13 12:47] kelimuttu commented on #323
sure. Thanks! (:

[2019-03-14 15:22] couci commented on #323
Hey both,
thanks for your work. By looking at this again could we make some small changes?
I would suggest ochange the picture with something like: https://static-media-prod-cdn.sumo.mozilla.net/static/sumo/img/gi-hero-butler.png

Also we should have a description under the title, proposal: Join the community through supporting Firefox Desktop and Firefox for Android users.

Last thing, since not

[2019-03-14 15:26] couci opened #325 "Add Common Voice activity at the activate website"
@MichaelKohler we created a new activity to be added on the activities list. You can find the doc here:
https://docs.google.com/document/d/1GtiqmK37dKPykTC2abEHroL5d-Fc5BsTVbTYxGjm0vE/edit?ts=5c8931c6

Let me know if you need any more info

[2019-03-14 17:46] LucyeoH commented on #323
Hey @couci any reason we didn't use the new template for this campaign? https://events.mozilla.org/activateeventtemp

[2019-03-14 18:11] MichaelKohler commented on #325
I'll create an initial version, then we can figure out what exactly we're missing ;)

[2019-03-14 18:11] MichaelKohler commented on #325
@couci also, are you sure we wanna take the Nightly one? Would it make sense to take the WebVR one and split into foldable sections?

[2019-03-14 18:16] kelimuttu commented on #323
FYI @couci I made a new PR for this changes https://github.com/mozilla/activate.mozilla.community/pull/326

[2019-03-14 18:29] MichaelKohler commented on #323
This is already in production, as it's already better than before. @couci if you have any other requests, add them here. Otherwise close this one :)

[2019-03-14 22:19] MichaelKohler commented on #325
Nevermind, it says in the doc about the sections

[2019-03-15 10:44] couci commented on #323
@LucyeoH since we had to follow the SUMO event template we preferred not to use the campaigns template

[2019-03-15 10:44] #323 closed

[2019-03-19 13:13] couci commented on #325
@MichaelKohler what do you think the time estimation will be on this one?

[2019-03-19 18:31] couci opened #329 "Add pontoon link at the activate page"
I think it's a good idea to have a reference on where people can translate the page, like a pontoon link.
Suggested places:
1) the footer
2) under the language scroll down

[2019-03-19 19:18] MichaelKohler commented on #325
Let's say by the end of Sunday for you to review on Monday. Does that sound good?

[2019-03-20 11:16] couci commented on #325
sounds good to me

[2019-03-20 13:49] LucyeoH opened #330 "Add link to additional contribution resources in the footer"
One of the longest-standing complaints we hear about Mozilla contribution sites is that they don't have a path that "leads people to helping develop our open-source projects (e.g., filing bugs, writing code)". While the goal of Activate is to surface widely-accessible contribution opportunities, I think we can easily address this concern by placing a few carefully chosen links in the footer of the

[2019-03-20 17:37] couci opened #331 "Add language option on the newsletter subscription"
We would like to launch the language option on our newsletter homepage.In order to do so here are the changes that need to happen:
- [ ] add optional language dropdown with the following locals: German, Spanish, Brazilian Portuguese, French, Russian
- [ ] turn country selection to optional
- [ ] add the following line under the dropdown selection the subscribe message: "We’ll default to English bu

[2019-03-23 11:17] MichaelKohler commented on #301
Also, I'm removing the Service Worker for now, as the caching is waaay too aggressive for some reason.

[2019-03-25 18:44] #329 closed

[2019-03-25 18:44] #330 closed

[2019-03-25 18:47] #325 closed

[2019-03-26 10:50] nukeador opened #335 "Unclear UX for drop-down items"
Checking the site from mobile it was very unclear to me that I had to click on the drop-down elements to see content

![imagen](https://user-images.githubusercontent.com/531906/54991447-449c0680-4fbd-11e9-8f6e-0efcd5d186ef.png)

I don't know if there is a better way to signal this or if it's just me scrolling up and down trying to find the actual content :-P

[2019-03-27 14:10] nukeador opened #336 "Pontoon out of sync?"
Hi,

I don't see the new localization files over pontoon, I just see the old ones here:

https://pontoon.mozilla.org/es/common-voice/

Cheers.

[2019-03-27 14:40] MichaelKohler commented on #336
Did you link the wrong project or did you intend to file this issue in the voice-web repo?

For activate it would be https://pontoon.mozilla.org/es/mozilla-activate/

[2019-03-27 15:45] nukeador commented on #336
You are right, I got confused.

[2019-03-27 15:45] #336 closed

[2019-03-28 16:10] nukeador opened #337 "Enable pontoon in-context localization"
This will help people who want to focus on sections like homepage or a specific activity, rather than the whole set of strings

https://developer.mozilla.org/en-US/docs/Mozilla/Implementing_Pontoon_in_a_Mozilla_website#B._(optional)_Enable_in-page_localization_of_your_web_project

/cc @peiying2 in case we need something else on pontoon side once this is deployed.

[2019-03-28 23:59] MichaelKohler commented on #337
I've included the Pontoon script and deployed. However, we will need to change the X-FRAME-OPTIONS header before it will work, I'm looking into that.

Here's the full list of sub URLs we have. All of these links also exist without a locale path, for example: https://activate.mozilla.community/commonvoice. However, when going to that page, every subsequent link will lead to /locale/whatever. Hope t

[2019-03-29 22:01] Mozilla-GitHub-Standards opened #338 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-30 00:10] #338 closed

[2019-04-01 20:34] LucyeoH opened #339 "Add Upcoming Campaigns on the Campaign Site"
Can we add an "upcoming" campaigns section to the campaign page of the activate site? I think we even had a mock-up for that at some point (goes searching).

[2019-04-01 20:43] MichaelKohler commented on #339
If you have a mockup, sure. So we went from months without campaign to the need to have an active and upcoming campaign? I like that ;)

[2019-04-03 15:26] hmitsch opened #340 "Add Google Analytics via Google Tag Manager (GA via GTM)"
In order to measure campaign impact, we would like to integrate Google Analytics via Google Tag Manager into the Activate Site. This allows us to see "click events". As usual, please remember to wrap this into a DNT clause.

[code]

Thanks for all the awesomeness.
-Henrik

[2019-04-03 16:47] MichaelKohler commented on #339
If you don't have a mockup, feel free to draw something how it approximately should look and we can go from there.

[2019-04-03 16:52] LucyeoH commented on #339
Mock-up acquired! The only thing I'd do is add a "subscribe" button to the upcoming events.
![Activate_Page03_Campaigns_PlusUpcoming](https://user-images.githubusercontent.com/8070833/55497363-37ab9280-560f-11e9-81eb-271893372fb7.png)

[2019-04-03 17:00] MichaelKohler commented on #339
and "Subscribe" would do what exactly? go to activate.mozilla.community/newsletter?

[2019-04-03 17:00] MichaelKohler commented on #339
also, instead of a subscribe button we could just link the whole box, what do you think about that?

[2019-04-03 17:10] LucyeoH commented on #339
So I think events would  go up here once they have their splash pages ready. So then the button would take them to the RSVP button for the campaign or to the splash page. So maybe we could call it "RSVP"?

[2019-04-03 17:11] MichaelKohler commented on #339
In that case I'd say let's link the whole box to keep consistency (the other boxes are linked the same way)

[2019-04-03 17:54] LucyeoH commented on #339
+1

[2019-04-05 09:01] #331 closed

[2019-04-08 13:11] nukeador opened #341 "Add campaigns outcomes as part of "Past campaigns""
People should be able to understand the value of their contributions in those campaigns or what we were doing in the past.

We should include the outcomes/report of the campaign as part of the listing.

[2019-04-08 13:12] nukeador opened #342 "Surface how to run community-driven campaigns"
The site should explain/link in a visible way that people can create their own community-driven campaigns.

We should also explain what are the areas of action we are currently interested.

[2019-04-08 13:14] nukeador opened #343 "Enable locales even if they are not 95% complete"
I think we should activate locales even if they are not fully localized.

People might be interested in having just front page and the last active campaign done and don't care about the rest, we should enable that.

[2019-04-08 13:16] MichaelKohler commented on #343
This sounds like a process change rather than code change. Sure, let's do that. Can we close? :P

[2019-04-08 13:16] MichaelKohler commented on #343
(sure, the README needs to be updated, fair enough)

[2019-04-08 22:37] nukeador commented on #343
@MichaelKohler I'm worried most localizers will never know they have to do an additional step to enable the locale and they have to request it via github (instead of pontoon where we point them).

Is there a way to avoid this manual request?

[2019-04-09 04:32] MichaelKohler commented on #343
I'd argue most l10n at Mozilla has some kind of manual step to enable a language. We could do it automatically but then we need a trigger. The only trigger that comes to mind is "locale enabled on Pontoon" which says nothing about the progress.

We can lazy load additional languages but in the end we would end up with quite a lot of languages with a few sentences translated. Not sure if that's wha

[2019-04-09 04:38] MichaelKohler commented on #343
Also note that requesting the available languages from Pontoon might take time, so the availability of the user's preferred language the browser sends with the request might not be known for quite some. This means that on slow networks we would show English and then once that check is done, switch the user over to their preferred language. Possibly while the user is reading content on the website,

[2019-04-09 09:40] couci commented on #342
I believe we should connect this with the work Monika from the council is doing

[2019-04-09 09:55] couci commented on #343
@MichaelKohler is there a way where we can trigger exposure of translated content only in case that the whole page has been translated?
example: in german there is only the front page translated so have the front page translated but not the activities.
Note: if we do that we need a banner on top of those pages saying to people that this is not translated so we avoid false expectations.

[2019-04-09 14:34] LucyeoH opened #344 "[Common Voice Activity] Add button linking to Common Voice website"
Hey All,

@nukeador  and I want to do a little experiment.  Can we:
1. Add a button (as seen below) that sends people to https://voice.mozilla.org
2. Use GA to know how many people click on the button.
3. Use GA to know how many people click through the activity descriptions on the page.

Then in 1 month, move the button to below the activity descriptions and track again to compare.

<img width="7

[2019-04-11 16:08] MichaelKohler commented on #344
We can tackle this once https://github.com/mozilla/activate.mozilla.community/issues/340 is done.

[2019-04-11 16:11] MichaelKohler commented on #343
That would require us to maintain a list of which strings are used on which page. And then we would need to have a script that cross-checks this with the translations that we have in the repo. That would be a very custom script.

That's what already would happen. Anything that is not translated is shown in English.

[2019-04-11 17:32] nukeador commented on #343
I was talking with Peiying about this, and for other mozilla web properties they are enabling localization as they go, as proposed here. The only exception is mozilla.org because they are including full pages in a single string.

@couci If you don't have any flags I think we should now enable all languages that we have on pontoon.

[2019-04-13 14:04] MichaelKohler commented on #340
GTM is enabled, all outgoing link buttons (like the campaign buttons) are submitting info. Will now check out how we can get page views.

[2019-04-13 14:26] MichaelKohler commented on #340
@hmitsch: I think this already works as expected, from what I can see in the console external button clicks as well as navigation within the page is already captured. You can probably remove the existing variable already as clicks on the campaign buttons as well as navigation is already being tracked without data layer.

Can you please close this issue if everything is working as expected?

[2019-04-14 08:14] #339 closed

[2019-04-20 14:49] MichaelKohler commented on #343
I'd be fine with that, but we would still need a process about new languages being added. I'd rather not have them be queried on every single request but rather added to our repo. This needs a manual trigger and PR or an automatic script (and therefore a backend).

[2019-04-22 11:27] MichaelKohler commented on #340
@hmitsch quick ping here

[2019-04-25 14:54] couci opened #345 "Update common voice copy"
The common voice copy activity needs to be updated based on the new suggestions from the copywriter:
https://docs.google.com/document/d/1rxaBzLETjECcs0REhtLeVf3MYn7UUt2FhPV0n9EtUx8/edit#

[2019-05-07 14:23] LucyeoH commented on #340
@MichaelKohler @hmitsch any update here?

[2019-05-09 13:56] hmitsch commented on #340
Everything works as expected.

![image](https://user-images.githubusercontent.com/869692/57459182-fee88400-7272-11e9-8fe6-b1359d78a1d0.png)

Thanks, Michael!

[2019-05-09 13:56] #340 closed

[2019-05-15 20:09] nukeador commented on #343
@MichaelKohler Can we enable now all languages present over pontoon? We'll create a request for new languages so this doesn't need a backend.

https://pontoon.mozilla.org/projects/mozilla-activate/

Thanks!

[2019-05-15 21:00] MichaelKohler commented on #343
Works for me, will do.

[2019-05-17 18:08] LucyeoH commented on #344
Hey! Sounds like #340 is done. Might be good to sync with @nukeador and Lindsay on this too as part of the tracking for the experiment email.

[2019-05-18 10:21] #343 closed

[2019-05-18 10:22] #345 closed

[2019-05-18 10:23] MichaelKohler commented on #344
@nukeador does the initial description still match what you'd like to do? Anything else?

[2019-05-20 21:54] nukeador commented on #344
Yes, what do you need to know to set it up?

[2019-05-20 22:04] nukeador opened #347 "Footer form, missing checkbox"
On the footer I think we are missing the checkbox to agree with the privacy policy

![imagen](https://user-images.githubusercontent.com/531906/58054764-e96d3700-7b5b-11e9-90b6-21a4d1e75fce.png)

[2019-05-20 22:06] nukeador opened #348 "#MozActivate should link to new tweet"
In "Share your experience with #MozActivate"

Maybe #MozActivate should be a link to a new tweet with that hashtag already filled

http://twitter.com/home?status=This%20is%20my%20text%20%23MozActivate

[2019-05-21 09:25] MichaelKohler commented on #344
I don't think I need anything for now, I just need to send a GA event and then verify that we are actually getting it (will need help from someone who actually has access to GA).

[2019-05-21 09:25] MichaelKohler commented on #347
yay, styling is hard. Will check what is wrong here.

[2019-05-22 10:41] elvisqi opened #349 "can not type Chinese(IME) in contenteditable's div in shadowDOM"
I try Chrome/Safari is fine
broken on FireFox
https://codesandbox.io/embed/shadowdomcontenteditablecannottypeime-bdkpe

please help

[2019-05-22 11:43] MichaelKohler commented on #349
Can you please file a bug at https://webcompat.com/? Thanks!

[2019-05-22 11:43] #349 closed

[2019-05-22 11:56] MichaelKohler commented on #348
Any chance we could just pass the hashtag as text? Then we don't need to worry about localization which would be quite a mess due to the encoding needed and possible placement inside the URL.

[2019-05-22 12:49] nukeador commented on #348
AFAIK the text should be urlencoded, I don't know if that's what you are asking.

[2019-05-22 15:31] LucyeoH opened #350 "Link back to Mozilla.org from Footer"
It would be good to give people a pathway back to Mozilla.org. Perhaps adding to the footer:

Company:
* About (that links to mozilla.org)

(like the image but without press center or careers)

<img width="160" alt="Screen Shot 2019-05-22 at 10 52 15 AM" src="https://user-images.githubusercontent.com/8070833/58187449-c68a7200-7c84-11e9-939a-c0f573e19680.png">

Including @hoosteeno for other ideas.

[2019-05-22 17:47] MichaelKohler commented on #347
@nukeador which browser did you test this with? I can't reproduce this in neither Firefox Nightly, Firefox Release nor Chrome.

[2019-05-22 18:01] MichaelKohler commented on #344
Instead of creating tracking logic for this in the website, I think we could use GTM itself: https://www.wearefine.com/mingle/tracking-link-clicks-with-tag-manager-part-i-the-basics/

Then we just need to add the button and possibly with a link that has a utm query param or similar so we can identify it.

@nukeador can you have a look at this? I don't have access to GTM.

[2019-05-22 18:13] #348 closed

[2019-05-22 19:45] nukeador commented on #347
Beta under Linux

[2019-05-23 21:27] MichaelKohler commented on #347
Fix should be deployed in a few minutes.

[2019-05-23 21:27] #347 closed

[2019-05-23 21:28] MichaelKohler commented on #350
.. or possibly in the header navigation as "mozilla.org"? Or maybe that's too prominent?

[2019-05-24 09:33] hsivonen opened #351 "The site doesn't speak to people who are interested in building and patching Firefox"
At present, https://activate.mozilla.community/ doesn't speak to people who are interested in learning how to build Firefox from source, modify the source, and submit a patch (especially if their expectations may have been set by other Open Source projects).

This is bad, because when contributing code is the most obvious kind of contribution to an Open Source project, conspicuously only listing c

[2019-05-28 14:14] LucyeoH commented on #351
Hey - Thanks for this! We are currently gathering input and ideas for experiments to run on the activate site in H2! If you want to add even more ideas and feedback we have put together a [form here](https://docs.google.com/document/d/13O7Y3IwaY7kztC6SjJDp2z3gge8PcHlbS_FDpe86dWw/edit#heading=h.vv0fpyz35f03).

[2019-05-29 05:08] stagedataloss commented on #350
test123

[2019-05-29 05:09] stagedataloss commented on #342
test123

[2019-05-29 12:46] LucyeoH commented on #350
@MichaelKohler I'd rather keep the header sending ppl back to the front page of activate.

[2019-05-29 19:26] MichaelKohler commented on #350
@LucyeoH sorry, that was not clear. I mean something like the following, not sure if it's a good idea or not though.

<img width="699" alt="Screenshot 2019-05-29 at 21 25 44" src="https://user-images.githubusercontent.com/330324/58585209-9ecc7880-8247-11e9-8b00-da9808e322e6.png">

[2019-05-30 15:50] LucyeoH commented on #350
Oh I don't think it needs to be THAT prominent. I actually chatted to Konstantina and it turns out there's already a template for how to do this in the footer that we have on the bottom of [the Activate template](https://events.mozilla.org/becomeabetatestingbughunter).

Don't know why I didn't realize it earlier!

<img width="460" alt="Screen Shot 2019-05-30 at 11 49 17 AM" src="https://user-image

[2019-05-31 14:06] couci opened #352 "Build Your Own Extension for Firefox"
Work with Andreas and Caitlin from the add-ons team to understand if the activity is still relevant

[2019-05-31 14:07] LucyeoH opened #353 "Insert new evergreen activity "Code for Firefox""
As an experiment #351 we want to make it easier for people to discover code contribution opportunities and measure how many people interact with it.

Please add a new activity to the Activate site.

Image: https://developer.mozilla.org/static/img/opengraph-logo.72382e605ce3.png
(If anyone has a suggestion of a better image please let us know!)

Text: Code for Firefox

Link to: https://developer.mo

[2019-05-31 14:08] MichaelKohler commented on #353
At which position?

[2019-05-31 14:47] LucyeoH commented on #351
We'll be addressing this through a new "evergreen" activity specifically for coding. See #353

[2019-05-31 14:47] #351 closed

[2019-05-31 15:10] LucyeoH commented on #339
@MichaelKohler why was this closed?

[2019-05-31 15:16] couci opened #354 "Add discourse reports to past campaigns"
Instead of having the link to RSVP, add the discourse summary reports on the past campaign pages

[2019-05-31 15:18] LucyeoH commented on #353
At the bottom is fine for now. Konstantina and I are auditing all the activities and will do a re-arrange later.

[2019-05-31 15:32] MichaelKohler commented on #339
Because it's implemented.

[2019-05-31 15:32] MichaelKohler commented on #354
That makes sense. Will you send me all the necessary links?

[2019-05-31 15:34] LucyeoH commented on #339
Oh! Because we don't have any upcoming campaigns yet! Got it!

[2019-05-31 15:42] MichaelKohler commented on #339
Yes, you or K will need to tell me if I need to add a campaign or upcoming campaign ;)

[2019-06-07 16:18] nukeador opened #355 "Split localization files per page"
It would be more productive for localizers to be able to see all the strings for a page in an individual file. This way they can prioritize the ones that are more important or identify where missing strings are.

This will also allow community managers to point to a specific activity page that needs to be covered.

homepage.ftl
faq.ftl
common-voice.ftl

...

[2019-06-08 06:53] avelper commented on #355
Hi! I totally agree with this. Also, when only a few contents of the page are translated while the others are still in English, it doesn't look good from the users perspective.

Thanks in advance!

[2019-06-09 14:13] #353 closed

[2019-06-09 14:35] #350 closed

[2019-06-09 14:36] MichaelKohler commented on #337
Instead of going for the infra PR, I've asked nemo directly to change the X-Frame-Options header for the website so we can move forward here.

[2019-06-13 13:15] nukeador commented on #355
I've asked the localization team, and if we split files we would loose all suggestions in pontoon, attribution data in the db and history (e.g. if previous translations existed and were rejected).

Now, we can only add new strings in separate files, and hope to reduce the size of the main one with time.

There are currently 1K pending suggestions we can't risk losing.

@MichaelKohler ideas?

[2019-06-13 13:16] MichaelKohler commented on #355
Oh, I see. Nope, no other solutions :(

[2019-06-13 13:18] nukeador commented on #355
Can we do at least new string to new files so we start transitioning into that?

[2019-06-13 13:20] MichaelKohler commented on #355
sure, let's close this and I'll keep this in mind.

[2019-06-13 13:20] #355 closed

[2019-06-13 14:14] lissyx opened #356 "Activity titles string include emoticon"
The string includes the emoticon, while it should not.

![Screenshot_2019-06-13 Contribute to Common Voice Activate Mozilla](https://user-images.githubusercontent.com/1645737/59439891-56d85480-8df6-11e9-9207-92cad78f96c3.png)

[2019-06-13 14:16] lissyx opened #357 "Material links should be localized"
Several links in the activate page points to elements that can be localized, including :
 - Discourse Common Voice section (there are some localized)
 - Slides (we should be able to localize them)
 - Instructions documents (we should be able to localize them)

[2019-06-13 14:17] lissyx opened #358 "Images samples should be localized"
A few elements to help explain are images, from screenshots of the website. For proper localization, we should able to change them to localized versions.

[2019-06-13 14:19] lissyx opened #359 "Include real booth experience"
We hosted a contribution booth on a pretty-crowed event, with some feedback being posted on Discourse: https://discourse.mozilla.org/t/common-voice-workshop-with-3-cabins/41352/4

it would be great if that experience feedback gets included to help others

[2019-06-13 14:20] lissyx opened #360 "Extra event localized material"
As part of holding some events for French Common Voice, and thanks to Taiwanese Community member, we have some other material (namely different posters, business cards) that is localized and that can be of help for anyone wanting to host an event. Having a way to share / link from from Activate page would be great.

[2019-06-13 17:11] MichaelKohler commented on #360
@couci thoughts? How should this look? Doing it per localization might be tricky.

[2019-06-13 17:12] MichaelKohler commented on #357
That sounds reasonable, yes.

[2019-06-13 17:13] MichaelKohler commented on #358
Mh, that might get tricky. This probably would need to be outside of the Fluent translations and rather be images that are hosted in the public folder.

[2019-06-13 17:14] MichaelKohler commented on #359
Over to @couci

[2019-06-13 17:15] MichaelKohler commented on #356
Is there a specific reason why they shouldn't be? I could image that the clown could not be a very good icon in some cultures and this would allow to change it for specific locales.

[2019-06-13 17:18] LucyeoH opened #361 "Add Upcoming Campaign: Firefox For Good Contest"
Can you put this up as an upcoming campaign?

https://events.mozilla.org/firefoxforgood-surfacingqualitycontentandconversat

[2019-06-13 17:22] MichaelKohler commented on #361
@LucyeoH any prefered thumbnail image? And should I take the title and description from that page?

[2019-06-13 17:39] LucyeoH commented on #361
Title: "Firefox For Good Competition"
Thumbnail: https://pixabay.com/vectors/anatomy-biology-brain-thought-mind-1751201/

[2019-06-13 18:55] #361 closed

[2019-06-13 19:17] LucyeoH commented on #361
@MichaelKohler Thanks SO much! Can we also add a "get involved" button?

[2019-06-13 19:19] MichaelKohler commented on #361
@LucyeoH I thought we decided to link them the same way as we do the "past campaigns" so that whenever you click on the title or picture you get to the link?

[2019-06-13 19:22] lissyx commented on #356
@MichaelKohler Well, @nukeador said that on Slack and suggested to file a bug for it :-)

[2019-06-13 19:23] lissyx commented on #360
If we can get a localized link for extra material that might be enough and we can link to our github account for example ?

[2019-06-13 19:31] LucyeoH commented on #361
I feel like having a "get involved" or "RSVP" button makes it clear it's
something you should engage with now. Rather than the past campaigns that
you can visit but not meaningfully engage with. Thoughts?

On Thu, Jun 13, 2019 at 3:19 PM Michael Kohler <notifications@github.com>
wrote:

[2019-06-13 21:09] MichaelKohler commented on #361
Fair enough, the change is deploying and will be visible in a few minutes.

[2019-06-13 21:49] MichaelKohler commented on #357
Discourse is blocked on https://github.com/mozilla/voice-web/issues/2070, so we have one single list of categories.

For Slides and instructions, the best way to do this would be to just link to a single folder with everything in it, see https://github.com/mozilla/activate.mozilla.community/issues/360

[2019-06-13 21:50] MichaelKohler commented on #360
@couci Nuke is suggesting instead of linking to specific documents to just link to one single folder for every language. Then we can put localized files in there. This would include the currently linked slides for Common Voice for example, as well as possibly other documents that would be added to the folders.

[2019-06-13 22:27] nukeador commented on #356
@MichaelKohler Having this into the localization interface is confusing and some locales removed the icon by mistake. Since this is a design decision I think for now it should be outside the strings, if one icon is problematic we can tackle that for all locales and find a better solution to fir them all.

[2019-06-14 14:05] LucyeoH commented on #361
You are, legitimately amazing.
Here is an appreciative Drake gif - https://gph.is/g/aQNQYVb

[2019-06-16 15:16] MichaelKohler commented on #357
https://raw.githubusercontent.com/mozilla/voice-web/master/locales/discourse.json

[2019-06-19 06:05] #357 closed

[2019-06-19 18:52] MichaelKohler commented on #356
Here's my take on it:
* Some locales do not have it (either due to confusion or deliberately) - for example fr
* Some locales opted to change the emoticons - for example ru
* Generally I'd say the emoticons as well as the text should be internationalized - not just translated. I'm sure there are several locales where "ranger" does not make much sense and there would be a better word and there woul

[2019-06-19 20:09] lissyx commented on #356
I don't really have an opinion here, I just stumbled upon the fact that it was missing, when I was working to localize it more (work has been started).

I'd think doing i18n on them makes sense, any opinion @TheoChevalier ?

[2019-06-19 21:16] TheoChevalier commented on #356
Yup, totally agree to @MichaelKohler’s take above, I’d advocate for either this (i.e. keeping them as part of the string) or removing them altogether, and can confirm the theory for French — it was a deliberate omission, because we transcreated the copy and the new copy in French didn’t match the original meaning of the English copy anymore. We also felt the use of emoticons here wasn’t a great fi

[2019-06-20 05:29] petercpg opened #362 "avoid using zh-CN as localization fallback for zh-TW"
I think this might be a issue at the l10n library side, but please directly use English as fallback, when string is missed in zh-TW localization, instead of using zh-CN strings.

That is, expected: zh-TW -> en ; actual: zh-TW -> zh-CN -> en .

[2019-06-20 06:14] MichaelKohler commented on #362
I *think* we do not have any preference there, however it might be that fluent (the framework we're using) does. I could imagine it falling back through the "cn" identifier and then back to EN. I'm on my phone right now so hard to say.

@Pike @stasm thoughts here?

[2019-06-20 17:38] stasm commented on #362
It looks like _activate.mozilla.community_ uses `fluent-langneg`, which is our recommended language negotiation library built upon the [RFC4647](https://tools.ietf.org/html/rfc4647). Falling back on other regional variants of `zh` is a _feature_ of the algorithm. I understand that there are reasons to bypass it in some cases. Unfortunately, we don't support any way to do it right now.

@zbraniecki

[2019-06-20 17:51] zbraniecki commented on #362
The idea of language negotiation is to facilitate custom fallback chains and fallback on "default" ones in the absence.

In that case, I'd expect the user to specify their preferred language fallback chain to be `["zh-TW", "en-US"]`.
Otherwise we have to try to rely on the data we have. If the user asks for `zh-TW` we can deduct using likelySubtags[0] that their locale is `zh-Hant-TW`, but then wh

[2019-06-20 20:07] MichaelKohler commented on #337
I've talked with nemo and it would be quite complicated to make sure we can set that header, as GitHub Pages overwrites them. We would need him to implement custom behavior and therefore need his time. There are more important things to do, so I will put this in the backlog.

[2019-07-03 11:29] couci commented on #356
I think we should keep them in the string and give the freedom to locals to remove them or change them as they see fit

[2019-07-03 11:29] #356 closed

[2019-07-03 11:31] couci commented on #360
I think having a folder makes sense. @lissyx what graphic material did you use? I would like to pass it first by Megan before we make them available to the whole community

[2019-07-17 22:36] peiying2 opened #363 "Move locale bn-BD to bn"
We are going to merge the two bn-* locales into one to fully utilize the community resources. The project has only bn-BD. We want to sync up with the rest of the localized products/projects. The plan is

Dev:
- Mozilla Activate creates a bn folder at repo
- Move bn-BD repo content to bn repo and confirm it's all there (bn-BD has more content in comparison)
- Remove bn-BD

Pontoon (l10n):
- Pontoon

[2019-07-17 22:39] peiying2 opened #364 "Move locale bn-BD to bn"
We are going to merge the two bn-* locales into one to fully utilize the community resources. The project has only bn-BD. We want to sync up with the rest of the localized products/projects. The plan is

Dev:
- Mozilla Activate creates a bn folder at repo
- Move bn-BD repo content to bn repo and confirm it's all there
- Remove bn-BD

Pontoon (l10n):
- Pontoon dev migrates the data to bn (this incl

[2019-07-17 22:40] peiying2 commented on #364
@nukeador let know who I should assign this issue to.

[2019-07-18 00:41] MichaelKohler commented on #363
Let's dupe this against #364

[2019-07-18 00:41] #363 closed

[2019-07-21 15:58] #364 closed

[2019-07-21 15:58] MichaelKohler commented on #364
@peiying2 This is done on my side

[2019-07-25 12:25] couci opened #365 "Close Firefox for Good contest"
Since the contest is now over it shouldn't appear any more in our front page

[2019-07-25 13:54] LucyeoH commented on #344
@MichaelKohler can we add the button to the CV activity even before we have GA setup? We've gotten more feedback lately that the activities don't have easy-to-access CTAs and I think this is a quick fix. :)

[2019-07-26 17:26] #365 closed

[2019-07-26 20:34] Ryuno-Ki commented on #365
Oh, I need to update my website then :o

[2019-07-31 20:24] MichaelKohler commented on #344
Yes, I'll take care of this.

[2019-08-03 10:45] MichaelKohler commented on #362
@zbraniecki is there any update here? :)

[2019-08-03 10:46] MichaelKohler commented on #354
@couci what's the status here? also, does this replace #341 and that one could be closed?

[2019-08-15 18:02] #344 closed

[2019-08-15 18:03] MichaelKohler commented on #344
This is now done, including event when people click on it. @LucyeoH or @nukeador tell me when you want me to move it below the flow and I'll do it.

[2019-08-15 18:16] LucyeoH commented on #344
You are a hero

On Thu, Aug 15, 2019 at 2:03 PM Michael Kohler <notifications@github.com>
wrote:

[2019-10-18 07:56] Lovo666 opened #366 "Translation from Englisch to Romanian and German"
You need help to Translate your Work for Github, Mozilla, etc.
I need to Translate from English to German and Romanian.
Please ask for help.

[2019-10-20 22:27] Lovo666 commented on #366
You can not Translation your Using data from your App. I ca'n Help i Translate in German and Romanian.

[2019-11-01 14:04] couci opened #367 "Set Respond campaign as an upcoming campaign"
Set Respond campaign as an upcoming campaign in the front page https://events.mozilla.org/respond_campaign

[2019-11-01 17:27] #367 closed

[2019-11-26 12:36] couci opened #368 "Put Join Firefox Campaign on activate"
Add the Join Firefox Campaign of the landing page of activate: https://mozilla.github.io/firefox-accounts-campaign/

[2019-11-26 16:48] #368 closed

[2019-12-13 13:56] Francescaminelli opened #369 "Add as an active campaign SOTI for December 16th"
On Monday 16 of December, the following text should be posted. Note that a link to the platform should be added in the last sentence. The platform should be available on Monday.

Activate Page - Blurb
Main Title:  Share your thoughts on the Surveillance Economy
Image:  https://unsplash.com/photos/fPxOowbR6ls
Photo Credit: Photo by [Matthew Henry](https://unsplash.com/@matthewhenry?utm_source=unspl

[2019-12-13 14:21] couci opened #370 "Sunset the webextension activity"
We are working with @caitmuenster on having more impactful extensions activity on activate. One that can address both individual and group contributions.

Here are the steps to sunset:
- [ ] inform the community @couci
- [ ] inform core volunteers @caitmuenster
- [ ] take out the activity from activate @MichaelKohler

On January 2020 @caitmuenster and @couci will work to have a more impactful acti

[2019-12-13 14:26] couci opened #371 "Take out impact and metrics from the activities"
I think that the impact and metrics from the activities are internally faced and are not helpful to volunteers right now.
Let's take out those sections for now. I will work with the copywriter on how we can set goals as part of the event workflows

@MichaelKohler can we take them out for now and have them reappear (with a different copy of course) once the copywriter helps us to address this bette

[2019-12-16 13:13] nukeador opened #372 "Add community portal menu"
Community Portal v1 will still link to activate until we implement activities and campaigns. To avoid users confusion, we should implement the same top menu to allow people navigate through both sites easily.

![imagen](https://user-images.githubusercontent.com/531906/70909560-098ba880-200e-11ea-8c32-cf5e2dd9d934.png)

@LucyeoH

[2019-12-16 13:19] nukeador commented on #372
Something like this for every page:

![imagen](https://user-images.githubusercontent.com/531906/70909988-0218cf00-200f-11ea-86bc-270a96af81f3.png)

[2019-12-16 13:59] Francescaminelli opened #373 "Evaluate common voice"
Evaluate the activity before we move it to the community portal

[2019-12-16 14:00] Francescaminelli opened #374 "Evaluate Webcompat"
Evaluate the activity before move to the community portal

[2019-12-16 14:07] Francescaminelli opened #375 "Evaluate Rust"
Evaluate the activity before move to the community portal.

[2019-12-16 14:08] Francescaminelli opened #376 "Evaluate VR"
Evaluate the activity before it goes to the community portal

[2019-12-16 17:09] couci commented on #369
This is postoponed for tomorrow 17th December

[2019-12-16 20:03] MichaelKohler commented on #370
Tell me once you've informed the community and I'll remove it.

[2019-12-16 20:40] caitmuenster commented on #370
Community leaders were notified by me on June 12, 2019.

[2019-12-16 21:25] MichaelKohler commented on #369
This is (mostly) ready with limitations at https://github.com/mozilla/activate.mozilla.community/pull/377. Will need the platform URL before I can merge though.

[2019-12-16 21:53] #371 closed

[2019-12-17 18:26] #369 closed

[2019-12-18 17:30] #366 closed

[2020-01-06 14:55] couci opened #378 "Take down Firefox Account campaign"
The Firefox Accounts campaign is over, it is time to take it down and move it to the past campaigns

[2020-01-06 15:19] couci opened #379 "Take down State of the Internet Campaign"
The SOTI campaign is over, it needs to be moved to past campaigns

[2020-01-07 17:09] couci opened #380 "Add Firefox Voice Campaign on Activate"
Add https://events.mozilla.org/firefoxvoicecampaign as an active campaign.

Add this as info:
Firefox Voice is an experiment from Mozilla that lets you browse and get more done with your voice—faster than ever. We are looking for fearless early adopters who are willing to test the new add-on and give us feedback before the major public release.

Are you ready to join us? Simply install the browser

[2020-01-07 19:19] #378 closed

[2020-01-07 19:19] #379 closed

[2020-01-07 19:19] #380 closed

[2020-01-09 18:40] #352 closed

[2020-01-09 19:22] MichaelKohler commented on #372
Mh, that header does not work as I thought it did. It's basically the same header for both landing page/newsletter page and the rest of the pages. We do not want that black header for the landing page and newsletter pages, so this gets quite complicated and I would need to redo quite a lot of stuff to make this work.

I agree with you that just adding these links to the normal header might be conf

[2020-01-09 19:25] MichaelKohler commented on #372
https://github.com/mozilla/activate.mozilla.community/pull/381

[2020-01-09 19:44] MichaelKohler commented on #372
If somebody wants to try to add the black nav, please feel free :)

* To make this easier I'd say FAQ can be part of the black nav as well
* Black bar should not appear when the `is-header-no-bg` CSS class is set on the body
* When the black nav is shown, I don't think we should show the other nav - the dropdown needs to stay though
* In the mobile menu I'd say everything should be one navigation

[2020-01-09 19:58] LucyeoH commented on #372
Alternatively - could we just put a button at the top that takes people to
the community portal? Rather than baking it in all neatly?

On Thu, Jan 9, 2020 at 2:44 PM Michael Kohler <notifications@github.com>
wrote:

--
*__*
*Lucy Harris *
*Lead, Community Development*
*Open Innovation *
Mozilla <https://mozilla.org/contribute> Corporation
<https://mozilla.org/contribute>

[2020-01-09 20:02] MichaelKohler commented on #372
I think I'd prefer the normal links over a button, do you think a button would be less confusing than the links in https://github.com/mozilla/activate.mozilla.community/pull/381 (there are screenshots)?

[2020-01-09 20:28] LucyeoH commented on #372
Oh yah a normal link is fine. I just meant going with something scrappy
instead of well-designed given this is a 1-2 month stop-gap

On Thu, Jan 9, 2020 at 3:02 PM Michael Kohler <notifications@github.com>
wrote:

--
*__*
*Lucy Harris *
*Lead, Community Development*
*Open Innovation *
Mozilla <https://mozilla.org/contribute> Corporation
<https://mozilla.org/contribute>

[2020-01-10 13:17] nukeador commented on #372
"We do not want that black header for the landing page and newsletter pages"

Maybe I'm missing something, but what's the problem with that? I expect to see the header in every page.

[2020-01-10 13:19] MichaelKohler commented on #372
Note that the landing page and the newsletter page have different header styles, they both have the background extending towards the bottom of the page. I really doubt we wanna put the black header in the middle of that.

<img width="1680" alt="Screenshot 2020-01-10 at 14 19 20" src="https://user-images.githubusercontent.com/330324/72155813-db4e7e00-33ab-11ea-9e23-470fbd40674d.png">
<img width="16

[2020-01-10 13:23] nukeador commented on #372
Having in mind that we want this to be a quick fix while we have community portal ready for activities and campaigns (end of Q1 hopefully).

If for this change to be quick, we have to alter the original design and have a black header also on those pages, I'm fine with it. I don't think it will influence much into how people use the site right now in a negative way and will provide huge value to di

[2020-01-10 13:24] MichaelKohler commented on #372
Chandan said he's gonna have a look. If he can do it, let's do it. If not, let's go with my PR that just adds it to the normal menu.

[2020-01-10 13:25] nukeador commented on #372
(And maybe there is an easy way to make this bar transparent for those pages if we want to)

[2020-01-10 13:25] MichaelKohler commented on #372
That would be the same condition, so not displaying is preferred ;)

[2020-01-10 13:27] nukeador commented on #372
My point is that I would like to see the menu from frontpage and newsletter page, ideally black bar for consistency > transparent bar > using the current header (in that order)

[2020-01-10 13:28] MichaelKohler commented on #372
Gotcha

[2020-01-12 15:37] kindavishal commented on #372
Hey folks :wave:
Need any help here? Or is it solved?

[2020-01-12 16:16] MichaelKohler commented on #372
If you want to give it a shot to try to add the black menu bar, we'd definitely take a PR :)

[2020-01-12 17:17] kindavishal commented on #372
Okay, so tasks mentioned https://github.com/mozilla/activate.mozilla.community/issues/372#issuecomment-572723388 needs to be done? Or are there anymore?

[2020-01-12 22:31] MichaelKohler commented on #372
Yes, updated that comment to reflect the transparency aspect. If it looks good with black, we can also just leave it at that, I doubt that looks nice though ;)

[2020-01-15 08:34] kindavishal commented on #372
Alright! I'll take a look into it, see if I can help, expect pings 😅

[2020-01-17 15:14] #372 closed

[2020-01-20 15:33] nukeador opened #382 "Activate -> Portal Transition Notice"
As part of the comms plan, we need a banner on the site talking about the end of life and what's going to happen in March:

`Attention: The Activate website will be closing in March 2020 as all our campaigns and activities migrate over to the new Community Portal. Starting in April this url will <a href="https://community.mozilla.org/">redirect you to the portal</a>.`

Thanks!

[2020-01-20 18:54] nukeador commented on #382
cc @LucyeoH

I know @MichaelKohler had some feedback on the copy there.

[2020-01-20 19:57] LucyeoH commented on #382
@MichaelKohler What are your thoughts? Here's a revised version.

Attention: All of the Activate content will be migrating to the new Community Portal in March 2020. Starting in April this url will <a href="https://community.mozilla.org/">redirect you to the portal</a>.

[2020-01-20 20:26] MichaelKohler commented on #382
I feel this does not provide much value. While the user will know there is something happening, the user does not know what this means for them. In effect, I feel the user does not even care about this, as there is will be a redirect anyway. And for these who care and we want to keep informed, the banner does not provide any value as they do not know what will happen exactly, as there is no previe

[2020-01-20 20:33] LucyeoH commented on #382
@MichaelKohler I guess the thing is that b/c all of the content is being transferred it's going to make a huge difference to most people. It's also why I don't want to call it "killing activate" since it's much more of a "migration". The activities and campaigns will even look very much the same and all the old campaigns will still be there. I like of adding the FAQ though. What about...

Attentio

[2020-01-20 21:19] #382 closed

[2020-01-20 21:19] MichaelKohler commented on #382
Thanks, and thanks for updating the FAQ. That now provides way more value. This will be live in a few minutes.

[2020-02-04 13:50] couci opened #383 "Tech Speakers campaign to be taken down"
TS activity won't migrate to the new portal

@MichaelKohler please take it down from activate so we won't confuse people

[2020-02-04 21:14] #383 closed

[2020-02-28 16:31] couci opened #384 "Redirect Activities menu to the new activities in the community portal"
When someone clicks on the menu activities could we direct them here: https://community.mozilla.org/activities/

[2020-02-28 18:32] #384 closed

[2020-03-02 14:36] nukeador commented on #384
Is it me or for some reason now this link opens in a new tab?

[2020-03-02 14:36] nukeador commented on #384
Also, is it possible to redirect https://activate.mozilla.community/activities/ to the new page?

[2020-03-02 14:38] MichaelKohler commented on #384
Works for me.

In theory yes, in practice too much work for the benefit.

[2020-05-26 17:24] #124 closed

[2020-05-26 17:24] #301 closed

[2020-05-26 17:24] #335 closed

[2020-05-26 17:24] #337 closed

[2020-05-26 17:24] #341 closed

[2020-05-26 17:24] #354 closed

[2020-05-26 17:24] #358 closed

[2020-05-26 17:24] #362 closed

[2020-05-26 17:24] #370 closed

[2020-05-26 17:24] #373 closed

[2020-05-26 17:24] #374 closed

[2020-05-26 17:24] #375 closed

[2020-05-26 17:24] #376 closed

[2020-05-26 17:25] #342 closed

[2020-05-26 17:36] #359 closed

[2020-05-26 17:36] #360 closed