[2016-07-18 23:45] nukeador opened #1 "CTA for sharing in social media"
We should be able to share each area page in social media.

"Hey, I'm contributing to Rust and Servo at @Mozilla Check how easy it is to #mozactivate https://nukeador.github.io/activity-campaign/area/servo"

Even from front page: "There are easy ways to get involved with @Mozilla Do you #mozactivate ? https://nukeador.github.io/activity-campaign/"

[2016-07-19 11:21] nukeador commented on #1
@LucyeoH ideas for CTA welcomed! ;-)

[2016-07-20 11:32] nukeador opened #2 "Create initiatives and activities on the Reps portal"
We need to define final titles for Initiatives and activities.

[2016-07-20 11:39] nukeador opened #3 "Create FAQ page"
We need a FAQ page.

Content TBD

[2016-07-20 11:59] nukeador commented on #3
Placeholder ready here https://mozilla.github.io/activate.mozilla.community/faq

Editable from: https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_pages/faq.md

[2016-07-20 12:08] nukeador commented on #2
@brianking for the initial initiatives are we ok with:

* Developer Engagement
* Rust and Servo
* Test pilot

Or we want other wording like:

* Empower developer communities
* Support the future Mozilla's engine
* Test pilot new features

[2016-07-20 12:20] brianking opened #4 "Content for Empower Developer Communities page"
Once we've designed the first activity, update this page with details.

Page to be edited:
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_pages/developer-engagement.md

Live test:
https://mozilla.github.io/activate.mozilla.community/area/developer-engagement

[2016-07-20 12:22] brianking opened #5 "Content for Privacy page"
Once we've designed the first activity, update this page with details.

Page to be edited:
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_pages/privacy-policy.md

Live test:
https://mozilla.github.io/activate.mozilla.community/area/privacy-policy

[2016-07-20 12:23] brianking opened #6 "Content for Experiments page"
Once we've designed the first activity, update this page with details.

Page to be edited:
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_pages/test-pilot.md

Live test:
https://mozilla.github.io/activate.mozilla.community/area/test-pilot

[2016-07-20 13:42] brianking commented on #2
They have to stand out, so I suggest we preface everything with 'Initiatives' or 'Activate' or similar.

e.g.

'Activate - Test Pilot'

Then it matter less the rest of the wording, and we can keep it short.

[2016-07-20 17:30] nukeador commented on #3
@brianking I added some initial content.

[2016-07-21 12:00] nukeador opened #7 "Implement analytics"
We need to implement analytics on the site.

[2016-07-21 12:01] nukeador commented on #7
GA codes requested. @brianking let's ping some people on the websites team to get it soon.

[2016-07-21 12:19] brianking opened #8 "Evaluate Systems for Events Reporting"
Can we use something like http://mozilla.github.io/clubs-events/, and link it to the Reps Portal for Reps to request resources if needed?

[2016-07-21 12:39] nukeador commented on #8
At this point it's not possible to "pass" pre-populated field to the new event page, but @akatsoulas will check if there is something we can do.

[2016-07-21 12:40] nukeador opened #9 "Create roadmap page"
With information about what's coming and when.

[2016-07-21 12:42] nukeador commented on #8
Code for club-events: https://github.com/mozilla/clubs-events/

[2016-07-21 13:37] nukeador commented on #9
@brianking I added an initial text for the roadmap here

https://mozilla.github.io/activate.mozilla.community/roadmap

Let me know if it's OK.

[2016-07-21 13:49] nukeador commented on #1
Right now all initiatives pages have a sharing button for Twitter and Facebook. We can just send text to twitter, current copy sample:

"I am contributing to Rust and Servo at @Mozilla Check how easy it is to #mozactivate https://activate.mozilla.community/area/servo"

[2016-07-21 14:37] brianking commented on #1
Might be better to have the share per activity, like:

"I'm working on the e10s add-on testing activity @Mozilla Check how easy it is to #mozactivate https://mozilla.github.io/activate.mozilla.community/area/developer-engagement/activity1"

[2016-07-21 14:53] nukeador commented on #1
The site detects the page title and uses that for sharing, so it would be only possible if we have individual pages for individual activities.

[2016-07-21 15:51] brianking commented on #1
I think we probably will have individual pages for individual activities.

[2016-07-21 15:52] nukeador commented on #1
+1 for individual pages when the text is too long to live with other activities in the main area page.

[2016-07-21 18:00] nukeador opened #10 "About Participation page"
@geroter  suggests if we need an About Participation top menu.

@geroter the idea was to point to our wiki or have something on the site?

[2016-07-21 19:46] brianking commented on #8
Hi @flukeout ... we're evaluating your handle events system for use in some activities we are running on a new contribution site. I have a few questions (without having examined the code yet):

1. How forkable is the code right now? i.e. is the latest checked in?
2. What does the deployment story look like? Are there instructions?
3. Do you think it is easily extendable to handle different types o

[2016-07-22 16:43] flukeout commented on #8
Hey @brianking - can you give me quick summary of the data structure you might want to collect & display? I can fork the code and see how quickly I could get something up and running, I anticipate it won't be too hard.

But to answer your questions...

1. The latest is checked in, in the `gh-pages` branch.
2. No instructions or readme at this point, but to run your own version, you'd just fork and

[2016-07-25 20:57] nukeador commented on #7
Done in 6ce495e68bfa4d8ad6a9bc42664f1f02e9e0623e

[2016-07-25 20:57] #7 closed

[2016-07-25 21:00] nukeador commented on #2
@akatsoulas Do you need any problems me creating this? We plan to have them by tomorrow.

[2016-07-25 21:00] nukeador opened #11 "Launch comms plan"
Create and deliver the launch comms.

[2016-07-25 21:07] nukeador commented on #1
Removing Launch milestone since we are not going to change the current text for launch. We can revisit this after launch.

[2016-07-25 22:29] brianking commented on #8
@flukeout for the structure, we'd want to keep it simple for first version. Can it be extended after without breaking previous events or losing them.

Looking at what you have, I would keep:
* Title
* Date
* Description
* Event links
* Feedback from attendees
* Attendance
* Picture

And would add...
* Event type
Again this is something we would like to extend over time but initial types will be:
-

[2016-07-25 23:33] flukeout commented on #8
Thanks @brianking - I'll give this some thought tomorrow and post an update.

[2016-07-26 00:09] nukeador commented on #11
@brianking draft happening here

https://docs.google.com/document/d/10tBSGpF3Qc_QnNXSgmQoNV90eNeXER9uHz6zSQcsCXw/edit#

[2016-07-26 11:22] nukeador commented on #11
@brianking r?

[2016-07-26 11:33] brianking commented on #11
r+

I would add something about where to ask questions, whether this be an existing Discourse conversation or a new one. And perhaps we should have one conversation for each activity, and on the activity page for each link to it?

[2016-07-26 11:40] nukeador commented on #11
Probably we should first create the long post on discourse and use that link as reference for questions.

And yes, then create a new topic per activity and link them from the site.

[2016-07-26 11:46] brianking commented on #4
All site copy for first launch being updated (WIP) here:

https://docs.google.com/document/d/1Qrl369msjfeDZMHaXBsQwdFjLfPWtWCSmBCkFBJI1jE/edit?usp=sharing

[2016-07-26 11:46] brianking commented on #5
All site copy for first launch being updated (WIP) here:

https://docs.google.com/document/d/1Qrl369msjfeDZMHaXBsQwdFjLfPWtWCSmBCkFBJI1jE/edit?usp=sharing

[2016-07-26 11:46] brianking commented on #6
All site copy for first launch being updated (WIP) here:

https://docs.google.com/document/d/1Qrl369msjfeDZMHaXBsQwdFjLfPWtWCSmBCkFBJI1jE/edit?usp=sharing

[2016-07-26 22:02] flukeout commented on #8
Hey @brianking so I spun up a rough version of a Reps Portal test...
https://flukeout.github.io/reps-portal/

All together, this took me about an hour, but half of that was spent wrangling with connecting to the Google Spreadsheet.

I took some rough notes on the steps I took here - https://github.com/flukeout/reps-portal/blob/gh-pages/CONFIG.md - It's just a rough guideline. It givers you a sense

[2016-07-27 19:28] brianking commented on #8
This is awesome @flukeout , thanks! Basically we have zero dev resources for this, so any help you can continue to give would be much welcome. @nukeador and I might be able to jump in to do some light stuff (we are recovering devs!).

If it makes sense, let's continue to work on it in your repo, and we can move it under /mozilla before deployment if that works. I would also name it something diffe

[2016-07-27 19:59] flukeout commented on #8
Okay, I can keep iterating on this time allowing - do you have any deadlines associated with this?

As far as the Google form, I changed the permissions so that anyone at mozilla can edit it. Have a look around and kick the tires. I can look into it later too, maybe there are add-ons or modules or something. I've only used the basic functionality in the past.

Events filter seems reasonably easy,

[2016-07-27 21:09] nukeador commented on #8
@brianking checking the site, how are we going to get metrics from it? As we talked, for me the most important thing is the output and outcome from each event.

[2016-07-27 21:52] nukeador commented on #2
@brianking can I have the final name for the activities and initiatives to add them to the portal?

[2016-07-28 19:26] brianking commented on #8
@flukeout we are looking to launch the campaign on Monday. Not sure if that is cutting it too fine for you?

@nukeador All form responses are going to a spreadsheet, and the events pages are just pulling from that. I presume we'll be able to get all the metrics numbers we want from the spreadsheet.

[2016-07-29 13:32] nukeador commented on #10
Confirmed this is a page to talk about who we are and why we are doing this site.

[2016-07-29 16:11] brianking commented on #2
So we will launch with 3 avtivities:

1. Rust Hack And Learn
2. Web Compatibility Sprint
3. Test Pilot Install

I'm open to new names for 3. Also, let me know the url structure you will be using before setting up the pages.

[2016-07-29 17:06] brianking commented on #1
Can we add parameters to links?

The use case is Test Pilot, where we were discussing what the dropoff rate would be from people coming into the page vs. those who actually click on the link to install Test Pilot.

So for example, the urls would be:

{page-url}/?utm_source=twitter.com&utm_medium=social&utm_campaign=moz-community-share
{page-url}/?utm_source=facebook.com&utm_medium=social&utm_campa

[2016-07-29 17:17] nukeador commented on #1
Where do you want to add the parameters?

You can tailor the links on the markdown pages any way you need.

If it's on the social sharing text, it's located here:
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_layouts/page.html

[2016-07-29 17:28] nukeador commented on #2
I've added the initiative and activities to the portal:

https://reps.mozilla.org/reports/new/

We need to see if we have the right matching contribution area that people can easy select there.

[2016-07-29 18:32] brianking commented on #10
What's the process for setting up a new page on the site?

[2016-07-29 18:41] brianking commented on #9
https://activate.mozilla.community/roadmap

Looks good yes @nukeador. Made a few minor text tweaks.

[2016-07-29 19:59] ioana-chiorean commented on #2
Please consider to announce all parties of the change ( we need a clean there also)

[2016-07-29 23:35] nukeador commented on #2
Yeah, that's covered in #11 :-)

[2016-07-29 23:35] #9 closed

[2016-07-29 23:37] nukeador commented on #10
Create a .md file under _pages

You can c&p from other page to have all the top variables and adapt to the new one.

[2016-07-30 01:35] brianking commented on #8
Hi @flukeout let me know if we can pull something out of the bag for Monday. I'm ready to jump in over the weekend if there is anything I can help with to keep it moving.

[2016-08-01 09:22] nukeador commented on #4
We should link to the activity pages from the main initiative page.

[2016-08-01 09:22] nukeador commented on #6
We should link to the activity pages from the main initiative page.

[2016-08-01 09:24] nukeador opened #12 "Breadcumbs for subpages"
Since we are going with Front page > Initiative page > Activity page we need a way to navigate, specially from Activity page back to Initiative page.

[2016-08-01 09:25] nukeador commented on #6
Also, should we rename the URL for this initiative? I see there is an activity under /firefox/

[2016-08-01 09:28] nukeador opened #13 "Activity pages urls naming"
@brianking we need activity pages to follow the current url naming.

I see:

https://activate.mozilla.community/area/devengage/webcompat-sprint
https://activate.mozilla.community/area/devengage/rust-hack
https://activate.mozilla.community/area/firefox/test-pilot

But /area/devengage doesn't exist (it's /area/developer-engagement) neither /area/firefox (right now it's /area/test-pilot)

[2016-08-01 09:29] nukeador commented on #8
This is blocking launch.

[2016-08-01 17:00] brianking commented on #6
Yes, what are your thoughts? Do you think 'firefox' is ok?

[2016-08-01 17:01] brianking commented on #13
I changed them because they were shorter urls. Is you preference to go with the old or the new?

[2016-08-01 17:22] nukeador commented on #13
I prefer the old ones. Maybe we can remove the /area/ part to make it shorter.

[2016-08-01 17:23] nukeador commented on #6
I would go for firefox-experiments or browser-experiements depending on the final name we are going to use for this initiative.

[2016-08-01 20:43] brianking commented on #12
Are you looking into this @nukeador? Maybe hardcoded is the fastest for 1st launch?

[2016-08-01 22:22] #12 closed

[2016-08-02 00:52] brianking commented on #4
Content added.

TODO: Link to the activities listed, right before launch.

[2016-08-02 00:53] brianking commented on #5
Not for launch.

[2016-08-02 00:53] brianking commented on #6
Content added.

TODO: Link to the activities listed, right before launch.

[2016-08-02 00:55] brianking commented on #13
/area/ removed and urls are now set.

https://activate.mozilla.community/developer-engagement/webcompat-sprint
https://activate.mozilla.community/developer-engagement/rust-hack
https://activate.mozilla.community/experiments/test-pilot

[2016-08-02 00:55] #13 closed

[2016-08-02 06:37] brianking commented on #10
https://activate.mozilla.community/participation

[2016-08-02 06:39] brianking commented on #3
I can't think of anything else to add right now, so closing.

[2016-08-02 06:39] #3 closed

[2016-08-02 10:51] nukeador commented on #10
Reopening because my understanding is that we need wording here about why we are doing this site more than who participation team is (which is in the wiki)

[2016-08-02 11:11] nukeador opened #14 "Spanish (es) localization"
Tracking issue for Spanish localization.
- [ ] Front page
- [ ] FAQ
- [ ] Roadmap
- [ ] Participation
- [ ] Developer engagement
- [ ] Experiments

[2016-08-02 12:17] ioana-chiorean commented on #14
What other languages are needed?

[2016-08-02 12:28] nukeador commented on #14
The content is not final yet, so we can't start localizing.

Once it's final we will have Spanish and Portuguese as P1 and German and French as P2.

In any case, people is free to localize it in other languages anytime, but these are going to be the ones we are going to push for from our side to align with our focus communities.

[2016-08-02 12:53] ioana-chiorean commented on #14
👍 ok. got it. 🙇

[2016-08-02 16:18] flukeout commented on #8
Hey folks, sorry I was away for the long weekend here in Canada and didn't see the deadline before I left. What is the status of the project now, have you moved to something else or are you still waiting on this piece - I'm happy to jump on this today. If you're available, let's jump on a Vidyo call.

[2016-08-02 17:14] nukeador commented on #1
Parameters added. Let's close this an re-open if we need changes to wording.

[2016-08-02 17:14] #1 closed

[2016-08-02 17:23] nukeador opened #15 "Discourse topics for launch"
Create a new topic for each one and link it back from the page.

- [x] [Roadmap](https://activate.mozilla.community/roadmap)
- [ ] [Rust Hack and Learn](https://activate.mozilla.community/developer-engagement/rust-hack)
- [ ] [Web Compatibility Sprint](https://activate.mozilla.community/developer-engagement/webcompat-sprint)
- [ ] [Install Test Pilot](https://activate.mozilla.community/experiments

[2016-08-02 17:24] nukeador commented on #8
@brianking we should remove wording about report the event in all pages for launch.

[2016-08-02 17:29] nukeador commented on #2
Developer Engagement and Firefox Desktop will be functional areas.

[2016-08-02 17:29] #2 closed

[2016-08-02 17:37] brianking commented on #4
Links to activities are now live.

[2016-08-02 17:37] #4 closed

[2016-08-02 17:37] brianking commented on #6
Links to activities are now live.

[2016-08-02 17:37] #6 closed

[2016-08-02 17:59] flukeout opened #16 "Implement Events Tracking System"
In #8 we started work to adapt the Mozilla Clubs Events Reporter for Reps Events. Let's continue the work here...

**Links**
* [Clubs Events Tool](http://mozilla.github.io/clubs-events/)
* [Reps Evenst Tool Prototype](https://flukeout.github.io/reps-portal/)

**Questions**
* What site will this be linked from, can you please add a link?

**Work left to do**
* [ ] Change color palette to match new

[2016-08-02 19:35] flukeout commented on #8
Work will continue here... https://github.com/mozilla/activate.mozilla.community/issues/16

[2016-08-02 19:52] brianking opened #17 "Blog Post : Post Launch"
Within 24 hrs of launch, I will write a blog post on my personal blog about the project, and we can also copy to about:community. This is part of a larger piece where the whole team will be blogging on what they are working on in the next couple of months.

[2016-08-02 20:15] brianking commented on #8
Yes, so I have evaluated that this is not a blocker for launch. The plan now is:

* We'll work in #16 on finalising implementation.
* We'll direct people to call out their event in the activity Discourse thread for now. This way we can still keep count. This requires changes to text in the activities.
* When we do go live, we can ask people to retro-fill events, but it will not be mandatory.

[2016-08-03 09:30] brianking commented on #10
I've made some updates, please review @nukeador

[2016-08-03 09:33] brianking commented on #15
@nukeador by Roadmap, do you mean a general post introducing the campaign?

What category will these go under ... Participation?

I'm thinking it might be good if I post these, just because I post less on Discourse. Can you make a first draft of the posts? Then I'll review and post later today.

[2016-08-03 11:18] nukeador commented on #15
We are using the Participation Leaders discourse.

I created one for the roadmap (sorry, I didn't read your comment about you creating them):

https://discourse.mozilla-community.org/t/activate-mozilla-roadmap/10068

Can you create the rest with the same format "Activate Mozilla - Activity Name"

Text: "This is a topic to talk about the Activity Name activity as part of Activate Mozilla.

(Work in

[2016-08-03 11:37] nukeador commented on #10
Looks good.

[2016-08-03 11:37] #10 closed

[2016-08-03 11:39] nukeador opened #18 "Detail the need or not of budget for activities"
We need a clear note on all activities detailing if they are zero-budget activities and events.

This is a blocker before launch for Council, review team and mentors.

[2016-08-03 16:09] brianking commented on #15
I'm wondering why Participation Leaders, and not Participation. I think we want these to appeal to as broad a group of Mozillians as possible.

[2016-08-03 17:40] brianking commented on #18
Done. I added bolded text for this in the Format section of each activity. I also added a question/answer to the FAQ.

[2016-08-03 17:50] deimidis commented on #18
Thanks Brian, I doubt I could write english better than you, but maybe it's more clear if this phrase:

These are no budget activities / events, meaning that Mozilla

Says:

These are zero budget activities / events, meaning that Mozilla

Or if we say zero budget sounds bad?

[2016-08-03 18:10] brianking commented on #18
Zero budget sounds better .. I will change it.

[2016-08-03 18:35] brianking commented on #15
Posts are up:

* https://discourse.mozilla-community.org/t/activate-mozilla-dive-into-rust/10073/1
* https://discourse.mozilla-community.org/t/activate-mozilla-web-compatibility-sprint/10074/1
* https://discourse.mozilla-community.org/t/activate-mozilla-install-test-pilot/10075/1

I added links to them in the activities pages.

[2016-08-03 18:35] #15 closed

[2016-08-04 13:15] couci commented on #18
Can we make sure that there is a mention for swag requests too? Because people will open those

[2016-08-04 16:09] nukeador commented on #18
@couci This is something @geroter and @brianking are working in sync with Council to provide better clarity and policy for everyone.

[2016-08-04 20:27] brianking commented on #16
Luke, this looks right. A couple of things I would add are:

[] Rename project to activate-events
[] Change title to 'Activate Mozilla Events'

How much would you estimate for the work as listed now, and in what timeframe is it realistic in your schedule. If there is some low-hanging fruit I can jump in.

[2016-08-04 20:43] brianking opened #19 "Images for activity pages"
The area lead in pages have images, and I think the activity pages themselves could benefit from having small images too to compliment the text.

[2016-08-05 10:15] brianking opened #20 "Add KPI information on the site"
We need to add in goals and KPI information in a few places.

- [x] Homepage
- [x] Activity pages
- [x] FAQ

[2016-08-05 10:24] brianking opened #21 "Add Guidelines for Budget and Swag"
1) no swag being shipped except big events maybe (150+ attendees)
2) local production with budget is okay as long as it fits guidelines
3) swag only for events that have budget too

We could adapt and update https://wiki.mozilla.org/ReMo/SOPs/Swag_production and add

1) the kind of swag we want to support local production for
2) the guidelines on which activities we accept additional funds for swa

[2016-08-05 11:22] couci commented on #21
I think the missing piece here is what are the events we are supporting with budget/swag.
Once we have the list with those we can decide which will get local production, budget and swag from our vendor

[2016-08-05 12:40] brianking commented on #2
To summarise, we have 3 activities added to the Reps portal reporting tool.

MozActivate - Dive Into Rust
MozActivate - Web Compatibility Sprint
MozActivate - Test Pilot Install

The first two support Developer Engagement, and the 3rd Firefox Desktop.

[2016-08-05 12:43] brianking commented on #21
:couci I'm not sure what you mean. Events, if it works out well, will be happening all the time. Do you mean further defined criteria?

In terms of what the events contribute to, we've already updated the portal for this, see issue #2.

[2016-08-05 13:04] kelimuttu commented on #21
@couci you mean, what kind of activities, or which initiatives?

and btw, I have question here. Is this guideline will effect the general budget & swag request? or will this only effect events that related to activity campaign?

[2016-08-05 15:35] couci commented on #21
@brianking my question is on which of the activities listed on the issue you've mentioned will be sponsored by us. My thinking on how to proceed with this is the following:

1)Let's decide what activities will be sponsored (either swag or budget)
2)Let's decide which need budget, which need swag and which need both
3)Let's decide the limitations, on budget will we have a max amount, what cases wil

[2016-08-05 15:47] ziww commented on #14
I'd love to help with PT-BR l10n.

[2016-08-05 16:39] brianking commented on #16
Campaign site: https://activate.mozilla.community

[2016-08-05 17:11] Flore-mozfr commented on #21
Hi, just to give a community point of view. Swag seems very important for the communities, even for small events. And usually people complain they don't get enough, or too late, or whatever. I know it's hard to manage for you guys and also it costs a lot.
We would like that communities be trusted with a certain amount of swag that they could manage and use for different events during one year. We

[2016-08-05 17:15] couci commented on #21
Hey Flore,
I love the idea but let's keep in our mind that these guidelines are for activity campaign swag thus we need to estimate how much will be needed there.
I will love to keep this conversation going though, can you open a doc with your suggestion?

[2016-08-05 19:32] Flore-mozfr commented on #21
Yeah right. @couci maybe you should create the doc in the mozilla google doc system and share it with me (my gmail is ok for that purpose). It would probably be easier than me creating a doc and sharing with whoever at mozilla wants access.

So back to activate.mozilla.org... I see a problem (and that is a recurring one, with reps budget and swag requests). Let's say an event is planned, 150+ atte

[2016-08-05 21:47] brianking commented on #8
Hi @geroter I talked to both @flukeout and @akatsoulas today about the respective systems.

* It seems like it is feasible to repurpose the Reps portal, however with both Tasos and Nemo on holidays next week it will not happen on time. It's hard to even give an estimate at this stage.

* We're tracking the other system in issue #16 and Luke is confident after we went through the TODO that we can h

[2016-08-05 21:51] geroter commented on #8
What's your instinct on what we should do?

After thinking about it ... I think Reps Portal and open it up later this
month if we can. (I'm still not convinced)

On Fri, Aug 5, 2016 at 11:47 PM, Brian King <notifications@github.com>
wrote:

--
George Roter
Head of Core Contributors, Participation

irc: geroter  |  skype: geroter
Cell - Germany: +49 172 714 2439
Cell - USA: +1 650.210.6953
<650%203

[2016-08-05 22:16] brianking commented on #21
@geroter and I discussed this earlier today and we want to keep it simple and apply automatic budgets and swag orders (or budget or local swag). The amount would be around $200.

For anything larger than that, we'd make it very clear that the requests would go through the regular Reps process and all the pitfalls that go along with that, including that it might not be processed in time.

The plan

[2016-08-05 22:29] brianking commented on #8
For me it depends if we want to have the campaign/site have legs beyond this quarter.

If yes - invest in the portal for this. It has more features and is linked with budget / swag.

If no - go with the lightweight system. It has a spreadsheet back-end that will aggregate all the data we need.

[2016-08-05 22:32] geroter commented on #8
I think yes.

Let's start with the Portal. I think Nikos has availability starting later
this month.

On Sat, Aug 6, 2016 at 12:29 AM, Brian King <notifications@github.com>
wrote:

--
George Roter
Head of Core Contributors, Participation

irc: geroter  |  skype: geroter
Cell - Germany: +49 172 714 2439
Cell - USA: +1 650.210.6953
<650%20308%208443>

[2016-08-05 22:42] brianking commented on #8
+ @LucyeoH who flagged the new system in an email with me earlier in the week, not sure why ... might have some valuable insights here.

[2016-08-05 22:45] brianking commented on #18
This has morphed a bit, and the conversation has moved to #21 (essentially a dupe). I'm closing this one, let's continue over there.

[2016-08-05 22:45] #18 closed

[2016-08-05 23:04] brianking commented on #21
Suggested FAQ Entry:

Q: Can I request budget or swag for these activities?

A. We encourage you to run these as lean as possible, but realise that sometimes there are some costs incurred for some refreshments or logistics for core organisers. If your event meets the  requirements laid out in the activity, there is a fund available of $200USD that can be processed quickly. For larger budget reques

[2016-08-05 23:05] brianking commented on #16
ON HOLD for now as per conversation in #8.

[2016-08-08 22:49] brianking commented on #11
\+ @geroter who is jumping in to help at launch.

[2016-08-08 22:51] brianking commented on #16
Hi @flukeout I'm going to close this off for now as we have decided to go with the Reps portal.

HUGE thank you for the help. I for one am a fan of this system, and we may very well use it for something else moving forward.

[2016-08-08 22:51] #16 closed

[2016-08-08 23:05] flukeout commented on #16
You're welcome and best of luck with the campaign!

[2016-08-09 13:21] couci commented on #21
Replying for both @Flore-mozfr and @brianking in this comment
@Flore-mozfr I agree that a budget request should not be a blocker for swag. But that again applies to all cases we have and I would like to keep the activity campaign as less complicated as possible. So in this case what I would propose is: the activity campaign doesn't have swag requests except if you have an event for over 150+ peopl

[2016-08-10 09:33] brianking commented on #20
Update:

Homepage - we just added a sentence here on what the campaign is about.
"A campaign for Mozillians around the world to have impact in areas key to Mozilla’s mission."

Activity pages - they have been added in the 'Goals for this area' section

TODO
FAQ - will add an entry outlining the top-line goals for the campaign. I need to make a pass first at the numbers to ensure they add up.

Soun

[2016-08-10 09:47] geroter commented on #20
Fantastic!!

On Aug 10, 2016 11:33, "Brian King" <notifications@github.com> wrote:

[2016-08-10 09:58] brianking commented on #21
I've updated the entry based on feedback:

https://activate.mozilla.community/faq#can-i-request-budget-or-swag-for-these-activities

@couci @Flore-mozfr @geroter please review. I took @couci 's suggestion, made and made some minor tweaks and made it clearer at the end on how to make the request.

[2016-08-10 10:35] couci commented on #21
Looks good to me :)

[2016-08-10 12:36] deimidis commented on #20
@brianking thanks, this is really useful information. Are those numbers for each activity or in total? I was looking at Webcompat one, so for example number of add-on installed is the number for the whole time we run the activity, right?

[2016-08-10 13:28] Flore-mozfr commented on #21
Looks good to me.
But I'm surprised by the "(in the case of the no other alternative)", shouldn't it be "there is no...".
Not sure though.

[2016-08-10 15:26] brianking commented on #20
@deimidis each activity. We're putting the overall goals as an FAQ entry.

Here is what I have written for the entry. Please review and @geroter as well...

## What are the goals of the campaign?

The primary goal of the campaign is to launch activities that bring value everyone participating, from community mobilizers, to event attendees, to teams at Mozilla.

We have set ourselves targets for Q3

[2016-08-10 15:33] geroter commented on #20
Look good!

On 400 people mobilized -- can we make a distinction here between event organizers/initiators and Mozilla volunteers ... and let's make sure people don't confuse this with attendees.

[2016-08-11 09:32] brianking commented on #20
FAQ entry added:
https://activate.mozilla.community/faq#what-are-the-goals-of-the-campaign

[2016-08-11 09:32] #20 closed

[2016-08-12 12:17] ioana-chiorean opened #24 "Inconsistancy at showing link"
Last text on the page here:https://activate.mozilla.community/developer-engagement/webcompat-sprint  is
_"https://webcompat.com/contributors has more basic information on how to get started and join the community."_

where in the whole page we hide links under specific texts not sure here is nice to have the link. Maybe will be nice to have it like this:
_"[WebCompat's Contribution page](https://w

[2016-08-12 12:33] ioana-chiorean opened #25 "Romanian (Ro) localization"
Hey,
Here to help and localize it in Romanian.

Thanks!

https://github.com/ioana-chiorean/activate.mozilla.community/tree/gh-pages/_data/l10n
https://github.com/ioana-chiorean/activate.mozilla.community/blob/gh-pages/_data/l10n/ro.yml

the rest to come:
- https://github.com/ioana-chiorean/activate.mozilla.community/tree/gh-pages/_pages

[2016-08-12 14:25] barrosgeraldo opened #27 "Add metrics on Event Page of Mozilla Reps Portal"
I think it's important to add metrics related to Mozilla Activate on the events page, this facilitates registration and measurement of the results generated by events.

[2016-08-12 14:57] MichaelKohler commented on #27
Thanks for this issue. As I currently see it from the published activities, we could have the following metrics:

* MozActivate - TestPilot add-on installs
* MozActivate - TestPilot shares
* MozActivate - Web Compatibility add-on installs
* MozActivate - Web Compatibility issues filed
* MozActivate - Signups to the Web Compatibility list
* MozActivate - Developers who will write in Rust in the nex

[2016-08-12 15:00] mijanurrahman opened #28 "Servo and Privacy invisible"
Servo and Privacy icon are greyed in Firefox browser. But it looks visible in other browser (ex: Chrome)

[2016-08-12 15:05] MichaelKohler commented on #28
In my opinion they should be greyed out since they're not launched yet. Let me see why they are not greyed out in Chrome.

[2016-08-12 15:07] ioana-chiorean commented on #28
Damn it.. indeed.
![screenshot from 2016-08-12 18-05-21](https://cloud.githubusercontent.com/assets/1391451/17626815/93fe9e56-60b7-11e6-9b1d-fee597bbe6e8.png)

[2016-08-12 15:07] MichaelKohler commented on #28
This seems to be because of

[code]

which does not work in Chrome. I'll file a PR right away.

[2016-08-13 15:48] #24 closed

[2016-08-14 08:11] kelimuttu commented on #21
Hi all,
I see there's "meets the requirements laid out in the activity" part in the FAQ. Have we define the requirement somewhere? or am I the one who missed it?

[2016-08-15 16:28] womozci opened #30 "Français (Fr) localization"

[2016-08-15 21:08] womozci commented on #14
I would like to help with En-FR l10n.

[2016-08-15 21:16] deimidis commented on #30
Hi, I just add pull request to add french to this website (besides other changes). If you want to begin before this is approved, you could do it in my branch: https://github.com/deimidis/activate.mozilla.community

[2016-08-15 21:19] deimidis commented on #25
Hi, I didn't see this issue before sending my pull request adding pt and fr. I need that someone review my changes so we are sure we didn't make any mistakes. In the meantime, you could see that I added a lang folder inside _pages so you culd duplicate it and made modifications to make it work for Romanian

[2016-08-15 21:23] womozci commented on #30
Great and thank you for your help

[2016-08-16 09:17] Mte90 opened #32 "Italian translation"
We want to start to translate it's possible to create the it.yml?
We want manage the translation on https://github.com/MozillaItalia and next ask for a pr here.

[2016-08-16 09:26] MichaelKohler commented on #32
I'd suggest to fork the repo to your organisation and then create the file, add it to the language list and translate all the files within the _pages folder. You can take Spanish as a reference if you want.

Does that sound ok to you?

[2016-08-16 09:31] Mte90 commented on #32
Ok!
Can someone assign to me that ticket?

[2016-08-16 11:03] deimidis commented on #32
Hi @Mte90 probably is better if you wait for the pull request I sent. I hope to have that resolve today, and there you will find a lang folder with all the pages ready to translate

[2016-08-16 11:24] brianking commented on #27
Most of these we can track separately. For example, add-on installs can be tracked on the AMO site, and we can even check the referrer to see if it is coming from our site. We can also track social shares. I don't think it is feasible to track that one at an event.

What is important about logging your activities on the portal is that it should tell us what our mobilizer strength, i.e. the number

[2016-08-16 11:27] brianking commented on #28
Thank you @MichaelKohler for the fix!

Yes indeed it is intentional for these not to be active until we launch activities in these categories.

[2016-08-16 11:27] #28 closed

[2016-08-16 11:46] brianking commented on #21
@Flore-mozfr what that means is that venue rental should only be considered is there is no free option. Do you read it as meaning something else? Or are you proposing something else? If so, let us know what it is by filing a new issue.

@kelimuttu The requirements are not defined, but it should be possible to determine just by looking at the activity. If this proves not the be the case, please fil

[2016-08-16 11:46] #21 closed

[2016-08-16 12:12] Flore-mozfr commented on #21
@brianking I was just surprised by the grammatical form (never saw that before). Perhaps we should make it more simple like "if there's no other alternative" (same meaning but less confusing imho).

Just saying that because I'm one to write convoluted sentences and then read them again and not sure of what I meant anymore. So I'd say let's go for easier.

[2016-08-16 13:01] hmitsch opened #33 "Roadmap following "now-next-later""
# Job Story
When **looking at the Activate roadmap**
I want to **understand which community campaigns are in the making**
So I can **plan my time**
~~So I can **discuss the next hot things in my community**~~

# User Story
_Credit to @MichaelKohler for mentioning the story in https://github.com/mozilla/activate.mozilla.community/issues/33#issuecomment-240251366_

As a **volunteer**
I want to **see

[2016-08-16 13:03] deimidis opened #34 "Review site localization system"
As @MichaelKohler suggest in another issue, we need to set a communication to all the locales availables when a content is updated, so they could make the changes.

[2016-08-16 14:01] deimidis commented on #34
Adding @A-kilroy

[2016-08-16 14:26] a-kilroy commented on #34
Would love more details on this since I think there could be some overlap in what the foundation is working on to better integrate localizers. We might be able to piggy back off some of that work.

[2016-08-16 15:36] MichaelKohler commented on #34
@a-kilroy thanks for jumping in, let me try to answer your question.

For the activate.mozilla.community website, we're using this repository here, which also includes all texts that are displayed on the page. The English, original source files, are located in the _pages folder directly: https://github.com/mozilla/activate.mozilla.community/tree/gh-pages/_pages

For every localization there are th

[2016-08-16 19:49] #8 closed

[2016-08-16 21:53] MichaelKohler commented on #33
I love this! I really like the "Now", "Next", "Later" concept. For many projects within mozilla I know about the "Now" piece since I most probably follow the relevant channels, might know about the "Next" piece due to discussions, but what I'm really missing is the "Later". This could be either in terms of we don't know either what "later" is, or we focus too much on the "Next" part and basically

[2016-08-16 22:27] hmitsch commented on #33
@MichaelKohler thanks for the intense study of the referenced links.

## Actionable Feedback
- Job Story updated
- User Story added

## Philosophical Feedback
With most of my answers I am harshly invading @nukeador and @brianking's area of responsibility as they are owning that amazing piece of work. Independent of that, I'd like to offer my agile product management perspective. However, I am tota

[2016-08-16 22:32] hmitsch commented on #33
PS: I just added a **UI Mockup** to the issue description. This might help to better understand the proposal.

[2016-08-17 00:34] MichaelKohler commented on #33
**Paragraph 1:** yes, indeed, this was badly phrased. What I meant is, that we're focusing too much on the "Next" and don't really see what we should be focusing on in terms of what is "Future" that might be the most benefitial case in the current situation. We're mostly defining "Next" as "Future" because there is no "this is where we are going". My bad!

**Paragraph 2:** perfect, wasn't sure if

[2016-08-17 00:46] MichaelKohler commented on #33
Quick addition: while an activity that is not fully aligned might not have the desired impact, it still could have some impact that brings us forward. That is what we would define as "risk" as Henrik answered. The table in the initial description now says "Copyright petition (Privacy and Policy)" (thanks for the table!).

But what does that mean? Is it in Mozilla's interest that I'm doing an activ

[2016-08-17 01:00] barrosgeraldo commented on #27
@MichaelKohler, awesome! I think that the metrics are perfect, it is important to add on the page events of Mozilla Reps, because representatives can log the results of the event.

[2016-08-17 06:45] mathjazz commented on #34
There are numerous reasons why embedding text directly to the code rarely works for localization purposes.

- Notifying localizers about source string updates is one and @MichaelKohler has explained it brilliantly. Even if you come up with a solution, please note that some localizers are not comfortable dealing with diffs, because they aren't technical.

- It slows down the localization process, b

[2016-08-17 09:07] a-kilroy commented on #34
At the risk of oversimplifing it, an ideal scenario would be to integrate Pontoon right? I *believe* this is something MoFo is already working on and since they have several sites that use Github pages I expect there could be some overlap/coordination opportunities. I was trying to understand want we'd like to do and the specific problem so that I can figure out the right people to talk to/connect

[2016-08-17 09:42] mathjazz commented on #34
Yes, if the site is internationalized, we can plug it into Pontoon easily, which is used to localize most if not all Mozilla (MoFo & MoCo) websites. We have best practices and docs for this. The contact person for website localization is @peiying2.

[2016-08-17 12:31] brianking opened #35 "Idea to Showcase Impact in Activities"
From @rosanardila ...

I wanted to share some insights from when we redesigned the SUMO get involved pages: https://support.mozilla.org/en-US/get-involved (go to each "way to get involved" to see how they look like).

If you look at them they have little text in the front and they are a bit "inspiring" and showcase the impact. This is of course pretty old, but I think that having a "landing" page

[2016-08-18 09:50] brianking commented on #27
@barrosgeraldo see my previous comment. For now, we are going to keep the metrics on the Reps portal to a minimum because we can track other things elsewhere.

[2016-08-18 09:50] #27 closed

[2016-08-18 09:53] brianking commented on #34
Given this discussion, let's put a HOLD on integrating any more locales right now. Happy to see the conversation happening though!

[2016-08-18 09:54] brianking commented on #32
Given the discussion in #34, let's put a HOLD on integrating any more locales for now.

[2016-08-18 09:54] brianking commented on #30
Given the discussion in #34, let's put a HOLD on integrating any more locales for now.

[2016-08-18 09:54] brianking commented on #25
Given the discussion in #34, let's put a HOLD on integrating any more locales for now.

[2016-08-18 10:22] MichaelKohler commented on #34
On the other hand there are several l10n plugins for Jekyll like https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin . That one handles the translations in .yml files which would allow us to have at least string based translations. On the other hand I'm not sure if our localizers are used to .yml files though. Haven't found one that would use properties-files, but there might be on

[2016-08-18 11:09] brianking commented on #21
I've changed it to:

Venue rental (in the case that a free venue is not available)

Thanks.

[2016-08-18 11:15] ioana-chiorean commented on #25
o.k. ......

[2016-08-18 13:17] kelimuttu commented on #21
"meets the requirements laid out in the activity" sounds like we have define the requirement per activity. If the requirement you mean is the criteria for the <150 & >150 participants, then I think it will be better if we say directly that "if the participants is less than 150, you can request budget through the fast track process for up to 150 USD. But if you have more than 150 participants and y

[2016-08-21 17:23] alipseight opened #36 "Portuguese (pt-BR) Localization"

[2016-08-21 18:39] alipseight commented on #36
Traduzido a pasta [https://github.com/alipseight/activate.mozilla.community/blob/gh-pages/_data/l10n/pt-br.yml](url)

[2016-08-22 10:21] nukeador commented on #35
Yes, I fully support @rosanardila suggestion here. We need to be way more visual with the content we present to people.

[2016-08-22 10:54] brianking commented on #17
http://brian.kingsonline.net/talk/2016/08/activate-mozilla/

I suggest we blog in 2-3 to give a status update.

[2016-08-22 10:54] #17 closed

[2016-08-22 10:57] brianking commented on #11
Reps mailing list and blog went out on launch, and last week we pushed this out on more channels.

* Discourse: https://discourse.mozilla-community.org/t/activate-mozilla-campaign/10379
* Multiple groups on Telegram
* Twitter: https://twitter.com/mozillareps/status/766733019474518016

I could not make the Reps call last week, but will this week. @couci suggested we contact mentors as well to reach

[2016-08-22 16:11] nukeador commented on #33
I haven't read all comments here in detail but I like the concept. I would add that some people like more precision on what Next and Later means. Could be 1 month or 1 year ;-)

[2016-08-22 16:21] nukeador commented on #34
@mathjazz what can you provide us to have Jekyll adapted to what you are suggesting? We don't have the resources to build something here on top of vanilla Jekyll.

Right now we have a couple of P1 languages we need to deliver where people just need to localize a markdown file, we can improve in the future ;-)

[2016-08-22 19:06] gueroJeff commented on #34
Let's do what we can to not fragment the l10n process/tool chain. This will only make it harder for the community to engage on these types of projects.

[2016-08-22 20:50] nukeador commented on #34
I agree, that's why we are asking for your help here :)

In the mean time we know our current process is not perfect but we wanted to deploy something fast and scrappy, we can improve as we go ;-)

[2016-08-22 20:59] nukeador commented on #36
Lang code should be just "pt"

[2016-08-22 21:16] gueroJeff commented on #34
One possible short-term plan may be extracting strings into your md files and converting those to xliff for use in Pontoon. It seems that there's already a utility out there that can perform that conversion --  https://github.com/tadatuta/md2xliff

The long-term strategy would be to convert everything over to HTML and use the l20n framework.

[2016-08-22 21:18] gaby2300 opened #41 "Greyed out Rust and Web Privacy in activate.mozilla.com"
Windows 7 64 bit, today's Nightly.

When browsing to activate.mozilla.com, Rust and Web Privacy are greyed out and seem inactive.
I am including a screenshot for you to see.

![greyed out issue](https://cloud.githubusercontent.com/assets/2151784/17872071/c73074f4-6894-11e6-8cf7-ba82ffb93bc8.jpg)

[2016-08-22 21:19] nukeador commented on #34
I see, we want to use markdown to allow non-technical people to add/update content to the site directly from github UI, that's the whole purpose of using Jekyll.

I don't know if we can have markdown for English and then extract strings for other locales?

[2016-08-22 21:22] ioana-chiorean commented on #41
Hey @gaby2300 -  this is the intended behavior as those two initiatives are not ready/available yet.

[2016-08-22 21:22] #41 closed

[2016-08-22 21:26] gaby2300 commented on #41
Hi @ioana-chiorean and @nukeador, I filed this at Brian's request. I didn't know it was the intended behavior of course, sorry!

[2016-08-22 21:27] gueroJeff commented on #34
This short term plan allows you to continue using markdown, while using a
standard localization format that Pontoon supports and that preserves the
document structure.

El 22 ago. 2016 3:19 PM, "Nukeador" <notifications@github.com> escribió:

[2016-08-22 21:30] nukeador commented on #34
Cool, any guides on how we should provide the xliff files so people can use pontoon and how to integrate them back, thanks! :-)

[2016-08-22 21:40] gueroJeff commented on #34
I would experiment with that script I linked to in a previous comment to
convert between the two formats. Once your comfortable that there's no data
loss, if you set up a strings repo with a directory per locale containing
the xliff files, Pontoon only needs the URL to the en-US repo directory and
can pull them in.

El 22 ago. 2016 3:30 PM, "Nukeador" <notifications@github.com> escribió:

[2016-08-23 11:01] a-kilroy commented on #34
From the foundation:
https://github.com/MozillaFoundation/Advocacy/wiki/Localization:-How-it-happens-during-Copyright
This is not exactly the same set up but maybe is helpful. I also believe
they have something for their github sites though I can't find it on their
wiki so might be worth reaching out to them.

On Mon, Aug 22, 2016 at 11:40 PM, gueroJeff <notifications@github.com>
wrote:

[2016-08-23 12:30] nukeador commented on #5
We need to start conversation here in preparation for Marker party EU

[2016-08-23 12:45] brianking commented on #11
Shout out made on project call yesterday.

Am closing this and will open a new issue on the 2nd wave of comms we need to do.

[2016-08-23 12:45] #11 closed

[2016-08-23 13:00] brianking opened #42 "Create 2nd Wave Comms Plan"
Issue #11 was about the initial launch, now we need to create the 2nd wave comms plan to keep momentum going.

One big question is whether and how we target beyond Reps.

[2016-08-23 13:03] brianking opened #43 "Incentivization Techniques"
Gather a set of tactics for incentivizing participation in the campaign, evaluate, and roll out a couple of initial steps.

First step: talk to @LucyeoH about Campus Campaign tactics.

[2016-08-23 13:08] brianking opened #44 "Recruit and Equip Mentors and Regional Coaches to Mobilize Mozillians"
Initial items:
* [ ] Create short blurbs on how to get involved
* [ ] Clarify about how, and why, Reps should run the activities

OUTPUTS:
* [ ] Email to send to mentors/coaches
* [ ] Document with talking points, tips, tools, ...

[2016-08-23 13:12] brianking opened #45 "Add-ons e10s Activity"
In association with the add-ons and 110s team, build out the already in progress activity for launch with the next set.

[2016-08-23 13:15] brianking opened #46 "WebVR A-Frame Activity"
In association with the A-Frame team, build out an activity for launch with the next set.

[2016-08-23 13:21] brianking opened #47 "Create Metrics Tracking Dashboard"
The metrics are listed in the activities, and the overall ones of the campaign in the FAQ. We need to ensure now that we are tracking correctly.

This issue is to:
- [x] Create the spreadsheet
- [ ] Add in initial numbers
- [ ] Equations! (with help from @couci)
- [ ] Dashboard visuals v0.1 (with help from @couci)
- [ ] Ensure we can track over time

[2016-08-23 13:26] brianking opened #48 "Rust Swag Experiment"
Experiment with creating some premium Rust swag for distribution to event organisers and/or at events.
- [x] Have initial conversation with Brian Anderson and @couci
- [ ] Get estimates for local swag production
- [ ] Create and agree on a distribution model
- [ ] Track impact

[2016-08-23 13:35] brianking opened #49 "[META] Gather Ideas How To Improve Site Content"
How do we present information about both the campaign and the activities to promote higher understanding and engagement?

This issue is to gather ideas from people, and decide what ones to prioritise and act on.

Related issues:
- #35: Idea to Showcase Impact in Activities
- #43: Incentivization Techniques

[2016-08-23 19:54] mathjazz commented on #34
@nukeador Converting MD to XLIFF and back to MD as @gueroJeff suggested sounds like your best bet.

You will have to convert MD to XLIFF every time there's a change in the source languge and also convert back from XLIFF to MD regularly so translations are deployed to production.

You can use this existing repository or a separate one for storing XLIFF files. See Section A of Pontoon docs for more

[2016-08-23 20:12] MichaelKohler commented on #44
Hi Brian

I think involving Mentors and Regional Coaches to mobilize Reps in the campaign is a good idea. However I'm not sure if I get those checkboxes correctly. I don't think Mentors or Regional coaches need talking points, I think we need to solve this on the website level. Mentors and regional coaches should be able to say "hey, in case you've missed it, here is a website with an activity tha

[2016-08-24 16:39] brianking commented on #43
Some raw notes from an initial chat with @LucyeoH and @nukeador ...

* Add more information about why the focus area, e.g. Rust, of the activity is important to Mozilla.

* Look into how the contribute page tracks activities and creates a pipeline. Model will not directly move over because Activate activites require more time and some need to be done offline.

* The 'I did this' button on One and

[2016-08-25 06:19] amitkumarj441 opened #50 "Hindi(hi) localization"

[2016-08-25 10:29] brianking commented on #50
We're not accepting any more localizations right now as we figure out the best way to scale up with this. Thanks for the interest and keep checking back. Issue #34.

[2016-08-25 10:36] brianking commented on #44
Thanks for the input Michael. I agree that more guidance is needed on the site and the activities need to be presented in a more compelling way (for everyone, not just Reps). We've opened other issues to tackle that.

The main reasons for the Reps connection here with mentors/couches is:
* to act as a reminder
* to express why the campaign is important why it aligns with Reps in general

[2016-08-25 11:40] nukeador commented on #34
@mathjazz I've done a quick test with the md2xliff tool and I have found two issues:

* Header variables are extracted with no linebreaks and that breaks the file when you reconstruct it.
* I can't find a way to add a modification to the original English md file and extract just the changes to the xlf file.

Ideas? :-)

What I managed to do was:
* Extract a md file to xlf
* Make some translations

[2016-08-25 21:34] hmitsch commented on #33
@nukeador,
totally understand your feedback. The idea would be:
**Next** is something that we consider the "near enough future" to keep an eye on.
**Future** is everything beyond that.

In case of the Activate campaign I suggest:
**Now**: this quarter (i.e. it is in our current OKRs)
**Next**: probably next quarter (i.e. from today's perspective we feel comfortable adding this to next quarter's OK

[2016-08-26 09:38] nukeador commented on #33
"Now" meaning this quarter could be confusing since we'll have things that are active right now and others that won't be available until the end of the quarter (in +2 months).

[2016-08-26 09:45] hmitsch commented on #33
Makes sense. Maybe we are confusing things? This is about the roadmap document. Things that are already active should not be put into the roadmap. What do you think?

--
Henrik Mitsch

[2016-08-26 10:01] nukeador commented on #33
I see... that's the confusion, for me "Now" includes what's happening now. @brianking ?

[2016-08-27 18:52] brianking commented on #33
@hmitsch 's logic makes sense to me, even though I can see why it can cause confusion. I would be in favour of using Now/Next/Later once we can make it clear in the intro that Now means 'planning now'.

[2016-08-27 19:04] brianking commented on #46
WIP: https://docs.google.com/document/d/1yCIM8rXQGwk6KKrvp7RhEZZieyAhKV2IITlD9HH5u4k/edit?usp=sharing

Being developed with @ngokevin

[2016-08-27 19:14] brianking commented on #35
![firefox_screenshot_2016-08-27t19-10-07 893z](https://cloud.githubusercontent.com/assets/114116/18029531/ba3686b2-6c9a-11e6-8907-bbe597508376.png)

Screenshot to illustrate what @rosanardila is talking about. I like:

* at the top it talks about the skills needed for the activity upfront
* it shows the potential impact (the part about "1 article can be viewed by 400 million users .....")

[2016-08-27 19:21] brianking commented on #36
Is this done?

[2016-08-27 19:39] brianking commented on #14
As the content is now stable, is there a plan to finish the es translation?

[2016-08-27 19:40] brianking commented on #30
I see fr is live on the site.
As the content is now stable, is there a plan to finish the fr translation?

[2016-08-27 21:16] womozci commented on #30
Sorry Brian, Yes plan to finish the  fr translation i hope next week.

[2016-08-27 23:32] alipseight commented on #36
Yeah, i will review the texts and, if is correct, i'll close.

[2016-08-28 16:28] deimidis commented on #36
@alipseight are you watching Brazil Discourse tracks? I want to ask for reviewers there too. All pages seems localized

[2016-08-28 16:30] deimidis commented on #14
@brianking we are coordinating this with Mozilla Hispano community. Will push there :)

[2016-08-28 18:09] alipseight commented on #36
@deimidis 2 pages untranslated.

Done.

[2016-08-28 18:10] alipseight commented on #36
@deimidis 2 pages untranslated.

Done.

[2016-08-29 17:05] umeshagarwal commented on #21
@brianking Just wanted to confirm that for India we are covering:
1) Locally produced Swag for Events happening in India - Coordinated by Umesh and Our Logistic team which includes (Chandrakant and Prathmesh)
2) Direct Fast tract budget which is less than 150 USD. Budget more that 150 USD will go through the usual process. -Coordinated by Umesh and Our Logistic team which includes (Chandrakant and

[2016-08-30 08:04] brianking commented on #48
From @brson:

FYI I've opened a thread on the Rust forums summarizing the state of Rust swag and suggesting ideas for future work: https://users.rust-lang.org/t/all-the-rust-swag/7036

[2016-08-30 12:43] kelimuttu commented on #21
Hi @umeshagarwal ,

is that mean that India will have a special process for mozactivate event? Is this has been finalized? Several mozactivate request has been popped up right now, so having the discussion together will be better, I think.

[2016-08-30 13:15] umeshagarwal commented on #21
It was partially approved for swag. I will wait for @brianking to approve for budget as well. I think we should not hold events which are close but next week starting we will have a separate process for India.

[2016-08-30 13:30] kelimuttu commented on #21
Okay, the only suggestion I have is to keep me and @couci in the loop of the discussion as we're tightly involved in the process.

And actually, I was thinking that this is a very good idea. India is one of the most active community, so having the local swag inventory will help a lot to reduce budget. Look forward to hear more update from @brianking

[2016-08-30 18:51] umeshagarwal commented on #21
Yes that is the reason i have not started any mail thread and adding all updates directly on this issue. :)
Yes local inventory will actually save 50% of budget for overall expenditure on swags  and shipping.

[2016-09-02 12:24] brianking commented on #21
Just chatted with Umesh. I am going to create a new issue just for the India process and we can document and discuss there.

[2016-09-02 18:22] iamVP7 commented on #45
@brianking  Any doc related to WIP for this activity.

[2016-09-05 08:11] brianking opened #52 "Resources Process for India"
Let's add something to the FAQ about the budget and swag process for India.

It is basically what @umeshagarwal proposed in issue #21 (also copied below), with the following clarifications:

* No-resource events are to be promoted first, and only exceptional events should get budget and swag.
* Sign off on swag design needs to happen before any is produced. We should aim for some general activate

[2016-09-05 08:15] brianking commented on #45
This has actually been put on hold until Q4 as the Add-ons team have changed their strategy on e10s and are not ready yet.

[2016-09-05 09:48] couci commented on #52
Hey all,
overall it seems good. Some comments:
- I don't see the need for lanyards and buttons on those events for me stickers and t-shirts are good enough
- the design should be based on the activities not based on the the campaign, for example rust stickers make more sense than mozactivate stickers
- we should remind that the event criteria stay the same, budget is only approved for:
 * Food for

[2016-09-05 09:57] brianking commented on #52
@couci I prefer the idea of campaign swag because we can use for event of all activity types. I agree some high profile activities like Rust should have their own swag, but not all (not the other 2 activities we have currently).

[2016-09-05 10:19] brianking opened #53 "Social Links are Broken"
1. Not all paramaters are passed ... related to how we are using &amp;

2. #mozactivate hashtag is not being passed

[2016-09-05 10:20] nukeador commented on #53
Probably we need to urlfy the full string to avoid params to be removed. Maybe jekyll has a filter for this?

Any help welcomed!

[2016-09-05 10:20] nukeador commented on #53
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_layouts/page.html

[2016-09-05 10:42] nukeador commented on #53
Fix should be this one → https://github.com/mozilla/activate.mozilla.community/pull/54

[2016-09-05 10:52] #53 closed

[2016-09-05 13:14] umeshagarwal commented on #52
I agree with both @couci and @brianking  so have updated the details...

[2016-09-05 13:19] umeshagarwal commented on #52
Target Events/Initiative : 150 +

Swags Details:
Unisex T-shirt(Activate Mozilla) - 200 T-Shirt
Activate Mozilla Sticker Sheet (8 Stickers each sheet)) - 200 Sheet
Round Stickers of Rust - 2000 Stickers
Square Stickers(Other Topics if needed) - 1000
Mozilla Wordmark Stickers - 1000

Two types of swag pack:
-One Generic Swag pack for Activate Mozilla.
-One Swag pack for separate applicable topics l

[2016-09-06 09:07] brianking opened #55 "Sign Copyright Petition Activity"
Make a new, simple, activity around:

https://www.changecopyright.org/

Can we track people coming in from our site?

[2016-09-06 09:19] brianking commented on #42
Reps:

* Reach out directly to community mailing lists
* Talk 1-1 to regional loaders
* Reps Regional coaches
* Post again on social media (Twitter and Facebook)
* Reps Telegram

All:

* Mozillians Telegram
* All Mozillians mail (ask @LucyeoH)

Are we missing any?

[2016-09-06 09:21] brianking commented on #43
Only first one seems feasible in short-term.

[2016-09-06 09:22] brianking commented on #44
Going to merge this one into #42

[2016-09-06 09:22] #44 closed

[2016-09-06 09:26] brianking opened #56 "Change Activity Categories"
Talked to @LucyeoH about the possibility of aligning with the 3 big categories that will be used for the Mozilla Clubs site.

[2016-09-06 09:29] brianking commented on #34
Discussed this in France with nikos - what are your thoughts @comzeradd ? We should aim to have the same system for Clubs site.

[2016-09-06 09:30] brianking commented on #35
Check Open Innovation Toolkit site - https://toolkit.mozilla.org/

[2016-09-06 09:32] brianking commented on #19
Part of push to make site more visually appealing.

Consider screenshots, videos, ....

[2016-09-06 09:33] brianking commented on #46
Aiming to launch within a week of talking to @ngokevin ... we missed call last week and will talk this week.

[2016-09-06 09:34] brianking commented on #47
https://docs.google.com/spreadsheets/d/1ss3nkmIIYYFLjvBfROB8-p2xB4HRAVTm5t323e_vhsk/edit

WIP - not much data there yet ... chasing it down.

[2016-09-06 09:40] brianking commented on #52
Idea: Do experiment with small amount of events and measure effectiveness of use of swag. Consider A/B testing and so same number without swag.

[2016-09-06 09:44] geroter commented on #55
What's the mobilizer activity here? This isn't a general contribute page ... it's something to get our mobilizers aligned.

[2016-09-06 09:45] geroter commented on #43
Why not do a basic "blog" style page with a manually built weekly leaderboard? Seems very doable.

[2016-09-06 10:05] brianking commented on #55
Agreed it is too lightweight. I wonder if there is something we can "add-on" to it, such as (off the top of my head) something around bringing more awareness to your community about copyright, e.g. Copyright MozCoffee.

Once Maker Party starts we'll have a more solid mobilizer action or set of actions.

[2016-09-06 17:10] brianking opened #57 "Site Issues in Responsive Mode"
I see at least 3 issues

* [ ] Header navigation pushed the Mozilla link out of place. An ideal solution would be to have a hamburger menu
* [ ] Text starting 'Are you interested in other areas...' sits at the side, instead of underneath
* [ ] Blank section near the bottom

@comzeradd can you possibly help with this?

![screen shot 2016-09-06 at 19 01 17](https://cloud.githubusercontent.com/assets

[2016-09-06 17:14] brianking opened #58 "Align Design with New Clubs Site"
My understanding is that the new Clubs site is being built on the same technology as the Activate site. I think it would make sense for them to have a similar design.

Can we share CSS, image assets, and perhaps even code or markup?

Bring in @comzeradd for initial comments on feasibility.

cc @LucyeoH and @bacharakis fyi.

[2016-09-06 17:27] brianking commented on #19
@comzeradd thoughts here on how to best mark up these pages and add visuals?

[2016-09-06 20:41] brianking opened #59 "Get Metrics Data From Reps Portal"
We are created a dashboard to ensure we are hitting our targets for the campaign. See issue #47 for more details.

There are 3 things we are tracking on the portal:
1. When someone makes an event they can choose the 'MozActivate' initiative.
   From this we would like:
   a. the absolute number of events (per week and total, reported weekly)
   b. the number of unique people doing these events (to

[2016-09-06 21:34] nukeador commented on #19
Note: I've been avoiding html markup to have clean content pages that can be updated by non-technical people. Check a trick I've been using to apply some css classes ;-)

[2016-09-07 09:55] hmitsch commented on #59
Discussed with Brian. We will pursue using analytics.mozilla.community for the reporting. @brianking will check how to approach Bitergia.

[2016-09-07 10:37] comzeradd commented on #34
Yes, we also had a brief conversation with @nukeador about this. Since we have the requirement of keeping markdown this limits our options . For instance using something like [webL10n](https://fabi1cazenave.github.com/webL10n/) or the solution @a-kilroy posted above from the advocacy page.

I'm not very familiar with pontoon, but why md2xliff is not good enough? Is it much of a problem that it doe

[2016-09-07 11:03] nukeador commented on #34
We could have a script to provide diffs and recreate but I was wondering if this is something that Pontoon is able to handle.

[2016-09-07 18:36] umeshagarwal commented on #52
noted @brianking

[2016-09-08 11:50] flamingspaz opened #60 "Add contribute.json"
https://wiki.mozilla.org/Security/Guidelines/Web_Security#contribute.json

Easy sec improvement for us.

[2016-09-08 14:02] brianking commented on #60
What does this do @flamingspaz ? Should I assign to you?

[2016-09-14 11:51] comzeradd commented on #58
I started "playing" around with the site. For start I introduced more or less the same typographic rules we have at the Campus Clubs website and at Mozilla in general.

I also changed the color theme to match the work the Open Design does to create an identity for the Activate campaign. Maybe we could ask them to create a top header if we want to align more with the Campus Clubs layout.

![home](h

[2016-09-14 11:55] comzeradd commented on #57
We should switch in classic collapse/hamburger UI for the mobile view in order to fit the navbar.

Work in progress yet, but I started addressing the responsive problems of the website.

![mobile](https://cloud.githubusercontent.com/assets/939357/18511234/44c03104-7a8b-11e6-82de-5c2a1bb12797.png)

[2016-09-14 12:38] brianking commented on #58
I really like the new header there. The general text on https://campus.mozilla.community/ looks bigger and darker than what we have currently on activate.

[2016-09-15 11:37] brianking opened #62 "Explore Marketing Campaign Activities"
Talk to Arcadio and Maura about what is upcoming, and see if we can amplify with an activity.

[2016-09-15 11:45] brianking commented on #46
Talked with@ngokevin and @gurumukhi this week about building out the activity. Next steps:

* Ram to make first pass at building out activity
* Brian to review, fill gaps, polish
* Send to Kevin for review

I want to be aggressive on timing and get this live next week.

[2016-09-15 15:50] nukeador commented on #42
@brianking is this something we can have tomorrow? Where do you need help here?

[2016-09-15 20:55] brianking commented on #42
It's basically outlined in the tasks above! I could use help with content.

[2016-09-16 10:23] brianking commented on #56
Teach
Build
Learn

... to align with https://campus.mozilla.community/activities/

[2016-09-16 10:36] brianking opened #64 "Side Nativation for Activities"
To make activities clearer and more engaging, let's try to have activity pages look something like:

https://toolkit.mozilla.org/method/job-to-be-done/

I'm not sure how many sections makes sense, but we can use the heading we currently have on the page for now.

[2016-09-16 10:39] brianking opened #65 "Simplified Footer"
Let's have a cleaner footer like the one at https://toolkit.mozilla.org/.

[2016-09-18 10:20] brianking commented on #59
Blocked by https://github.com/mozilla/participation-metrics-org/issues/1 and https://github.com/mozilla/participation-metrics-org/issues/9.

We will have to do it manually for now.

[2016-09-18 10:48] brianking opened #66 "Leaderboard"
Make a quick and dirty leaderboard of people running MozActivate events.

Potentially blocked by #59

@comzeradd would like to hear your thoughts on how we could achieve this, both in terms of getting data and also displaying it on the site.

[2016-09-19 14:39] #57 closed

[2016-09-19 14:39] #58 closed

[2016-09-19 20:52] brianking commented on #56
Would like feedback from @bacharakis and @LucyeoH on whether these categories are final on the campus site and whether you think they make sense on activate.

[2016-09-20 21:09] LucyeoH commented on #56
yes! Those are final - we'll share some graphics with you that you can use.

[2016-09-22 08:06] brianking opened #68 "Links don't stand out enough"
Since the most recent changes (but also before to some extent), there is not enough contract with the links styling for them to stand out. This leads to a poor user experience where people don't know where to click.

We'll need to come up with a better colour for links.

[2016-09-22 14:30] comzeradd commented on #64
Fixed at e09e0d7df7fd665c0302be85adf3436c0004bea3

[2016-09-22 14:30] #64 closed

[2016-09-22 16:06] brianking opened #70 "Review Activity Sections"
Listed here are the current section headings in activities. We need to review to ensure that they are the best ones for full engagement. Are the terms clear? are there too little or too many? Are some of them optional for some activities?
- Introduction
- Impact and Metrics
  - Goals For This Area
- Audience For This Activity
- Activity Format / Event Flow
- Other Resources
- Output
- Extra

[2016-09-22 20:41] #65 closed

[2016-09-22 20:41] #68 closed

[2016-09-23 20:14] LucyeoH commented on #56
They are final. Should we grab a meeting to chat more?

On Mon, Sep 19, 2016 at 4:52 PM, Brian King <notifications@github.com>
wrote:

[2016-09-26 10:19] brianking commented on #56
TODO:
* Landing pages for new categories
* Site map to to fit activities into new categories

Setup 15 mins with Lucy and Christos to finalise this.

[2016-09-26 10:29] brianking commented on #66
Open programmatic questions:

1. Do we want some extra validation step for events before they appear on the site? (to push outcomes, not # of events)
2. Do we want to give rewards? e.g. mozactivate hoodie to the winner every month

[2016-09-26 10:32] brianking commented on #59
Talked with @akatsoulas @comzeradd and @nukeador about this today and we agreed on an approach using the Reps API. For now, @akatsoulas and @comzeradd will look at the requested data in the first comment in this issue, and report back on what is feasible and if a simple weekly report can be automated and delivered.

[2016-09-28 00:32] AlexLakatos commented on #70
In some cases, *Activity Format* is an option between solo and a strongly encouraged event, but the *Event Flow* is the same for both. I think we could take advantage here and tailor a special "Tasks" section here for people that choose to go solo, instead of the Event Flow, which does not always apply for solo.

I think *Event Flow* should be more of a detailed checklist, with multiple items that

[2016-09-28 17:22] emmairwin commented on #70
Hi,

Some general feedback on the format of this activity and generally for activate.

**Find-ability** - It took a while to find the 'Activate Mozilla' website, Google didn't give it to me in the top searches ( I tried activity campaign Mozilla, activate Mozilla.  I also looked under participation in Discourse, but finally found it via search in Participation Leaders. The post themselves don't th

[2016-09-29 09:52] brianking commented on #70
@comzeradd A couple of questions for you based on Emma's feedback:

1. Is there anything you can do to improve SEO?

2. Can we embed media in pages?

[2016-09-29 11:39] nukeador commented on #70
Simple plugin for allowing youtube videos using clean markdown:

https://gist.github.com/serra/5574343

[2016-09-29 17:56] emmairwin commented on #70
I used this short cut for videos in markdown https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#videos

[2016-09-29 20:42] brianking opened #71 "Event Best Practices Page"
To include such things as:
- Put an event team together
- Choose a date and secure a venue
- Give a thought whether it will be self-facilitated or with someone who has A-Frame experience. You can find help at the community page (https://aframe.io/community/)
- Setup the event on Reps Portal (https://wiki.mozilla.org/ReMo/SOPs/Event_hosting)
- Create an event page on a platform popular in your loca

[2016-09-30 13:01] comzeradd commented on #70
For videos we could use the plugin @nukeador mentions or just plain html embed code (what youtube provides). You can use html inside markdown files without any problem and they get rendered properly.

Regarding SEO, I'm not an expert on the topic but in general what's important is the content. This is what the bots/crawlers fetch and analyze. On DuckDuckGo searching for `Activate Mozilla` it [gets

[2016-10-03 13:10] brianking opened #72 "Timeline and Impact Activity Message Boxes"
For Activity pages, we should have ave the following highlighted at the top:
1. Timeline - how long the activity will last
2. Impact - why this is an important activity right now and the potential impact it can have.

I imagine these to be CSS boxes with different styling and a border applied, but am open to suggestions on how it is best implemented.

[2016-10-04 16:57] brianking commented on #33
Roadmap has been updated.

https://activate.mozilla.community/roadmap/

Assigning to @comzeradd to apply some CSS love to make it look prettier, then we should be done and it will be easier to update when we have new activities in the pipeline.

[2016-10-04 18:27] brianking commented on #56
My proposal for overhaul of the categories:

https://docs.google.com/document/d/1xKNDoVyO3VgJVdEVAp8ikS3A3lIOtjcRqilcZRQY4xo/edit?usp=sharing

Feedback requested from @nukeador @LucyeoH and @comzeradd .. thank you!

[2016-10-04 18:36] brianking opened #73 "Better 404 page"
Right now we just get the generic github pages 404. Can we customise this, and make sure a least a link to the home page exists?

[2016-10-04 21:40] brianking opened #74 "Create a list of user stories for Activate Metrics to build a Bitergia dashboard"
@hmitsch and I have started the process, so I need to complete.

https://github.com/mozilla/participation-metrics-org/projects/2

Process
- [x] Add all items to a Google doc
- [ ] Seek review from @hmitsch
- [x] Add each one to github

[2016-10-05 13:22] #33 closed

[2016-10-05 13:26] MichaelKohler commented on #33
@comzeradd that already looks better, thanks! Since the page is pretty white, I think (and this is highly subjective of course) that having a colored header would be more appealing, what do you think?

![screen shot 2016-10-05 at 15 25 24](https://cloud.githubusercontent.com/assets/330324/19114874/1772426a-8b10-11e6-9a7a-22a08824013d.png)

[2016-10-05 14:04] brianking commented on #73
Suggested text. I'd start with a quote:

"Not until we are lost do we begin to understand ourselves."
Henry David Thoreau

... and then just say something like: The page you were looking for does not exisiting. We suggest you <link>go the Activate home page</link> to find your way to where you are going. Good luck!

[2016-10-05 14:06] brianking commented on #73
"does not exisiting" -> "does not exist". And make 'Activate home page'  a link.

[2016-10-05 14:22] comzeradd commented on #73
[Done](https://activate.mozilla.community/404.html) :rocket:

[2016-10-05 14:22] #73 closed

[2016-10-05 14:26] comzeradd commented on #72
Yes, we could use simple distinct labels or even something closer to [this](https://chadsansing.github.io/eu-maker-party-sample-activites/updated-eu-maker-party-content/activity03-contribute-to-the-commons.html).

Do we have that info for all activities?

[2016-10-05 14:31] brianking commented on #72
We don't have that info yet for all activities, but we can add one the capability is there.

[2016-10-05 14:34] comzeradd commented on #60
Fixed at c0afc808d1589a74a7c2144c34a7dcd362621b5d

[2016-10-05 14:34] #60 closed

[2016-10-05 21:17] brianking opened #76 "Page Styles Not Loading"
All colours and styles have gone from the site pages, but image assets remain. This is what I see:

https://pageshot.net/O13hJvKOrw9MBi0D/activate.mozilla.community

[2016-10-05 21:18] brianking commented on #76
Console shows me:

          GET
https://activate.mozilla.community/activate.mozilla.community/asserts/css/bootstrap.min.css [HTTP/1.1 404 Not Found 99ms]
GET
https://activate.mozilla.community/activate.mozilla.community/asserts/js/bootstrap.min.js [HTTP/1.1 404 Not Found 62ms]
GET
https://activate.mozilla.community/activate.mozilla.community/asserts/js/app.js [HTTP/1.1 404 Not Found 41ms]

[2016-10-05 21:52] comzeradd commented on #76
It's ok now. Now idea what caused it, but I removed base.url prepending since it's empty anyway on our `config.yml`.

I'm keeping this open to run a full check for dead links.

[2016-10-06 09:33] comzeradd commented on #76
Run a full check and fixed all links

[2016-10-06 09:33] #76 closed

[2016-10-06 09:37] brianking commented on #66
Temporarily blocked by Reps API changes.

[2016-10-06 11:43] brianking commented on #52
This is now finalised an documented in this blog post:

http://blog.mozillaindia.org/1736

Thanks everyone!

[2016-10-06 11:43] #52 closed

[2016-10-06 12:08] brianking opened #77 "Update FAQ with info about WebVR Headset budget"
A shortened version of this which appears in the activity:

"Acquire headsets to use and demo. Google Cardboard can be acquired in some locations for less than $5 a set. We recommend 5 headsets for an event of 20-30 people. You can request budget of up to $50 maximum for these headsets but you will have to buy them yourself."

[2016-10-06 13:40] couci commented on #48
After a talk we had with Brian here is our strategy:
 * we will build local swag in Berlin and India. That will be stickers and t-shirts with the design provided from the Rust team
 * we will produce stickers and t-shirts in our central US vendor. That will help us ship around the globe.

Quantities to be added

[2016-10-06 19:45] brianking commented on #56
TO: Map existing activities to new categories.

[2016-10-06 19:47] brianking commented on #33
@MichaelKohler Please file new issues for bugs or requests.

[2016-10-06 20:01] brianking opened #78 "Switch to relative paths on Roadmap page"
The roadmap page, in all locales, is using absolute path when linking to activities.

@comzeradd if you think we need to change to relative, please make the changes.

[2016-10-06 20:07] brianking opened #79 "Links on category pages not consistent"
Different locales are using different path formats on both the category pages.

e.g.

en
/experiments/test-pilot/

pt
({{ "test-pilot/" | prepend: page.url }})

fr
({{ "test-pilot" | prepend: page.url }})

es
same as pt

We should settle on a consistent format.

[2016-10-07 18:43] brianking commented on #45
Shipped!

https://discourse.mozilla-community.org/t/new-activate-activities-and-other-changes/11360

[2016-10-07 18:43] #45 closed

[2016-10-07 18:44] brianking commented on #46
Shipped!

https://discourse.mozilla-community.org/t/new-activate-activities-and-other-changes/11360

[2016-10-07 18:44] #46 closed

[2016-10-07 18:50] brianking commented on #77
I added the following text:

[2016-10-07 18:50] #77 closed

[2016-10-10 07:37] teovermesan opened #81 "Hamburger menu is missing on tablet (portrait)"
![screenshot_20161010-100948](https://cloud.githubusercontent.com/assets/9572472/19229197/67b07a5e-8ed4-11e6-9b0f-9297ebf438c6.png)
Tested using:
Device: Nexus 9 (Android 6.0)
Steps to reproduce:
1. Open activate.mozilla.community in portrait mode
Actual result:
-Hamburger menu is not displayed in portrait mode
-The three options: FAQ, ROADMAP, PARTICIPATION appear on the top right, displayed one

[2016-10-10 07:38] teovermesan opened #82 "Menu is displayed too small on Iphone 6+ IOS (9.3.4)"
![img_0102](https://cloud.githubusercontent.com/assets/9572472/19229368/a82307fe-8ed5-11e6-9708-a911385aa0ae.PNG)

Tested using:
Device: Iphone 6plus IOS (9.3.4)
Steps to reproduce:
1. Open activate.mozilla.community in portrait mode
Actual result:
-Hamburger menu is displayed too small

[2016-10-10 07:41] teovermesan opened #83 "Choosing 'fr' language does not display correctly ‘Subscribe to the Participation Leaders forum‘ option"
Tested using:
Firefox Nightly 52.0a1 (2016-10-06) on Ubuntu 16.04
Steps to reproduce:
a. Go to https://activate.mozilla.community/
b. Go to the bottom of the page and choose ‘fr’ language
Actual result:
- the link is not attached to the image
![dw1htgc](https://cloud.githubusercontent.com/assets/9572472/19229414/fcc52166-8ed5-11e6-8e0e-17c2c94f3af6.png)

[2016-10-10 07:42] teovermesan opened #84 "Page is not translated for ‘es’ and ‘fr’"
Steps to reproduce:
a. Go to https://activate.mozilla.community/
b. Go to the bottom of the page at the ‘Languages: en, es, fr, pt‘ option
c. Choose “es” or “fr”
Actual result:
- Page is not translated
Note:
- Choosing ‘pt’ will display the page translated

[2016-10-10 07:43] teovermesan opened #85 "“Stay updated about new activities” option is missing for 'en' language"
Steps to reproduce:
a. Go to https://activate.mozilla.community/
b. Go to the bottom of the page
Actual results:
-“Follow @MozParticipate on twitter” and “Subscribe to the Participation Leaders forum” are missing
Expected results:
- These 2 options should be present, since they are displayed for ‘es’, ‘fr’ and ‘pt’

[2016-10-10 07:44] teovermesan opened #86 "Update video from Other Resources (Dive Into Rust)"
Steps to reproduce:
1.Go to https://activate.mozilla.community/developer-engagement/rust-hack/
2.Choose ‘A screencast from Niko on ownership and borrowing’ from Other Resources

Actual results:
-the video is not available anymore

[2016-10-10 07:47] teovermesan opened #87 "Page is not displayed correctly"
Tested using:
Device: OneA2001 (Android 6.0.1)
Steps to reproduce:
1. Open activate.mozilla.community
Actual results:
- Page should be properly displayed on narrow screens
![vzwxyll](https://cloud.githubusercontent.com/assets/9572472/19229519/e17e19fc-8ed6-11e6-9214-85f7a726dfc1.png)

[2016-10-10 09:03] teovermesan opened #88 "Menu is cut off when window is resized"
![screen shot 2016-10-10 at 11 47 45](https://cloud.githubusercontent.com/assets/9572472/19231173/38bf65e0-8ee1-11e6-8583-1d09199461e2.png)
Steps to reproduce:
1. Open https://activate.mozilla.community/developer-engagement/webvr-camp/
2. Resize window
3. Scroll up and down

Actual results
-Menu is cut off
-No ability to see some options

[2016-10-10 11:53] nukeador commented on #84
We don't have yet the site translated into Spanish (WIP) and we probably will remove FR since we need to fix how the site handles localization before adding new locales.

[2016-10-10 11:53] nukeador commented on #84
References: #14 #36

[2016-10-10 11:53] #84 closed

[2016-10-10 11:54] nukeador commented on #85
English site should have the updated content. We need to update es and pt.

[2016-10-12 03:58] tuxlan commented on #14
Hi
I'm from Mexico. I would like to help with Spanish localization

[2016-10-12 12:31] #78 closed

[2016-10-12 12:31] #79 closed

[2016-10-12 12:31] #83 closed

[2016-10-12 13:07] #87 closed

[2016-10-12 13:13] #86 closed

[2016-10-12 13:13] comzeradd commented on #85
Fixed at 2f638ad229b5cddfcb4db2d29457f6daf86275ef

[2016-10-12 13:13] #85 closed

[2016-10-12 13:21] #82 closed

[2016-10-12 13:34] #81 closed

[2016-10-12 14:18] gaby2300 commented on #14
Hi,
I can help with Spanish too!

[2016-10-12 14:20] gaby2300 commented on #14
It would be helpful to know the content to be localized so we can share it between us

[2016-10-13 12:13] nukeador commented on #14
All the content is under the /es/ folder

https://github.com/mozilla/activate.mozilla.community/tree/gh-pages/_pages/es

[2016-10-18 16:54] brianking opened #91 "Embed Test Pilot and Rust Videos"
Let's experiment with putting media on activity pages. To start, let's embed this video on the Test Pilot page:

https://youtu.be/0NCk8h5cfFI

And this one on Dive Into Rust:

https://www.youtube.com/watch?v=8EPsnf_ZYU0

[2016-10-18 16:55] brianking commented on #72
Any updates on this @comzeradd ?

[2016-10-18 17:02] brianking commented on #74
I finished filing these issues on 8 Oct.

https://github.com/mozilla/participation-metrics-org/labels/MozActivate

And here is the doc where I originally wrote out each user story:

https://docs.google.com/a/mozilla.com/document/d/1kcKbjnC0kWZFLhbA_0kFL1YCtqd61mEg9UNBbsjjpyA/edit?usp=sharing

Will speak to @hmitsch about next steps.

[2016-10-18 17:10] brianking commented on #66
Any update on this @comzeradd ?

[2016-10-18 17:22] brianking opened #92 "Highlight Section on Homepage"
We talked about adding a highlighted section on the homepage to bring attention to more urgent things. Some uses of it would be:
- To add a CTA for Maker Party
- Highlight time-bound activities
- Highlight activities that need more engagement

[2016-10-19 10:17] comzeradd commented on #66
The changes we needed on Reps API were implemented. I haven't planned working on this during this week. It would probably fit on our next week sprint.

[2016-10-23 17:17] 0x890 opened #94 "z-index Property"
you need to fix this style .post-content > #markdown-toc

add : z-index : 9999;

[2016-10-25 09:38] comzeradd commented on #92
I started experimenting with Maker Party graphics for this. Any ideas on the text we should include on the CTA?

[2016-10-25 09:38] #56 closed

[2016-10-25 11:24] nukeador opened #95 "Frontpage links to specific sections"
Right now the frontpage themes link to the /activities/ page, where you have to scroll again to find the theme, we should probably link to the sections you clicked on like:

https://activate.mozilla.community/activities/#build-the-web

[2016-10-25 11:34] nukeador opened #96 "Icons on activities page"
I feel we should use icons for the activities instead of the themes, so it's easier to visualize the different activities we have. Also move "Find out more" to a new line so it's easier to click in the same place for all blocks.

This would be my idea:

![captura de pantalla de 2016-10-25 13-33-47](https://cloud.githubusercontent.com/assets/531906/19684496/c0488a1e-9ab7-11e6-8371-6d162a31444c.png)

[2016-10-25 12:17] comzeradd commented on #95
We can easily do that. Only problem with this approach is that you'll miss the intro text.

[2016-10-25 12:19] nukeador commented on #95
@brianking maybe there is a way we can provide that info elsewhere?

[2016-10-25 12:38] brianking commented on #92
Something like:

Maker Party is in full swing, and the focus this year is on copyright reform in the European Union. Help make a different to bring EU copyright laws up to date, to foster creativity and innovation on the Web. [Learn more](https://www.makerparty.community).

[2016-10-25 12:43] brianking commented on #96
I'm not convinced. I think icons on categories is enough, and am wary of icon overload. Either way, the goal here is that both a) there is a clear distinction between categories, and b) the activities stand out.

For me the bg colour on the activities, and the bold heading, make them stand out enough. Perhaps there are some other tricks we can do to bring them out more?

[2016-10-25 12:45] brianking commented on #95
One trick I see alot on sites is there is an arrow that people can click on to bring them to the top of the page. It also acts as a visual indicator that there is content above.

[2016-10-26 02:13] alipseight commented on #36
Hi, I'm reopen this issue because have a new localization to portuguese.

https://github.com/mozilla/activate.mozilla.community/pull/98

[2016-10-26 10:36] #95 closed

[2016-10-26 10:37] comzeradd commented on #94
Fixed at 02775c94deda9c978a67dddbbe79b1ff79a8c6d9

[2016-10-26 10:37] #94 closed

[2016-10-27 09:19] comzeradd commented on #34
To sum up, I see a few requirements here:

1. Keep the content in markdown, to make it easy for non-technical people to edit it.
2. Avoid using Pull Requests for localizing content.
3. Use standard mozilla l10n tools (pontoon), to increase project and content changes discoverability from localizers.

All jekyll's localization plugins and methods involve opening Pull Requests for localized content,

[2016-10-27 10:59] nukeador commented on #34
@comzeradd I agree. What would you need?

@mathjazz @gueroJeff Is this something you can support us?

Thanks!

[2016-10-27 18:49] Srushtika opened #99 "Wrongly linked page on MozActivate website"
The link to "Read more" on the WebVR Camp-activity on this page leads to "Dive into Rust".
https://activate.mozilla.community/activities/#build-the-web

[2016-10-27 19:44] #99 closed

[2016-10-28 07:02] mathjazz commented on #34
Sounds like a plan!

What matters for Pontoon is that files in a supported file format are available at the right place in the repository it can write to. And that's covered by the plan proposed by @comzeradd already!

I'm no expert in XLIFF files, but since it's a bilingual file format, I suspect every time a new en-US XLIFF file is generated, we'd also need to merge those changes into localized

[2016-10-28 07:28] mathjazz commented on #34
Wait. Your app doesn't use XLIFF files directly, it uses MD files. So as long as the xliff2md script can create valid localized MD files, this step is not needed.

[2016-10-28 11:21] comzeradd commented on #34
First step would be to enable Pontoon, so I opened a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1313636).

[2016-10-28 11:27] nukeador commented on #66
This leaderboard would be key to get more Reps involved as a social incentive

https://github.com/mozilla/participation-org/issues/468

[2016-10-28 11:51] mathjazz commented on #34
That's the last step I believe. Requirements under Section A need to be met first:
https://developer.mozilla.org/en-US/docs/Mozilla/Implementing_Pontoon_in_a_Mozilla_website

That's basically steps 2 and 3 from your list.

[2016-10-28 22:37] alipseight commented on #36
The pull request have a conflict and don't show the problem.

[2016-10-31 14:03] comzeradd commented on #34
Yes, good point. I started creating the locales files. One thing I'm not sure about is whether I should include the original (en-US) files too, since xlf files have a source and target locale anyway.

[2016-10-31 19:16] mathjazz commented on #34
Yup, we need the en-US folder with original files.

To give you an idea, here's the (only) xliff-based project we currently localize:
https://github.com/mozilla-l10n/firefoxios-l10n/

[2016-11-01 12:20] comzeradd commented on #34
Thanks

I added the locales files, gave write access to the mozilla-pontoon bot and update the bug :)

[2016-11-02 08:37] mathjazz commented on #34
Thanks @comzeradd! Could you use the `.xliff` file extension?

[2016-11-02 11:43] ioana-chiorean commented on #34
🎉

[2016-11-02 12:25] comzeradd commented on #34
@mathjazz [done](https://github.com/mozilla/activate.mozilla.community/commit/0c97135b627c725a488fb71d5e2478ad16e44b41).

[2016-11-02 12:45] mathjazz commented on #34
Thanks!

XML parser is throwing an error:
[code]

Seems like `&`'s need to be escaped, e.g.:
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/locales/es-ES/webvr-camp.xliff#L145

[2016-11-02 13:34] flodolo commented on #34
Has anyone tried to go back to .md from these files, localizing a few random strings?

In only checked a couple of file: one looked fine, but others look full of unnecessary fragments. Example:
* https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/locales/fr/activities.xliff#L57
* https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/locales/fr/activities.xliff#L57 (w

[2016-11-02 15:45] comzeradd commented on #34
I substituted `&` with `&amp;`. Could you check that this work?

[2016-11-02 15:51] comzeradd commented on #34
Yeap. But you need the skeleton files that `md2xliff` created to reverse the process properly. I can add them to the repo if this doesn't create any problem to the pontoon bot (because they live inside the same folders as xliff files).

This is the way we add specific css classes and markup to the content. There is no way to avoid this if we want the reverse process of reconstructing the markdown

[2016-11-02 15:56] hmitsch opened #100 "Geography constrained campaigns"
# User Story
As a **Cliqz community manager**
I want to **create an activate campaign targeting volunteers in Germany**
in order to make sure potential contributors see only campaigns which actually relevant to them (info: the Cliqz search engine is currently focusing only on the German market)

# Job Story
When **launching a campaign**
I want to **restrict it to a certain country**
so I can attra

[2016-11-02 16:19] ankit-cliqz commented on #100
Some information about the suggested use-case/ campaign:

Cliqz (https://www.cliqz.com/en) is a web browser built on Mozilla's code base with a built-in search engine and privacy features, which currently supports German language content. Recently, Mozilla invested in Cliqz [1], and as part of introducing the Mozilla Community to Cliqz, the Activate campaign will be a sprint (Allows remote partici

[2016-11-02 19:13] geroter commented on #100
Let me jump in with a comment here:
As it's conceived right now, Activate is **not a portal for contributors. It's a portal for mobilizers** -- people who will organize others to participate in various aspects of Mozilla.

This doesn't mean the Activate site won't become something broader, but that's currently not it's purpose.

**Why this is relevant:** Right now we will have specific relationshi

[2016-11-03 10:15] ankit-cliqz commented on #100
@geroter  Thanks for your comment.
From what I conceived, the best way to propose such an activity could be through an activate campaign focused towards the individuals of German speaking Mozilla community, who can mobilize other groups of people to achieve this goal. One way could be to write the task activity in German, so only concerned individuals are reached. I understand that the current set

[2016-11-03 13:07] mathjazz commented on #34
It seems like some `&`s in locale files are not escaped yet:
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/locales/pt-PT/test-pilot.xliff#L129

BTW, for URLs you should probably use `%26` instead of `&amp;`:
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/locales/en-US/test-pilot.xliff#L133

[2016-11-03 14:52] comzeradd commented on #34
Thanks. I made the substitutions on url on all locales.

[2016-11-03 16:05] mathjazz commented on #34
Thanks @comzeradd!

I've successfully set the test project up on Pontoon stage server (the link will be broken in a few weeks from now):
https://mozilla-pontoon-staging.herokuapp.com/fr/activate-test/all-resources/?string=159738

I was also able to make a test commit to the repository:
https://github.com/mozilla/activate.mozilla.community/commit/f4aa015add804176a6b89c7fa7dffed111284842

It would b

[2016-11-03 17:52] brianking opened #101 "Blog about most active contributors"
Some Reps are doing an excellent job doing activate events. As a form of recognition, let's acknowledge them in a blog.

Perhaps not a blocker but it would be nice to have issue #66 Leaderboard in place first.

[2016-11-07 09:37] comzeradd commented on #34
Everything looks ok. We indeed have some markup in there. One option would be to copy them to the localized side once it hits production, to make it easier for people to ignore them. If we remove them, then the reconstructing process would need much more manual work from someone from this team and would probably lead to slow updates on the localized content.

[2016-11-07 10:53] #92 closed

[2016-11-07 10:59] brianking opened #102 "Retire the e10s and Add-ons activity"
The e10s and Add-ons activity ended on November 4. We now need to retire it.

There are a few ways we could do it.

1. Remove completely and all references to it.

2. Remove activity page but leave the title and text (not linked) on the activities page.

3. Leave as-is, but put a strong notice (see issue #72) at the top of the page that we no longer support the activity.

I prefer something like 3

[2016-11-07 11:04] brianking opened #103 "Add Activities to site nav bar"
I would also change the order to:

Activities | Roadmap | Participation | FAQ

I think it is standard for FAQ to go last.

[2016-11-07 11:07] couci commented on #102
@brianking have we communicated this with our communities? if those are not mozactivate activities any more do you feel that we should keep them under the regular budget requests or take them out of Reps budget completely?

[2016-11-07 11:20] brianking commented on #102
@couci we should no longer sponsor events that do this activity. And we should go one step further and tell people not to do it at all. So yes we should take it out of the Reps budget. I am working on replacement activities.

[2016-11-07 11:24] couci commented on #102
ok @brianking please let us know so I can update the budget allocation and inform the Reps

[2016-11-07 22:50] ioana-chiorean commented on #102
We can also announce it in the weekly call - at the non-verbal updates.

[2016-11-11 08:53] kelimuttu opened #104 "Bahasa Indonesia (id) translation"
Forked on https://github.com/kelimuttu/activate.mozilla.community
will update here once the translation has been done.

[2016-11-11 10:03] brianking commented on #104
We are currently overhauling our localisation system (issue #34) so please do not start anything until that is complete. Thanks for getting this started though. We'll let you know.

[2016-11-11 10:11] kelimuttu commented on #104
Aah, ok. Let's put this on hold.

[2016-11-11 15:30] #102 closed

[2016-11-14 10:33] brianking commented on #103
Please change the order to:

Activities | Roadmap | Participation | FAQ

[2016-11-14 10:59] ioana-chiorean commented on #103
Sorry for so many lines - I did it from web interface and not sure how to make them in one here.

[2016-11-14 11:37] #103 closed

[2016-11-16 14:53] brianking commented on #101
Waiting on #66 Leaderboard before writing and publishing this.

+ @comzeradd

[2016-11-18 13:03] mathjazz commented on #34
What are the next steps here?

[2016-11-19 08:58] comzeradd commented on #34
I think we are good to move this to production Pontoon.

[2016-11-21 08:54] comzeradd commented on #66
I open a [PR](https://github.com/mozilla/activate.mozilla.community/pull/114).

[2016-11-21 09:13] comzeradd commented on #72
Would you images the timeboxes close to the screenshot below? Also, can you give me an example of Impact content?

![screen shot 2016-11-21 at 11 10 50](https://cloud.githubusercontent.com/assets/939357/20476795/72c54e1a-afdb-11e6-8e20-344379e51c36.png)

[2016-11-21 10:51] comzeradd commented on #66
Fixed at e6f65c42eebbad64f06ceed2062593d2aff9c3a2

[2016-11-21 10:51] #66 closed

[2016-11-21 13:15] brianking opened #115 "Leaderboard links to Reps profiles are bad"
The links used from the API are not user-friendly:

e.g.
https://reps.mozilla.org/api/remo/v1/users/487/

[2016-11-21 13:47] brianking commented on #72
Yes, the timebox looks right. It is intended to show the **recommended time** to run the activity/event.

Here are the recommended times per activity:

- Dive Into Rust : 2-3 hours
- WebVR Camp : 3-4 hours
- Test Pilot : 2 Hours
- Web Compatibility Sprint : 2-3 Hours

[2016-11-21 13:52] brianking commented on #72
And here are some proposed impact statements.

- Dive Into Rust : Having more developers understand, use and evangelize this language will advance make the web better and more secure.
- WebVR Camp : Having more developers and content creators playing with WebVR is important for the future of virtual reality to help build towards a free and open virtual reality platform not owned by any individual

[2016-11-21 13:54] brianking commented on #72
We should consider also highlighting the value to contributors. But that is out of scope here, I will follow up in a separate issue about that.

[2016-11-21 14:10] brianking opened #116 "Category Tabs on Activity Pages"
Similar to the new https://campus.mozilla.community/activities/, should we have tabs for categories on the Activities page?

Pros:
- Better use of space
- Ability to add more category lead-in text

Cons:
- No 'birds eye view' of all activities together
- Not many activities right now, so may not be warranted

[2016-11-21 14:13] brianking opened #117 "Twitter Widget"
A Twitter widget on the site showing #mozactivate tweets.

Where could it go? e.g. footer to appear on all pages

How much would it affect page load times?

[2016-11-21 14:17] brianking commented on #55
+ @LucyeoH

Campus Clubs is doing this at https://campus.mozilla.community/activities/#protect

I'm curious Lucy if you are tracking this in some way?

And as we have discussed how to keep mobilizers engaged now that Maker Party is ending, let's continue to explore options here.

[2016-11-21 14:24] brianking commented on #48
Chatted with @couci ...

\+ @kelimuttu who is helping coordinate on:

[2016-11-21 14:32] brianking commented on #100
After further discussion it was concluded that the best approach right now is to work directly with contributors in Germany. We can re-open this at a later time if deemed necessary.

[2016-11-21 14:32] #100 closed

[2016-11-21 14:54] ankit-cliqz commented on #100
Thanks @brianking. I will continue this discussion with @hmitsch offline, as to how we can realize this.

[2016-11-21 15:06] brianking commented on #96
We should do this if we add tabbed categories ( #116  ), otherwise I would leave as is.

Thoughts @comzeradd ?

[2016-11-21 17:47] LucyeoH commented on #55
@brianking we just got tracking at this level but I was having trouble pulling up the data. I've emailed Nikos and Christos for additional support and will get back to you!

[2016-11-21 18:30] mathjazz commented on #34
Thanks, @comzeradd!

Leaving it to the project management team. /cc @peiying2

[2016-11-21 19:11] peiying2 commented on #34
Thanks everyone for brainstorming and finalizing a process so we can proceed.

I went through some of the strings, and saw a need for an explicit list of instruction on the kind of strings that are for localization while others should be ignored.  I need to compile this list and include in my email communication to the localizers.

[2016-11-22 10:38] flodolo commented on #34
I would go even further: all strings that are supposed to remain identical should be pre-translated to avoid a mess, and reduce the amount of copy and paste for localizers.

This might give you some ideas
https://github.com/mozilla-mobile/firefox-ios-build-tools/blob/master/scripts/update-xliff.py

[2016-11-23 12:44] brianking opened #118 "2016 End of Year Activate Drive"
## Objective Goal:
Reps and select local communities are updated on the Activate Campaign, and are motivated to participate before the end of the year.

## Related documents and links
* [General Comms Doc](https://docs.google.com/document/d/10tBSGpF3Qc_QnNXSgmQoNV90eNeXER9uHz6zSQcsCXw/edit?usp=sharing)

## Item lists

Targeted drives with select communities:
- [ ] Choose communities to work with (

[2016-11-23 12:46] brianking commented on #42
We've had multiple comms by now, so closing this out.

I've opened #118 '2016 End of Year Activate Drive'.

[2016-11-23 12:46] #42 closed

[2016-11-23 17:14] couci commented on #118
Reps weekly call planning is in here https://github.com/mozilla/Reps/issues/92

[2016-11-24 07:16] kelimuttu commented on #48
@brianking I see most of the design in https://users.rust-lang.org/t/all-the-rust-swag/7036 are for commercial purpose. Don't you think we need our own design for communities?

[2016-11-24 09:35] brianking commented on #48
I'll defer to @brson here. I believe the community has a discussion about designs, but didn't reach consensus. We might need to call in some design help. Brian?

[2016-11-24 10:11] comzeradd commented on #115
Fixed at 1476a952c9328f77d2b9f02d8bc7c7fe10a829fb

[2016-11-24 10:11] #115 closed

[2016-11-24 17:34] brianking opened #119 "Tweaks to Web Compat activity"
After chatting with the Web Compat team, we identified a few changes that could increase the impact of the activity.

- [ ] Pull out some of the steps at https://wiki.mozilla.org/Compatibility/Guide#Reporting_a_Web_compatibility_issue and include them directly in the activity
- [ ] Be more clear on output required
- [ ] Add in alternative sources to Alexa for finding sites to test

[2016-11-24 20:02] ioana-chiorean commented on #119
Let me know if you  need help on this. Always having a weak point for WebCompat in my heart ;)

[2016-11-25 17:49] asdofindia opened #120 "Leaderboard says "mozillian" while only reps can be on the leaderboard"
I understand that the leaderboard is still under development, but while only reps can create reps portal event, and only reps are counted for the leaderboard, I think it's unfair to give the heading "mozillian" in the table.

[2016-11-25 18:22] MichaelKohler commented on #120
In my opinion all Reps are Mozillians as well. But I definitely agree that this is not the best situation indeed. You can also create an event for another Mozillian and still you are the organizer on the portal.

But this is a discussion to happen in the future again, since we will be talking about Reps, core mobilizers etc. again at the next work week. This all ties in together.

I don't really h

[2016-11-25 18:50] asdofindia commented on #120
I'm sure I can elucidate the difference by giving analogies, but I'll defer considering the rest of your comment.

[2016-11-25 19:47] brianking commented on #120
Yes, @comzeradd and I already discussed it. And we want to fix it. One idea was that you would be given 1 point if you *attended* an event which any Mozillian can do on the portal. However, I could see this as being problematic / easy to game as people would randomly click on events to attend.

[2016-11-26 01:35] asdofindia commented on #120
In the long term, a fix might come from Participation Systems when the tools that are available for reps are made available for all mozillians. But in the short term, maybe we could have multiple leaderboards according to multiple criteria and a short note at the top stating the caveats.

Also, we can think of a feature on the portal whereby organizer can confirm the participation of an "attendee"

[2016-11-28 10:15] brianking commented on #118
Project call recording: https://air.mozilla.org/reps-weekly-meeting-nov-24-2016/

[2016-11-29 01:48] brson commented on #48
@kelimuttu I do think it would be best to get a fresh design, mostly because all the ones in that thread are old and not that inspiring, but you are welcome to use any of the designs in that thread. The most popular one there is the [rustacean shirt](https://teespring.com/rustacean-two#pid=370&cid=6543&sid=front).

Every few weeks in the Rust core team meeting we discuss commissioning a new Rust t

[2016-11-30 13:35] #88 closed

[2016-11-30 13:48] #91 closed

[2016-11-30 14:13] kelimuttu commented on #48
@brson Thank you for bring up this to the Rust team. I understand the situation. And btw, if you haven't heard, we have Open Design team where we can file design requests for the community design group. They also help us to create special stickers for Activate Mozilla initiative. You can take a look on their repo https://github.com/mozilla/OpenDesign/

What do you think if we ask for help from the

[2016-11-30 20:14] brianking opened #122 "Roadmap Updates"
Here are a couple of things that have come up in conversations.

- [ ] Better show the status of retired (e.g. e10s) and de-emphasised (e.g. Test Pilot) activities
- [ ] Be more explicit on how to suggest new activities

[2016-11-30 23:22] brson commented on #48
The Rust team has asked our designer to start work on a new Rust design, so we do have one underway now. I don't have an ETA on when it will be complete.

I've been reluctant to use open design based on their prior output and the size of their backlog.

The SVG Rust logo is https://github.com/rust-lang/rust-www/blob/master/logos/rust-logo-blk.svg

The source for the Rustacean design is http://www.

[2016-12-01 10:33] #72 closed

[2016-12-05 15:10] pochy-ja commented on #14
What is the state of this translation?, somebody work on this?

[2016-12-22 12:05] comzeradd commented on #34
I just pushed a [commit](https://github.com/mozilla/activate.mozilla.community/commit/f115ae2b0eb68681e9a3af0b490aa886d32977cd) to pre-fill all the strings that contain only mark-up. That will hopefully reduce the complexity for localizers.

[2016-12-22 12:23] brianking commented on #34
@peiying2 @mathjazz Can the strings go live now? We can also document the process for localisers here in github and elsewhere as needed.

[2016-12-22 14:49] mathjazz commented on #34
LGTM.

@peiying2 ?

[2016-12-22 18:35] peiying2 commented on #34
We can make it go live.  To get localization started, we need to draft a list of DO NOTs now and update it as we monitor the kind of mistakes people make.

[2016-12-22 22:06] anefzaoui opened #124 "Support Right-To-Left Layouts"
I think implementing RTL layout will encourage our Arabic, Persian, Urdu and Hebrew communities to get involved with Activate Mozilla, and get their members who aren't necessarily fluent in English rolling as well.

I'm on working on a PR.

It won't have Arabic localization, but RTL implimentation will be bedrock of having those locales live on activate.mozilla.org.

[2016-12-25 00:09] kelimuttu commented on #48
Alright. Then just let us know once it's completed. Also, thanks for the links.

[2016-12-28 12:44] ioana-chiorean commented on #34
Is there a link we can access for it?

[2016-12-28 12:45] ioana-chiorean commented on #124
🙌

[2016-12-31 18:01] mchagas commented on #36
Hi people,

FYI, I'm localizing the new content from Activate pages. There are a lot of pages without localization to pt-BR and I'm assuming that project now. I'm talking with some volunteers on Mozilla Brasil Community to help me with localization and reviews. So in the next few days possibly you will receive a bunch of PR with the pages localized to pt-BR.

TY.
Cheers,

[2017-01-03 18:47] mchagas commented on #36
Hey @brianking, just one more thing. I've noticed that the xliff are using lang tag pt-PT. All the work done here are pt-BR, there is a slightly difference, so, if you, or anyone who are working on system migration, don't mind could you correct this mistake? We from Mozilla Brasil Community will appreciate that.

TY.

Cheers,

[2017-01-11 12:43] brianking opened #127 "Add Swag Procedure to FAQ"
Add link and explanation for https://wiki.mozilla.org/Participation/Projects/Activate_mozilla/Local_Swag to the FAQ.

[2017-01-12 21:44] peiying2 commented on #34
@mathjazz , after some discussions with @brianking  and @comzeradd, this is a go.  I believe the files need to be pre-processed before you expose all the locales in Pontoon. I will let @comzeradd chime in on what's next.

[2017-01-13 13:16] mathjazz commented on #34
Cool. Just let me know which locales to enable when the files are ready.

[2017-01-13 13:20] MichaelKohler commented on #34
Can we get https://github.com/mozilla/activate.mozilla.community/pull/126 in to not destroy all the efforts the Brazil community did? :)

[2017-01-16 13:02] brianking commented on #118
Will break out blog post into a separate issue.

[2017-01-16 13:02] #118 closed

[2017-01-18 10:06] brianking commented on #5
Site structure has changed, no longer relevant.

[2017-01-18 10:06] #5 closed

[2017-01-21 13:41] gurumukhi opened #130 "Adding github.com/mozilla/activate.mozilla.community/ link on website"
Should we have the github link on the website somewhere for people to give suggestions etc?

[2017-01-21 13:43] gurumukhi opened #131 "Improvising leaderboard by adding more metric"
Should we have more metrics on the leaderboard? lIke - tweets count (with hastag), instagram pics (with hashtag) count etc or any other kind of metrics.

[2017-01-23 12:45] brianking commented on #130
Already is! We have the Contribute link in the footer that points to github.

Thanks for filing this issue.

[2017-01-23 12:45] #130 closed

[2017-01-25 13:59] brianking commented on #47
We can see some metrics in Kibana, by filtering Reps Activities->MozActivate.

@mermi has also been playing around recently, and created this dashboard:
https://analytics.mozilla.community/goto/1885e80ab59921394642da4a46381c99

[2017-01-25 14:05] brianking commented on #48
Image files pending from @brson for new design.

[2017-01-25 14:08] brianking commented on #55
Assigned to @LucyeoH and @nukeador to decide is there is any copyright activity in 2017 that can translate into a mobilizer activity.

[2017-01-25 14:09] brianking commented on #59
Closing this as dupe of #47

[2017-01-25 14:09] #59 closed

[2017-01-25 14:10] brianking commented on #74
Can keep track of metrics now in issue #47

[2017-01-25 14:10] #74 closed

[2017-01-25 14:11] brianking commented on #47
Issues:

https://github.com/mozilla/participation-metrics-org/labels/MozActivate

... based on these user stories:

https://docs.google.com/a/mozilla.com/document/d/1kcKbjnC0kWZFLhbA_0kFL1YCtqd61mEg9UNBbsjjpyA/edit?usp=sharing

[2017-01-25 15:29] brianking commented on #131
Yes, we should!

[2017-01-25 15:34] brianking commented on #116
Closing as the number of activities we have does not warrant this now.

[2017-01-25 15:34] #116 closed

[2017-01-25 15:38] brianking commented on #124
Over to @comzeradd for review.

[2017-01-25 15:39] brianking opened #132 "Retire Test Pilot Activity"
To retire this, let's deactivate it like we did the e10s and Add-ons activity.

[2017-01-25 15:43] brianking opened #133 "Launch WebExtensions Activity"
The preparation for the WebExtensions activity is in a mature stage. It needs final review and launch. This has primarily been worked on by @caitmuenster on the Add-ons team.

Draft activity: https://docs.google.com/a/mozilla.com/document/d/1NAyCjn1iINZH7cIWlEndbFNMoR93FLOrNoeIKFPR7tE/edit?usp=sharing

[2017-01-25 15:53] MichaelKohler commented on #122
The same will go for https://github.com/mozilla/activate.mozilla.community/issues/132

[2017-01-25 16:01] MichaelKohler commented on #36
Do I see this correctly that the only thing here is to change "pt-PT" to "pt-BR"?

[2017-01-25 16:01] MichaelKohler commented on #30
Once the translations are all on Pontoon, it will be easier to translate. Will update this issue once this is done.

[2017-01-25 16:02] MichaelKohler commented on #14
Once all the translations are on Pontoon, translating will be easier. Will update this issue once it's done.

[2017-01-25 16:21] nukeador commented on #55
This campaign is no longer active.

[2017-01-25 16:21] #55 closed

[2017-01-25 18:06] dvigneshwer opened #134 "Additional event metrics for Rust"
Listing down few metrics for Rust events which can help in measuring success of the event and are better sources for longer term developer engagement

- People creating profile in [rustaceans](http://www.rustaceans.org/). [Example profile](http://www.rustaceans.org/dvigneshwer)
- People joining their [regional rust user group](https://www.rust-lang.org/en-US/user-groups.html)
- Following [rust red

[2017-01-25 18:43] caitmuenster commented on #133
Thank you, Brian!

[2017-01-26 16:38] comzeradd commented on #34
@mathjazz @peiying2 We are good to go. I regenerated all locales files to reflect recent content changes and added all the initial locales @brianking asked for.

[2017-01-26 16:46] MichaelKohler commented on #36
This has now been done (including the change to pt-BR). Please track the progress of https://github.com/mozilla/activate.mozilla.community/issues/34 to see when they are available on pontoon. :)

[2017-01-26 16:46] #36 closed

[2017-01-26 23:27] MichaelKohler commented on #122
Roadmap is updated with my open PR.

[2017-01-26 23:27] #122 closed

[2017-01-27 11:47] #132 closed

[2017-01-27 16:10] mathjazz commented on #34
Thanks! Is this the list of locales that need to be enabled initially?
https://github.com/mozilla/activate.mozilla.community/tree/gh-pages/locales

Of course all other locales will be able to request to be enabled through Pontoon.

[2017-01-27 16:47] brianking commented on #34
Yes, they are the ones.

[2017-01-27 19:14] brianking commented on #34
First draft of documentation of process, and initial comms to localisers about the Pontoon project:

https://docs.google.com/document/d/17q6JwjFH1zDq8fVQGHJhD7rhSh4H3poCZXIoToCoWDQ/edit?usp=sharing

[2017-01-31 09:51] peiying2 commented on #34
@brianking some comments on the process doc

[2017-02-04 06:14] iamVP7 commented on #133
Would like to contribute here.

[2017-02-07 06:45] peiying2 commented on #34
Any update on this?

[2017-02-07 12:26] viswanathamsantosh commented on #133
I would love to help in this activity planning!

[2017-02-08 10:32] brianking commented on #34
@peiying2 we are ready to go our end. Once the strings are in Pontoon, we will send the email to localisers.

[2017-02-08 17:40] peiying2 commented on #34
Great, let's go!

[2017-02-14 07:03] flodolo commented on #34
This never happened, files are still called .xlf
I see files showing up on Pontoon though, so I assume we're OK.

[2017-02-14 07:24] mathjazz commented on #34
Actually it did happen:
https://github.com/mozilla/activate.mozilla.community/commit/0c97135b627c725a488fb71d5e2478ad16e44b41

And then we added support for .xlf in Pontoon:
https://github.com/mozilla/pontoon/commit/12bf17f0483185a331fe6d5392223819b4aa58d5

[2017-02-14 07:25] flodolo commented on #34
Thanks, that explains things ;-)

[2017-02-14 14:01] MichaelKohler commented on #34
Thanks for the info. I don't see them show up in Pontoon yet, am I looking at the wrong place?

![screen shot 2017-02-14 at 15 00 54](https://cloud.githubusercontent.com/assets/330324/22931834/6afda1ea-f2c6-11e6-833e-2ebfd553c6eb.png)

I will document our "merge-back" process soon in the README file.

[2017-02-14 14:03] flodolo commented on #34
It's not exposed yet, it's only on the stage server. I think @peiying2 still needs to coordinate messaging too

[2017-02-16 19:21] MichaelKohler opened #139 "Create script to update locales in MD"
Once Pontoon is ready, the xliff files will get updated by Pontoon. We need to run a manual script to convert those back into our MD files. I will write a script to do this.

As of now, Nikos has done this manually.

This doesn't block all the Pontoon work, we can still do it manually if we get request for publications in the mean time. Doing the script shouldn't take too long and will be my P1 pr

[2017-02-16 20:27] MichaelKohler commented on #101
Recognition will be something we will look at as part of our focus on Activate. We will be tracking this in the CD repository.

[2017-02-16 20:27] #101 closed

[2017-02-16 20:28] MichaelKohler commented on #62
As this is currently not on our roadmap, I'm closing this issue.

[2017-02-16 20:28] #62 closed

[2017-02-16 20:28] #49 closed

[2017-02-16 20:28] #48 closed

[2017-02-16 20:29] MichaelKohler commented on #47
There is a dashboard in Community Analytics now. If we need anything else, we can open a specific issue in the CD repo.

[2017-02-16 20:29] #47 closed

[2017-02-16 20:29] MichaelKohler commented on #43
This is currently being looked at (including making activities more appealing for volunteers)

[2017-02-16 20:29] #43 closed

[2017-02-16 20:30] #35 closed

[2017-02-16 21:13] brson commented on #134
Simply counting the attendees at events seems like an easy and meaningful number. If we could aggregate the number of people attending Rust meetups, and watch that number go up, seems good. And with the number of meetups Rust has, and the importance of meetups to Rust culture, that would be a good number to tout.

We could e.g. reach out to all known Rust meetup organizers and politely ask them to

[2017-02-17 11:50] MichaelKohler commented on #96
We are not using those icons anymore, therefore closing this issue.

[2017-02-17 11:50] #96 closed

[2017-02-17 18:35] couci opened #140 "New logo for activate based on new mozilla style guides"
We are aiming for a more appealing logo for activate once we have the style guides for mozilla's new logo

[2017-02-17 19:30] MichaelKohler commented on #19
We are currently evaluating requirements here: https://docs.google.com/document/d/1dGKPar5xb5rFveBPxAs5UiSQRCxmeNqnQaMshJnUE7Y/edit

Closing this issue for now.

[2017-02-17 19:30] #19 closed

[2017-02-20 10:54] MichaelKohler opened #142 "Implement Community Guidelines Activity"
@emmairwin has started the work here: https://github.com/mozilla/activate.mozilla.community/pull/141

I've removed the activity from the activities page since due to the merge it was pushed to live.
Preview is available here (didn't remove that part): https://activate.mozilla.community/community-participation-guideline/

**Answer to Emma's questions:**
* The link in the activities page went to com

[2017-02-20 13:14] MichaelKohler opened #143 "Fix hover on Leaderboard table"
When you hover over the header of the Leaderboard table, a white-ish background-color get's applied to it.

<img width="615" alt="screen shot 2017-02-20 at 14 13 33" src="https://cloud.githubusercontent.com/assets/330324/23126437/e3ee45be-f776-11e6-9427-457d58f6242a.png">

While I think this is a good idea to show that you can click on it, it should still be readable when you hover it. So I think

[2017-02-20 13:15] MichaelKohler opened #144 "Move Roadmap menu to the end of the menu"
The Roadmap link in the menu should be at the end of the menu.

[2017-02-20 13:19] MichaelKohler opened #145 "Update Roadmap to include current plans"
The Roadmap needs to be updated according to our current roadmap.

**This includes:**

Next
* Build your own WebExtension
* Community Participation Guidelines Review
* Host a Tech Speaker
* Remove "Next-Gen Firefox Hacking with The Janitor"

Future
* Open Source Corpus
* MLN
* Firefox Nightly

Additionally we want to have a section that would host updates about changes in the Roadmap.

Example:

F

[2017-02-20 13:22] MichaelKohler opened #146 "Replace Header image and write a bigger explanation on what Activate is"
On the frontpage, we should replace the header image with a better representing image. Also we should write a text that better explains what Activate is. This should not be too much, but should capture more than "A campaign for Mozillians around the world to have impact in areas key to Mozilla’s mission."

[2017-02-20 13:24] MichaelKohler opened #147 "List retired activities on the bottom of the "Activities" page"
Retired activities should be listed at the bottom of the Activities page, not within the categories. This enables better view of the activities without being distracted by the retired activities.

[2017-02-20 13:27] MichaelKohler opened #148 "Improve FAQ menu visual"
Currently the Activity Detail menu and the FAQ menu is not as beautiful and helpful as it can be.

Let's come up with a better way to show those menus.

[2017-02-20 13:28] MichaelKohler opened #149 "Add a specific image to the top of Activity details"
For each activity we should add a representing image to the top of the Activity description to make it more appealing. This image then should also be used in the Activities overview.

[2017-02-20 13:29] MichaelKohler opened #150 "Better flag retired activities"
Currently retired activities only have a small alert at the top of their description. We should make this more noticeable to make sure retired activities are not run anymore.

<img width="1022" alt="screen shot 2017-02-20 at 14 29 31" src="https://cloud.githubusercontent.com/assets/330324/23126865/032da724-f779-11e6-8045-81cf0692928b.png">

[2017-02-20 13:31] MichaelKohler opened #151 "Better visuals for activity details"
Currently the activity details look kind of boring. We should make these details beautiful.
One design by Christos: https://drive.google.com/file/d/0Bwl5PnEA3iBfWFdpSVNtcDZuN281cnpLbmlVYzhJaEdIMS04/view

Let's adapt this proposal and make it beautiful! :)

<img width="551" alt="screen shot 2017-02-20 at 14 30 54" src="https://cloud.githubusercontent.com/assets/330324/23126913/3948681c-f779-11e6-95

[2017-02-20 13:35] MichaelKohler commented on #117
I would put this on the front page. We could use the standard twitter widget, therefore there would not be a lot of work needed.

https://twitter.com/settings/widgets/new/search?query=%23mozactivate

[2017-02-20 13:43] MichaelKohler opened #152 "Better overview of activities / remove categories"
The overview of activities is currently not very appealing. This is due to the following problems:

* Categories do not really match their content
* There are no images on the activities

**Todo in this issue:**
* Remove the categories
* Add tags to activities based on interest that is needed for these
* Display all activities like the boxes on https://leadership.mozilla.community/
* This then sho

[2017-02-20 13:47] MichaelKohler commented on #124
Once the Pontoon changes are live, I'll post in the PR to make sure we are ready for this :)

[2017-02-20 14:08] MichaelKohler commented on #147
Depends on https://github.com/mozilla/activate.mozilla.community/issues/152

[2017-02-20 14:18] MichaelKohler opened #153 "Remove unused md files"
The following md files are unused and should be deleted:

https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_pages/es/developer-engagement.md
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_pages/es/experiments.md
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_pages/fr/developer-engagement.md
https://github.com/mozilla/activate.mozilla.c

[2017-02-20 14:42] MichaelKohler opened #154 "Replace mozilla logo in footer"
We probably should replace the mozilla logo in the footer with the following:
https://mozilla.ninja/s/Mozilla_Large-Logo_One-color-white.zip

<img width="824" alt="screen shot 2017-02-20 at 15 40 17" src="https://cloud.githubusercontent.com/assets/330324/23129435/f9eb3a96-f782-11e6-98a3-25b9ff4bb292.png">

[2017-02-20 14:59] MichaelKohler opened #155 "Rename "asserts" folder to "assets""
https://github.com/mozilla/activate.mozilla.community/tree/gh-pages/asserts

[2017-02-20 15:05] MichaelKohler commented on #152
Displaying this on the frontpage as well might get tricky. This would require us to do a language dependant include, or is there a way to include a page in index.md? Couldn't find a solution on the web for this yet.

I'll start with the activities page first and then we can see what we want to do with the frontpage.

[2017-02-20 15:51] couci commented on #134
on the reps side we can count attendees from the portal and this is a metric easily tracked via community analytics
@brson on Rust meetups I guess you're using meetup to make those public?
@dvigneshwer I really like your ideas, how do you think we are going to tie those numbers to events related to us?
@bacharakis is also thinking around metrics on Rust so I would like to ask his ideas as well.

[2017-02-20 15:52] couci commented on #131
in order to do so we need to have different leaderboards. @MichaelKohler do you think we can implement this? For example a leaderboard tracking social media impression thus counting the reps that are doing social media work?

[2017-02-20 15:53] couci commented on #127
Yes I think this makes sense, @MichaelKohler do you need text for this?

[2017-02-20 15:56] MichaelKohler commented on #127
Yes, a question and an answer would be great. I can add it once I have that.

[2017-02-20 15:57] couci commented on #120
Right now there is no fix on counting mozillians with point system cause the as @brianking mentioned the system can be easily tricked. On having multiple leaderboards, we are having this conversation on issue #131
So I think we should close this one

[2017-02-20 15:57] #120 closed

[2017-02-20 15:58] couci commented on #71
this is already on the form that @brianking has built, I am closing this one

[2017-02-20 16:01] MichaelKohler commented on #131
We probably could get the Twitter handle from the Reps portal. But that would further mean that we can only count Reps. For Instagram or other sources this might get trickier.

Also, this might get tricky, since all the computation is done client-side, so loading the page will take quite some time if we do that. We would need to check all Reps' twitter handles and their posts from date X until tod

[2017-02-20 16:01] dvigneshwer commented on #134
In the reps site event form, we can add these as event metric which will be very specific to rust events.

- Number of attendees creating a rustaceans profile?
- Number of attendees joining the rust users discourse channel?
- Number of attendees tweeting to rustlang about a feature of rust?
- Number of attendees joining the Reddit channel?
- Number of attendees interested in creating a crate?
- Nu

[2017-02-20 16:02] couci commented on #70
considering the fact that activate is moving to a mobilizers tool thus not for activities playing solo, I think the current status serves the purpose for now
On the points that @emmairwin brought, @MichaelKohler could we add those on the improvements doc?

[2017-02-20 16:07] couci commented on #134
I think we can have it as an experiment, though those would be self reported numbers and not automated. @dvigneshwer do you think we should ask specific usernames to be added on the report?

[2017-02-20 16:08] MichaelKohler commented on #134
@brson this here is about activate.mozilla.community, for overall meetups about Rust, it might be worth looking at https://github.com/mozilla/participation-metrics-org .

@dvigneshwer of course we could add those to the event report, but that might clutter the dropdown quite a bit. However, if those numbers are benefitial, let's do this. That could then also be analyzed through Community Analytics

[2017-02-20 16:12] MichaelKohler commented on #70
@couci that doc is not for content improvement. If you want to evaluate, let's discuss here in this issue or you can create a new doc. The only thing I see not being content is the find-ability. I'll create an issue for that one.

[2017-02-20 16:13] MichaelKohler opened #156 "Add link to Reps Portal"
From @emmairwin in https://github.com/mozilla/activate.mozilla.community/issues/70#issuecomment-250235952:

[2017-02-20 16:28] MichaelKohler commented on #146
@couci could you provide the text for this?

[2017-02-20 17:17] nukeador commented on #131
Quick feedback: Please evaluate the effort here on improving the dashboard having in mind we want to transition activities next quarter to be more about "creating a network around X" rather just one time activity.

[2017-02-20 17:50] couci commented on #146
I was thinking someone between the lines of what we've already created:
A campaign that provides guidance to mobilizers on how to recruit contributors and create community around meaningful Mozilla projects

[2017-02-20 17:51] couci commented on #70
I think linkage and output is something also that should be considered there

[2017-02-20 17:58] couci commented on #127
Here is how it looks right now: https://pageshot.net/x7QqKMSz60LQOPJN/activate.mozilla.community
Let's take out swag from the initial question and make it: "Can I request budget for these activities?"
Everything should stay the same except the line: assets... that should be removed
Under it let add:
"Can I request swag for these activities?"
Answer: in the case you need swag you can either request

[2017-02-20 18:40] MichaelKohler commented on #139
I've run into the following problems, will investigate further:

* Pontoon doesn’t seem to respect newlines: https://github.com/mozilla/activate.mozilla.community/commit/35bdc85f7897cf9eb15cc510f37f20278ea309b2#diff-abefb5ac393e70c05089ade4fdf533c7R17
* Extract with md2xliff -> will always take the md content as source, how could we update it with new changes? (for example if we add new english pa

[2017-02-20 22:52] brianking commented on #71
What form are you referring to @couci ? I still think this would be valuable to have. I can take it on to make a first pass if you wish.

[2017-02-21 03:32] Srushtika commented on #146
I think the image would be great if it's a collage of various MozActivate activities (representative pictures) done till now (by various communities over the world) , with a color or b/w filter on the collage to make it look even!

But I'm not sure if a collage looks good for a header 😀

[2017-02-21 03:32] #155 closed

[2017-02-21 03:36] Srushtika commented on #146
@couci 's suggestion for the text is great. Also, sharing something I had wrote up a long time ago. You might wanna use some excerpts :
The MozActivate campaign aims at the grassroots of Volunteer contributions, thus empowering the newest of contributors with the simplest of tools to contribute to the most impactful areas!

[2017-02-21 03:37] #144 closed

[2017-02-21 05:36] emmairwin commented on #142
Re TODO

   - There needs to be an "about" text that is a short description that is
   shown in the activities page
      - I think we have that , but that we needed to remove it?  Thanks for
      catching why that slug didn't work, what do I need to do to fix it?
      -
      - Once the signoff is given, we need to add it back to the frontpage
   (and make sure styling is okay)
   - We need to

[2017-02-21 08:02] dvigneshwer commented on #134
@couci usernames could be really useful but I am not sure if we have enough analytics power of generating reports which could tell how active a particular user joining the rust forums from the event has been, this would require a lot of data crunching. IMHO collecting usernames for the report is not giving us many insights unless we have an advanced analytical system.

Down the line, it is very na

[2017-02-21 08:13] hmitsch commented on #146
Here is my favorite for the header image: https://thenounproject.com/Becris/collection/startup-business-concept/?oq=activate&cidx=65&i=476622

[2017-02-21 09:37] MichaelKohler commented on #142
* The about text was not implemented, which one should be taken once we have approval? https://github.com/mozilla/activate.mozilla.community/pull/141/files#diff-1d331a69334b2a5bb2b79d8a2c3ef702R34
* The "slug" is actually the permalink at the top of the page md file "permalink: /community-participation-guideline/". I'd suggest adding an "s" at the end. This is a nit though, we just need to make su

[2017-02-21 11:00] couci commented on #134
I like @dvigneshwer we should try this by starting gathering the usernames. Yes, following their contribution path might be difficult but it's a step forward

[2017-02-21 11:16] couci commented on #71
I thought this was referring to the activate template you've put together for the functional areas https://docs.google.com/document/d/11kEj9vfhAygSFzRvkVL5Wzmd7g1Vb8ySUjbH8RT3ln0/edit
Put an event team together
Choose a date and secure a venue
Setup the event on Reps Portal (instructions). Find a Rep closeby to do this if you are not one.

Except "the putting in your local famous platform" everyth

[2017-02-21 15:08] geroter commented on #156
Two quick reactions to this:

1) Seems sensible to work on in-site improvements in navigation ... especially helping mobilizers find initiatives that are a priority

2) I don't think solving the findability of the site makes sense to work on now from a search perspective. We literally know the names and email addresses of every single person who we would want to know about this. So higher touch ma

[2017-02-21 15:11] geroter commented on #152
I think that you could even just go with a slightly beautified version of the activities page on the front page, maybe with a horizontal 3-column layout. Even if this needed to be manually updated to begin?

[2017-02-21 15:14] geroter commented on #142
@emmairwin Should I provide comments on the draft in the GDoc that you had, or directly through the Activity page in GitHub?

[2017-02-21 15:16] MichaelKohler commented on #152
@geroter not sure what you mean by that. Do you have an example? Do you mean something like a slider?

[2017-02-21 15:20] geroter commented on #152
Was thinking of something like the bottom section here:
https://toolkit.mozilla.org/

Similar to what you referenced with the Leadership Toolkit.

Basically, the site could have a one or two sentence purpose explanation, then the 5-6 active initiatives (in boxes 3 across), then maybe something something that highlights what's new (like that bottom yellow slider thingy on the toolkit site).

Though

[2017-02-21 15:25] MichaelKohler commented on #152
Yes, that is a good idea! I'll play around with it once I get to it.

[2017-02-21 15:33] MichaelKohler commented on #139
Regarding newlines: this is by spec, we need to add ```xml:space="preserve"``` as in https://github.com/mathjazz/pontoon-test/blob/master/en-US/activities.xliff#L20

Regarding weird tags: Nikos had used a regex to remove those. This could be incorporated into the script to reduce the needed manual work. ```<[bpteh]* id=".?[0-9]">``` as well as ```</[bpteh]*>``` (to be tested)

For the problem rega

[2017-02-21 20:32] #145 closed

[2017-02-21 20:34] #154 closed

[2017-02-21 20:34] #143 closed

[2017-02-21 20:34] #153 closed

[2017-02-21 22:03] asdofindia commented on #120
Although the discussion on #131 is still revolving around "reps" and the very point of this issue was about "mozillians". Anyhow.

[2017-02-21 22:11] MichaelKohler commented on #142
Merged Emma's pull request. Will update the localization files in a few minutes. As we are not live with the pontoon l10n yet, this can go through a normal PR as well, no stress needed. Once I've created that PR, I will close this issue.

Thanks Emma, great work :)

[2017-02-21 22:43] MichaelKohler commented on #142
PR for the localization: https://github.com/mozilla/activate.mozilla.community/pull/166

[2017-02-21 22:43] #142 closed

[2017-02-22 00:57] MichaelKohler commented on #139
I found a fork that enables a ENV var to be set so it takes the source instead of the target if a string is empty. Additionally I fixed all xliff files for the whitespace problem.

I'll also remove the generation of the weird tags in my fork (needs to be tested, not sure yet what that actually should be doing, need to read some more code).

This does not solve the extraction of updated content pro

[2017-02-22 01:38] MichaelKohler commented on #139
Apart from the xliff update problem everything looks okay-ish now. We have some old content on the translated pages, but that was to be expected since the new changes were not in the xliff when it was shortly enabled on Pontoon.

**As the xliff for the new activity (CPG) is not merged yet, this would need to be done in my branch as well before creating a PR (whitespace annotation, pretranslate pag

[2017-02-22 17:47] caitmuenster commented on #133
Hey all! It looks like the final review is complete.

[2017-02-22 19:17] couci commented on #133
thank you @caitmuester :)
@AlexLakatos @MichaelKohler can we have this in markdown so we have it in our website?

[2017-02-22 19:19] MichaelKohler commented on #133
Can this go live once I've done this? Or do you have any specific date in mind? I can start working on it and once that question is clear, we can merge the Pull Request.

[2017-02-22 21:36] caitmuenster commented on #133
I think this is good to go live as soon as it's in markdown!

[2017-02-22 21:42] MichaelKohler commented on #133
@caitmuenster another question, there is an overview at https://activate.mozilla.community/activities/ . As far as I see, the doc doesn't provide a nice short description of the activity that we could put there. Ideally this should be between 2 or 3 lines and make the activity really tempting to open :) Do you think you could provide a short description like that?

Example from WebVR:

[2017-02-22 21:46] caitmuenster commented on #133
@MichaelKohler Sure thing! How about:

Add-ons provide a safe, simple, and powerful way to personalize your browsing experience. With WebExtensions APIs, it’s easier than ever to create extensions that can be easily ported to Firefox, Chrome, Edge, and Opera. Through this activity you’ll help connect new developers with an opportunity to create add-ons to solve real problems and make their lives a

[2017-02-22 23:20] MichaelKohler commented on #133
Sounds catchy, I'll take this one :)

[2017-02-22 23:51] caitmuenster commented on #133
@MichaelKohler Andreas' eagle eyes caught some typos in the google doc a few minutes ago. Any chance you could incorporate them into the markdown? Sorry for giving the go-ahead a titch too quickly!

[2017-02-23 00:36] MichaelKohler commented on #133
As far as I see this is just deleting "Add-on" in the title and the discussion about the IRC channel. No biggies, so ping me once you've reached a decision for those two points and I'll put those in. You can also change the doc as long as you tell me which paragraphs changed.

[2017-02-23 16:09] MichaelKohler commented on #151
https://mozillacampusclubs.github.io/becomeVRRockstar/

[2017-02-23 16:13] MichaelKohler commented on #149
Assigning to Laka, since he will be working on the Details layout.

[2017-02-23 16:14] MichaelKohler commented on #148
Depending on the result of https://github.com/mozilla/activate.mozilla.community/issues/151 the activity detail menu (TOC) issue might be fixed by then. The FAQ will still stand though.

[2017-02-23 16:15] MichaelKohler commented on #149
We might want to use the same images as we will be using in https://github.com/mozilla/activate.mozilla.community/issues/152 .

[2017-02-23 16:53] couci commented on #146
I really like @Srushtika 's line, @MichaelKohler what do you think?

[2017-02-23 17:03] MichaelKohler commented on #146
I like it too! I've merged her line with some of the FAQ. @couci What do you think?

"The Activate Mozilla campaign aims at the grassroots of volunteer contributions. We want to bring more clarity on what are the most important areas to contribute to at Mozilla right now, and provide clear steps on how to get involved right away, thus empowering the newest of contributors with the simplest of tool

[2017-02-23 17:04] MichaelKohler opened #170 "Change Favicon to new logo"
https://mozilla.ninja/favicon.ico

[2017-02-23 17:13] MichaelKohler commented on #146
For the header image, I have looked for some pictures, but didn't really find something I *really* like. Some ideas:

https://farm2.staticflickr.com/1448/24009148094_d1a1be14ec_k_d.jpg <-- still a group picture, but less creepy than the current one

https://farm9.staticflickr.com/8296/29659283086_2c0d3fbcae_k_d.jpg <-- not really a "working environment" that we would expect from the activities, bu

[2017-02-23 17:46] Srushtika commented on #146
Suggestions !
I really like this one for the header image: https://flic.kr/p/Jge56d
Also, this: https://flic.kr/p/JCVMC1

[2017-02-23 18:40] MichaelKohler commented on #133
Quick update: Caitlin is working on a Discourse post that needs to be linked in the activity. Once I have that link, I'll create a PR.

[2017-02-23 18:45] MichaelKohler commented on #133
PR opened here: https://github.com/mozilla/activate.mozilla.community/pull/171

[2017-02-23 21:21] brianking commented on #71
Right, that is it, but the idea is to pull it out into a public page on the Activate portal. It is then something we can link to in activities, instead of having it repeated in multiple activities.

[2017-02-24 03:19] #133 closed

[2017-02-24 09:36] kelimuttu commented on #146
Hey guys,

just trying to capture @Srushtika's idea [here](https://www.canva.com/design/DACOENKp-bU/dmv5npIhIM74Z8dxEBL8-w/view?utm_content=DACOENKp-bU&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton).  What do you guys think?

[2017-02-24 10:10] Srushtika commented on #146
Hey @kelimuttu! How about having the color theme the other way round? i.e. The background with a dark grey filter and the text being white!

[2017-02-24 10:24] MichaelKohler commented on #146
This looks great! I agree with Srushtika though, that might make it easier to read.

We could also just go with "Activate" and put the description below the header. Though we would need to make sure that it's still above the fold.

In any case, I will only need the background image in the end. I'll then pop the text above it so it is not integrated in the header. This way we will be able to locali

[2017-02-24 12:31] couci commented on #146
Replying back on @MichaelKohler about the message, on a second thought since we are moving to the mobilizers role, let's capture that on the messaging. Suggestion:
"The Activate Mozilla campaign aims at the grassroots of volunteer contributions. We want to bring more clarity on what are the most important areas to contribute to at Mozilla right now by providing guidance to mobilizers on how to rec

[2017-02-24 12:34] MichaelKohler commented on #146
yeah, makes sense. Though it's not really a "moving to" but a "making clear of" ;)

[2017-02-24 12:35] couci commented on #146
yes agreed :D

[2017-02-24 14:37] couci commented on #71
@MichaelKohler what do you think? is there a place we can do that in the portal?

[2017-02-24 16:05] MichaelKohler commented on #71
Sure, we can do a separate page for it.

[2017-02-24 17:46] couci commented on #151
I really like @bacharakis idea and I think this is an important piece if we want to make the website more appealing.
@MichaelKohler @AlexLakatos do we have a timeline for this one?

[2017-02-24 20:11] #170 closed

[2017-02-25 03:32] DineshMv commented on #150
@MichaelKohler
How about implementing the same '.retired' to every section of the page ?
(Like this!)
![screenshot from 2017-02-25 08-44-49](https://cloud.githubusercontent.com/assets/10209762/23327703/d35c9b88-fb36-11e6-8423-d09e8c9497f7.png)

or

 just increasing the opacity of the content like this ?
The top ribbon in bold color says the activty is retired and the bottom content appears with le

[2017-02-25 11:53] MichaelKohler commented on #150
I think both of them are good options. There might still be people who want to read them, so I think option 1 gives better contrast.

Would you like to work on this? Just note that we will change the design of the activity details in #151. So that fix here would only be temporary :)

[2017-02-25 20:55] MichaelKohler commented on #152
Current work in progress:

![screen shot 2017-02-25 at 21 54 43-fullpage](https://cloud.githubusercontent.com/assets/330324/23334715/20a3cb14-fba5-11e6-9061-e7d8c4603ac5.png)

![screen shot 2017-02-25 at 21 54 51-fullpage](https://cloud.githubusercontent.com/assets/330324/23334717/257bb7aa-fba5-11e6-9b04-ca0902b6db7c.png)

[2017-02-25 21:07] MichaelKohler commented on #152
Current WIP for the frontpage:

![screen shot 2017-02-25 at 22 07 31-fullpage](https://cloud.githubusercontent.com/assets/330324/23334802/d926f7fa-fba6-11e6-831b-b9d368f0ecf6.png)

TODO:
- [ ] Add slider as suggested by George

[2017-02-25 23:15] MichaelKohler commented on #148
@couci should we just remove the menu for the FAQ page? or is it too clean then? any design idea?

![screen shot 2017-02-26 at 00 15 12-fullpage](https://cloud.githubusercontent.com/assets/330324/23335598/b06f6024-fbb8-11e6-912f-045ea23dad61.png)

[2017-02-26 06:52] DineshMv commented on #150
No problem, I work on it. In case if the new design gets delayed more time than expected.

[2017-02-26 19:26] MichaelKohler commented on #152
Slider added (it will change every 6 seconds). I've omitted the "next"/"previous" buttons for now, since I couldn't find a way to make them look nice. It looks kind of weird to have them at the edges like on toolkit.mozilla.org. Any ideas?

Could I please get feedback on the following screenshots? @couci @AlexLakatos

![screen shot 2017-02-26 at 20 24 21-fullpage](https://cloud.githubusercontent.c

[2017-02-26 22:38] MichaelKohler commented on #147
Mostly done in #152.

[2017-02-27 07:12] kelimuttu commented on #146
@Srushtika Cool idea. Is [this](https://www.canva.com/design/DACOENKp-bU/dmv5npIhIM74Z8dxEBL8-w/view?utm_content=DACOENKp-bU&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton) capture what you have in mind?

@MichaelKohler I might need a size/image resolution before I convert it. Can you provide it?

Also, if you guys have any specific images you want to include in the collage, feel

[2017-02-27 11:35] couci commented on #152
I like it, my feedback is you put them in categories though those don't appear anywhere else but the on the landing page. Should we add a categories option on the upper header?

P.S Personal opinion: I don't like that blue, can we choose a colour from the new official mozilla colours?

[2017-02-27 11:54] MichaelKohler opened #180 "Make activities searchable/filterable"
Once #152 is landed, we probably want to make the activities sortable/filterable

* by name
* by tag ("Programming", "Testing", etc)

I think this should be done with a dropdown above the activities.

This is not a priority as long as we do not have a massive amount of activities.

[2017-02-27 11:57] MichaelKohler opened #181 "Re-evaluate color scheme"
Proposal from Konstantina:

"can we choose a colour from the new official mozilla colours?"

This would mostly be for the navigation, links and table headers. We should also think about the color of the footer. If we go into that direction, the footer probably should be black to match the general style of the new logo.

[2017-02-27 11:58] MichaelKohler commented on #181
I'll play around with those colors once I get to it to provide a few examples.

[2017-02-27 11:58] MichaelKohler commented on #152
Thanks for the feedback. I'd love to get a second opinion as well, @AlexLakatos promised to give feedback today as well :)

Filed #180.

Filed #181.

[2017-02-27 12:02] MichaelKohler commented on #146
@kelimuttu the current image is 1125px × 750px, I think it would be great to have the same width (1125) as well. For the height we will see how it will look, otherwise we could still remove one row from it if we need to. Do you think that would be possible?

[2017-02-27 12:27] kelimuttu commented on #146
That's absolutely doable. I'll do it tomorrow then.

[2017-02-27 14:39] couci commented on #148
Remove definitely no, it contains info necessary for the people taking the activities.
I don't really have a design idea for it to be honest other than putting it at the end of the menu

[2017-02-27 14:43] MichaelKohler commented on #148
Oh, sorry. I didn't mean to remove the whole page. Sorry for the wrong phrasing.

What I meant is the "Table of Content" menu at the top of the FAQ page which currently doesn't look that good. Do we need it? If so, do you have an idea on how we could style it?

[2017-02-27 14:44] MichaelKohler commented on #148
On a second thought, let's see how the menu in the activity detail works out (currently the whole activity detail page is being worked on in terms of design). Maybe we can adapt that for the FAQ page then.

[2017-02-27 17:20] couci commented on #146
Dumping some more pictures here:
https://www.flickr.com/photos/124547092@N05/31167104363/
https://www.flickr.com/photos/124547092@N05/31099959774/
https://www.flickr.com/photos/mozillaindore/30635168534/

and https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/14692124_547915208737075_5276103075568170891_o.jpg?oh=1092d4509f35471ad5961f8e06b97725&oe=593EC5B5 ( @Srushtika we will need your permission for

[2017-02-27 17:48] Srushtika commented on #146
@kelimuttu I was thinking of a darker version like [this](https://www.flickr.com/gp/136974235@N05/1jd468) , also with fewer and bigger images. The ones I used here are not relevant -  just picked from google.

@couci Of course, you may use it (I'll be famous ;))

[2017-02-27 19:28] Ryuno-Ki commented on #148
What about making it an accordion? Like mobile wikipedia. The replies could be expanded on demand.

[2017-02-27 20:26] Ryuno-Ki commented on #148
Found an example for it at https://www.tawk.to/

[2017-02-28 15:52] MichaelKohler commented on #152
@couci do you want me to create a PR for this? We can still improve this when we see something we want to change.

[2017-02-28 16:16] couci commented on #152
yes please go ahead

[2017-03-01 23:52] MichaelKohler commented on #139
I've done an initial exploration around the topic and stated the problem: https://github.com/MichaelKohler/md2xliff-exploration (also check the commits that go with it, they help understand).

Would love to get feedback on anything of this. Ideas I didn't think of, wrong conclusions, anything..

[2017-03-02 17:29] kelimuttu commented on #146
I just add 2 pictures on [the repo](https://github.com/mozilla/activate.mozilla.community/commit/ce5313cd270489d03aa29269bbc90f014cee1446). I leave the color original so Michael can play with the filter. Let me know if it need to be changed.

[2017-03-02 17:38] MichaelKohler commented on #146
Thanks, I'll play around with them!

[2017-03-02 18:14] MichaelKohler commented on #152
Fixed by https://github.com/mozilla/activate.mozilla.community/commit/9ac6e4d8f7f2aabb05c14600b4dfc8fc4f6d68be

[2017-03-02 18:14] #152 closed

[2017-03-02 18:14] MichaelKohler commented on #147
Fixed by https://github.com/mozilla/activate.mozilla.community/commit/9ac6e4d8f7f2aabb05c14600b4dfc8fc4f6d68be

[2017-03-02 18:14] #147 closed

[2017-03-02 18:17] MichaelKohler commented on #71
@couci @brianking if you can provide the exact copy to include in a new page, we could go ahead with it

[2017-03-02 18:18] couci commented on #71
@LucyeoH came up with a more full guide and now @francjp is on the reviewing mode to put more links into it. Once it is ready for review I will add it here for final feedback and put it on site

[2017-03-02 21:48] MichaelKohler commented on #180
@AlexLakatos any idea on technology-wise possibilities on how to do this easily with Jekylls?

[2017-03-02 21:49] MichaelKohler commented on #139
asked @AlexLakatos to have a look and give his opinion as well.

[2017-03-02 22:01] Ryuno-Ki commented on #180
I'd do it in JavaScript client-side.
Since you've [put the tag next to](https://github.com/mozilla/activate.mozilla.community/blob/9ac6e4d8f7f2aabb05c14600b4dfc8fc4f6d68be/_includes/activities.html#L18) `.activity-card` you can check the lowercased input against it to `display: none;` non-matching cards.

Filtering for the name requires a match against `.activity-card h2` textContent.

Shall I wor

[2017-03-02 22:06] MichaelKohler commented on #180
Sounds like a good stategy to me, thanks for the input!

Since you already looked into it, I'd love to see your PR!

[2017-03-02 23:37] MichaelKohler commented on #148
Renamed the title so it is only about the FAQ menu, since the activity detail menu will be reworked anyway in #151 .

[2017-03-02 23:45] Ryuno-Ki commented on #180
I'm working in https://github.com/Ryuno-Ki/activate.mozilla.community/tree/issue-180-filterable-activities

Shortly before I committed my code I noticed, that jQuery is included. (Albeit not at that point in time, where my script would be executed)

Shall I refactor to use it?

[2017-03-03 00:11] MichaelKohler commented on #180
I'm happy with everything that is vanilla, we might even want to get rid of jquery at some point to make the website even smaller. So no, no need to refactor it.

[2017-03-03 00:29] MichaelKohler commented on #181
I've played around with the colors, and not a lot fit very well as-is.

I like the blue one (first one, not the neon one), and maybe the orange one is not too bad as well. Of course we would need to change a few other things as well like text color and general adaption of the "highlight backgrounds". What do you all think?

![screen shot 2017-03-03 at 01 15 49](https://cloud.githubusercontent.com/

[2017-03-03 12:28] couci commented on #181
thanks @MichaelKohler
I like the red-pink one and the blue one

[2017-03-03 19:23] Ryuno-Ki commented on #180
Since I'm running Linux only I can only test against Firefox, Chromium and Opera.

Someone should test against IE/Edge, Safari and on mobile before merging.

[2017-03-03 19:33] Ryuno-Ki commented on #181
What does the [contrast ratio](https://leaverou.github.io/contrast-ratio/) tell about the options?

IMHO the most colour options look quite bright. Purple, pink and red ones don't hurt my eyes immediately. @elioqoshi has a better sense for those questions.

[2017-03-03 20:36] MichaelKohler commented on #180
Sure, I can have a look. I'll do that once the PR is created.

Would you mind to test it against the responsive view of Firefox to at least make sure that the mobile resolution is okay per se not taking into account mobile browsers quirks?

[2017-03-04 18:21] Ryuno-Ki commented on #180
I can do that.

[2017-03-07 17:58] hashemirafsan opened #202 "Bengali (Bn) Localization"
Tracking issue for Bengali localization.

- Front page
-  FAQ
- Roadmap
- Participation
- Developer engagement
- Experiments

[2017-03-11 17:02] #127 closed

[2017-03-11 17:03] #146 closed

[2017-03-13 14:30] #139 closed

[2017-03-13 14:39] MichaelKohler commented on #14
Even though there are quite a lot of translations in there now, I think a few things are missing.

Could somebody review the content of the following 3 folders and make a PR against this repo in case there are more translations needed? Thanks!

https://github.com/mozilla/activate.mozilla.community/tree/gh-pages/_pages/es
https://github.com/mozilla/activate.mozilla.community/blob/gh-pages/_data/l10

[2017-03-13 14:41] MichaelKohler commented on #30
Sorry it took so long. After all this time, we now decided to go back to the old system so we don't block on any translations anymore. This means that the translations live in the GitHub repository here. You can get more information on how to localize in the README.

General flow:
* Fork  this project
* Make changes to the following folders/files to translate them:
https://github.com/mozilla/activ

[2017-03-13 14:44] MichaelKohler commented on #25
Sorry it took so long. After all this time, we now decided to go back to the old system so we don't block on any translations anymore. This means that the translations live in the GitHub repository here. You can get more information on how to localize in the README.

General flow:

* Fork this project
* Look at the following folders:
https://github.com/mozilla/activate.mozilla.community/tree/gh-pa

[2017-03-13 14:44] MichaelKohler commented on #32
Sorry it took so long. After all this time, we now decided to go back to the old system so we don't block on any translations anymore. This means that the translations live in the GitHub repository here. You can get more information on how to localize in the README.

General flow:

* Fork this project
* Look at the following folders:
https://github.com/mozilla/activate.mozilla.community/tree/gh-pa

[2017-03-13 14:44] MichaelKohler commented on #50
Sorry it took so long. After all this time, we now decided to go back to the old system so we don't block on any translations anymore. This means that the translations live in the GitHub repository here. You can get more information on how to localize in the README.

General flow:

* Fork this project
* Look at the following folders:
https://github.com/mozilla/activate.mozilla.community/tree/gh-pa

[2017-03-13 14:44] MichaelKohler commented on #104
Sorry it took so long. After all this time, we now decided to go back to the old system so we don't block on any translations anymore. This means that the translations live in the GitHub repository here. You can get more information on how to localize in the README.

General flow:

* Fork this project
* Look at the following folders:
https://github.com/mozilla/activate.mozilla.community/tree/gh-pa

[2017-03-13 14:44] MichaelKohler commented on #202
Sorry it took so long. After all this time, we now decided to go back to the old system so we don't block on any translations anymore. This means that the translations live in the GitHub repository here. You can get more information on how to localize in the README.

General flow:

* Fork this project
* Look at the following folders:
https://github.com/mozilla/activate.mozilla.community/tree/gh-pa

[2017-03-13 19:58] hashemirafsan commented on #202
Hello i want add the folder which one i loclaize but i cant push in gh-pages branch

[2017-03-13 20:03] MichaelKohler commented on #202
Yes, this is expected. Please see https://help.github.com/articles/fork-a-repo/ and https://help.github.com/articles/about-pull-requests/ to learn about Pull Requests.

[2017-03-14 06:35] amitkumarj441 commented on #50
Hey @MichaelKohler,

Thanks for sharing this info.

I followed the above suggested flow toward the goal for our local language translation done and I already have an existing fork of this repo but I didn't find any of our locale in these folders instead I found [en.yml](https://github.com/amitkumarj441/activate.mozilla.community/blob/gh-pages/_data/l10n/en.yml) and I don't think that this could be

[2017-03-14 12:15] MichaelKohler commented on #50
Copy the en.yml to hi.yml and do your translations there.

You can take ES as example: https://github.com/mozilla/activate.mozilla.community/tree/gh-pages/_includes/es

As of now, only the activities.html needs to be translated per language from the _include folder. For the _pages you should add all English md files you want to translate to the subfolder. For the _data folder, see above. There onl

[2017-03-15 13:03] MichaelKohler commented on #180
@Ryuno-Ki what's the status here? :)

[2017-03-16 16:14] Ryuno-Ki commented on #180
I was sick, so too tired to work on it.
I'm trying to look into it this weekend.

What's basically missing is
* a `<label>` for the `<input />`,
* fine transitions (ideally per CSS) and
* testing everything on mobile + desktop in several web browsers.

[2017-03-19 21:27] Ryuno-Ki commented on #180
I've opened https://github.com/mozilla/activate.mozilla.community/pull/207.

Tested on:
* desktop: Firefox, Chromium, Opera
* Android: Firefox, Chrome

I can squash the commits before accepting the PR if you want. But I think, GitHub's Web UI offers that as well.

[2017-03-19 21:34] Ryuno-Ki opened #208 "Focussing carousel breaks it"
While working on #180 I noticed, that when focussing the carousel at the bottom, it stops.

Move to it via <kbd>Tab</kbd> to see yourself. The link inside it should get `tabindex="-1"` attribute to disable their focus ability.

But you [should not use a carousel](http://shouldiuseacarousel.com/) for this kind of content anyway :)

[2017-04-06 14:59] couci commented on #134
Those metrics were approved to be added on the reps portal. Thanks all for the hard work, I am closing this one

[2017-04-06 14:59] #134 closed

[2017-04-06 19:25] MichaelKohler commented on #148
This will be covered by this PR as well, therefore assigning to Laka as well:

https://github.com/mozilla/activate.mozilla.community/pull/205#discussion_r106297220

[2017-04-06 19:34] MichaelKohler commented on #34
We have gone back to our old way of doing things for now. Obviously that is not the way we want, as we won't get a lot of traction with that approach. However we could not figure out yet how to deal with markdown files and xliff (or anything else for that matter). You can find my exploration at https://github.com/MichaelKohler/md2xliff-exploration/blob/master/README.md . I'm closing this issue for

[2017-04-06 19:34] #34 closed

[2017-04-06 20:23] LucyeoH opened #209 "Tech Speaker Activity is Live"
- [x] Tech Speaker [wiki](https://wiki.mozilla.org/TechSpeakers#Overview) is updated (Michael Ellis)
- [x] Form top collect attendee data is ready to go (@couci + @lucyeoh) (dependent on #210)
- [x] Link is updated in [Tech Speaker Activity content](https://docs.google.com/document/d/1It5MxYYOf_B8n1KqUNGHW8c08eCy2NDcGPR76w9N6p4/edit#) (@lucyeoh)
- [x] Activity goes goes live ( @AlexLakatos )

[2017-04-06 20:25] MichaelKohler commented on #156
We agreed to put this on the Reps portal for now.

[2017-04-06 20:29] MichaelKohler commented on #117
We will use the standard widget.

[2017-04-06 20:30] MichaelKohler commented on #71
K to give us the content for the website.

[2017-04-06 20:31] MichaelKohler commented on #70
We can close this one as the current activities are quite similar and we want to allow for some individuality.

[2017-04-06 20:31] #70 closed

[2017-04-06 20:32] LucyeoH opened #210 "Get Attendee Data into Bitergia"
- [x] Decide on how we'll try and collect attendee data (form, meetup, facebook etc.) (@couci @lucyeoh)
- [x] Create form/mechanism (@couci)
- [x] Confirm all of the inputs (@lucyeoh)
- [x] Add to Tech Speakers Activity (@couci)
- [x] Add to all Activate Activities (@couci)
- [ ] Do training call with all Reps on how and why it's important to use the collection mechanism (@couci + @lucyeoh)
- [ ]

[2017-04-06 20:42] LucyeoH opened #211 "Add Icons to Visualize Impact Numbers (Operation Make Activate Activities Easier To Read)"
Add the green bars (visual representations of #s for impact - mimicking the skill section of the VR activitity).
https://mozillacampusclubs.github.io/Build-a-Virtual-World/

i.e.

Attendees:
200

Blog Posts
xx

[2017-04-06 20:51] MichaelKohler opened #212 "Disable FR for now as it's not translated"

[2017-04-06 21:00] MichaelKohler commented on #131
Thanks for the input here. We will discuss this issue over in https://github.com/mozilla/activate.mozilla.community/issues/210 as this is coupled to getting attendee data for now. Getting more metrics etc would be nice, but not a P1 right now. Also as we don't have a backend, we need to fetch all the data at every request, so getting much data won't be feasible as loading the leaderboard already t

[2017-04-06 21:01] #131 closed

[2017-04-06 21:03] MichaelKohler commented on #208
I have 4 points tabbing to when I use tab:

* Location bar (Firefox)
* The thing left to it (identity menu) (Firefox)
* Top of the page (not sure what exactly there as I don't have an indicator)
* Something on the bottom of the page (not sure what exactly there as I don't have an indicator)

Is this a general issue or do I lack a certain pref to make it tab-able in general? If it's a general issue

[2017-04-06 21:05] MichaelKohler commented on #181
Putting this back in the "selected backlog", as this will be influenced by the official styleguide and is not a P1 for now.

[2017-04-06 21:06] MichaelKohler commented on #211
This will be done after https://github.com/mozilla/activate.mozilla.community/pull/205 is merged (as this is an improvement of that)

[2017-04-06 21:09] MichaelKohler commented on #124
This will need more work given that https://github.com/mozilla/activate.mozilla.community/pull/205 will be merged soon. We went back to markdown files, so we will take a PR that takes the design changes into account as well as uses the Markdown approach (no xliff files specifically).

[2017-04-06 21:15] MichaelKohler commented on #156
what should it be called? MozActivate? Mozilla Activate? Activate Mozilla?

<img width="1012" alt="screen shot 2017-04-06 at 23 12 25" src="https://cloud.githubusercontent.com/assets/330324/24775874/eca28384-1b1e-11e7-8f31-7558b1873dd9.png">

[2017-04-07 08:30] couci commented on #156
I think Activate Mozilla is better

[2017-04-07 11:30] couci opened #213 "Create a TS map available for Reps in the activate site"
- [x] Create bug for key @couci
- [x] Enter bug on parsys github tracking repo @couci, @LucyeoH
- [ ] Create the map @AlexLakatos
- [ ] Add it in the activate page @AlexLakatos @MichaelKohler

[2017-04-07 11:32] couci opened #214 "Rework on content for WebVR and Rust"
- [ ] have a meetings with functional areas @couci @LucyeoH
- [ ] rework on drafts @couci

[2017-04-07 11:38] mermi commented on #213
This Map[1] contains all the Tech Speakers still some of them missing but it could be helpful for this issue :D
[1] https://mte90.github.io/Tech-Speakers-Map/

[2017-04-07 12:19] couci opened #215 "Rework on content for WebVR and Rust"
- [x] @couci meet with @bacharakis to create unified strategy
- [ ] create drafts @couci
- [ ] publish in the website @MichaelKohler @AlexLakatos

[2017-04-07 13:53] LucyeoH commented on #215
@couci I'd recommend working closely with Christos on this. He's already working with Rust to create an activity for them using a contractor and adapting that for activate will probably be easier than requesting a separate activity (which they don't have time to build for us).

[2017-04-07 13:57] LucyeoH commented on #214
@couci how is this different than #214

Also I think you and Christos should have a unified approach to working with these teams. The output you want is closely related enough and it's less people coming at them from our team with requests.

[2017-04-07 14:01] MichaelKohler commented on #214
Lucy, this is 214 ;)

[2017-04-07 14:02] MichaelKohler commented on #214
Yes, this seems like a dupe of #215. @couci please close one of these as they are the same :)

[2017-04-07 14:07] couci commented on #214
yes I got too excited apparently, closing this on

[2017-04-07 14:07] #214 closed

[2017-04-07 16:29] couci commented on #213
Bug has been created and api requested. Next step is to add as a user story in partsys repo

[2017-04-07 21:56] MichaelKohler commented on #156
PR opened here: https://github.com/mozilla/activate.mozilla.community/pull/216

[2017-04-07 23:13] MichaelKohler commented on #156
PR for Reps portal created: https://github.com/mozilla/remo/pull/1345

[2017-04-07 23:19] MichaelKohler commented on #117
Mh, I guess the question is, where should that widget go? I would say frontpage, but there is basically no prominent place there as we want to promote the activities. @couci @LucyeoH what do you think?

[2017-04-09 20:06] Ryuno-Ki commented on #208
When you have tab focus on an activity card and continue to hit <kbd>Tab</kbd> you will reach a point where you focus the links in the carousel. Firefox/the widget then tries to put the carousel item into viewport and leaves the widget into a state with broken offset.
![broken-carousel](https://cloud.githubusercontent.com/assets/3097194/24840622/804fda2a-1d70-11e7-9532-184faad6a38a.png)

Continuat

[2017-04-10 09:04] couci commented on #117
I was thinking on the right of the page similar with the mozilla.ch site. @MichaelKohler @LucyeoH thoughts?

[2017-04-12 10:06] couci commented on #209
https://wiki.mozilla.org/TechSpeakers#Mozilla_Tech_Speakers Wiki page updated

[2017-04-12 10:39] couci commented on #209
Feedback form has been created: mzl.la/howwasit

[2017-04-12 10:40] couci commented on #209
The activity is ready to go live: https://docs.google.com/document/d/1It5MxYYOf_B8n1KqUNGHW8c08eCy2NDcGPR76w9N6p4/edit# @AlexLakatos @MichaelKohler can we get a timeline on when we can have this live?

[2017-04-12 10:43] couci commented on #210
Activate feedback form here: mzl.la/howwasit @MichaelKohler @AlexLakatos can we add it on every activate page once we launch the new pages?

[2017-04-12 10:45] MichaelKohler commented on #209
Assigning this to me, should be able to do this until April 19th latest. Could you also provide a small picture we can use once the nicer activity detail view is live?

@AlexLakatos do you think we can merge the view before that? Otherwise I'd do it in the master branch as well as in your branch.

[2017-04-12 10:46] MichaelKohler commented on #210
Sure, do you want to come up with a nice sentence around it? Do we want to do it in its own section?

[2017-04-12 11:05] couci commented on #210
Let's use something like: "Gather cool feedback for your activity using the feedback form" @LucyeoH we don't have goals around the feedback form on individual activities on numbers, should we put the same goal with TS?

[2017-04-12 11:06] couci commented on #209
![ts-01](https://cloud.githubusercontent.com/assets/7702955/24954730/35bc60a8-1f89-11e7-9ca2-8e206ff37c72.png)
![ts-02](https://cloud.githubusercontent.com/assets/7702955/24954731/35c15a4a-1f89-11e7-8b6d-3925ac851e19.png)
Small pictures provided

[2017-04-12 11:19] couci opened #217 "Put the great Event Planning guide online"
- [x] The link is online on the activate site @couci @MichaelKohler
- [ ] Current activities are been reworked to take out a lot of text @couci

[2017-04-12 11:21] couci commented on #217
Here is the link for the Event Planning guide @MichaelKohler can we put it online before FAQ?

[2017-04-12 11:38] MichaelKohler commented on #217
This also needs to be linked to instead of the repeating "setup your event" things in the activities, right?

[2017-04-12 11:38] couci commented on #217
Yes I am working on what to put out from the current activities as we speak :)

[2017-04-12 16:26] LucyeoH commented on #210
I'm not sure if "cool feedback" is a sentence that will resonate with many people :P.
But more importantly I think this is the number one way we'll know if an activate activity someone throws is successful.

It answers the questions "Did any new technical contributors get involved with Mozilla as a result of your event" and we need to find a way to make this super prominent for everyone.

Here's t

[2017-04-13 12:05] MichaelKohler commented on #210
On that note, the form mzl.la/howwasit gives me "You need permission". We need to make sure to open that up before we publish this.

[2017-04-13 12:09] MichaelKohler commented on #71
Closing this one in favor of https://github.com/mozilla/activate.mozilla.community/issues/217

[2017-04-13 12:09] #71 closed

[2017-04-13 12:10] MichaelKohler commented on #212
PR is merged.

[2017-04-13 12:10] #212 closed

[2017-04-13 12:28] couci commented on #210
@LucyeoH that seems good to me. In order to "force" the use I am planning to run the training in the reps call and also email key stakeholders on activate.
@MichaelKohler I've opened the survey please check. Could we incorporate it in the activate page?

[2017-04-13 12:47] MichaelKohler commented on #210
Yes, the form works now. I'll use Lucy's paragraph for all activities.

[2017-04-13 12:48] MichaelKohler commented on #217
Do you have some text or should I start with the PR and come up with a suggestion?

[2017-04-13 13:34] couci commented on #217
So now lets put it on the tab and as we go we change the wording on activities

[2017-04-13 14:26] couci commented on #215
Meeting with @bacharakis has taken place, rework on WebVR has started, we will finish it on Thursday

[2017-04-13 17:00] MichaelKohler commented on #210
PR added here: https://github.com/mozilla/activate.mozilla.community/pull/220

This can only be merged once the activity detail PR is merged (will be very soon).

![screen shot 2017-04-13 at 18 57 19](https://cloud.githubusercontent.com/assets/330324/25015271/66904792-207b-11e7-9ba9-a12b4da424f6.png)

[2017-04-13 17:02] MichaelKohler commented on #209
I'll do this on top of Laka's changes for the activity detail view as this will be merged soon. Otherwise we will do work double.

[2017-04-13 23:44] #149 closed

[2017-04-14 06:17] MichaelKohler commented on #150
Done with the merge of the new activity detail view.

[2017-04-14 06:17] #150 closed

[2017-04-14 06:17] MichaelKohler commented on #148
Done with the merge of the new activity detail view.

[2017-04-14 06:17] #148 closed

[2017-04-14 06:17] MichaelKohler commented on #156
PR has been merged, with the next deploy this issue will be solved.

[2017-04-14 06:21] AlexLakatos commented on #117
where did we land on this?

[2017-04-14 10:43] Mte90 commented on #32
In the meantime the project is on pontoon and we are organizing the translation of the content, probably we want to add external resources in italian in the translation

[2017-04-18 10:02] couci commented on #117
Summarizing the conversation we had on telegram:
Option 1: on the right
Option 2: over the carousel at the end of the page
Option 3: as another tile.

@AlexLakatos I am interested to see how it will look like as another tile, do you think you can give a screenshot?

[2017-04-20 14:51] MichaelKohler commented on #209
@couci activity is live, do you want to do some kind of announcement?

[2017-04-20 14:52] MichaelKohler commented on #210
Sorry, this is live now. Should not have closed, since there are further steps to be taken by @couci .

[2017-04-20 14:52] MichaelKohler commented on #217
The guide is online. Once you have the changes coming out of that for the existing activities, please tell me :)

[2017-04-20 18:03] couci commented on #215
WebVR is still on early stages and we decided to base the new Rust activities based on the Rust campaign in India happening on June

[2017-04-25 17:11] barrosgeraldo opened #229 "Correct identification of the language Brazilian Portuguese"
Our language is derived from Portuguese from Portugal, but our Portuguese is Brazilian, so the correct one is use PT-BR. It is not good practice to use PT for Brazilian Portuguese, because our community in Portugal may want to translate this project in the future and they will want to use PT in the "lang".

See more: https://github.com/mozilla/activate.mozilla.community/pull/227

[2017-04-25 17:13] barrosgeraldo opened #230 "Frequently Asked Questions - Update"
Please, update the answer for the this question: "What are the goals of the campaign?".

Thanks.

[2017-04-25 17:23] MichaelKohler commented on #230
Oh yes, totally! @couci could you please provide a text here? :)

[2017-04-25 17:26] #209 closed

[2017-04-25 21:47] MichaelKohler commented on #156
This has been deployed and is live now.

[2017-04-25 21:47] #156 closed

[2017-04-25 21:47] MichaelKohler commented on #151
This has been done!

[2017-04-25 21:47] #151 closed

[2017-04-25 22:15] MichaelKohler commented on #229
Pull request opened: https://github.com/mozilla/activate.mozilla.community/pull/232

@barrosgeraldo please note that this PR once merged will break a lot of changes on your side as I've renamed folders etc

[2017-04-25 23:17] barrosgeraldo commented on #229
@MichaelKohler, ok, tks.

[2017-04-26 14:51] shahbaz17 commented on #50
Hi @MichaelKohler ,
Any update on this ? I would to work on this with my community members as they have pretty good understanding of Hindi and have been contributing to l10n.
@amitkumarj441 any update from your side ?

[2017-04-26 15:04] MichaelKohler commented on #50
My previous comment is still accurate. Please also check the README (contains that info as well).

[2017-04-28 13:12] hossainalikram opened #233 "Share feedback link is not working!"
I was looking over https://activate.mozilla.community/techspeakers/ and when i tried to click on Share feedback option in "Goals for this Activity", I am seeing an 404 error. So, thought of creating an issue :)

The link is now set to - https://activate.mozilla.community/techspeakers/mzl.la/howwasit

Should be ( I am guessing) - http://mzl.la/howwasit

[2017-04-28 13:14] MichaelKohler commented on #233
Oooh, will fix ASAP. Should be done in max 6 hours. Thanks for the report.

[2017-04-28 13:15] hossainalikram commented on #233
Is the correct link this one http://mzl.la/howwasit ?

[2017-04-28 13:16] MichaelKohler commented on #233
Yes!

[2017-04-28 13:17] MichaelKohler commented on #233
(as the link in the main section further down is)

[2017-04-28 13:22] hossainalikram commented on #233
I did a pull request, giving the link to work.

[2017-04-28 13:37] MichaelKohler commented on #233
PR merged, thank you!

[2017-04-28 13:37] #233 closed

[2017-04-28 22:32] Ryuno-Ki commented on #50
Maybe you need to check, whether your already existing fork is up-to-date enough.

[2017-04-30 17:56] #229 closed

[2017-05-03 13:23] couci commented on #230
Sorry for the late reply.
I will quote what we have on our launch page for that:
The goal is providing guidance to mobilizers on how to recruit contributors and create community around meaningful Mozilla projects.

[2017-05-04 12:03] shahbaz17 opened #240 "Dive Into Rust | Under Event Flow Rust downloads link is redirecting to install page rather than other-installers page"
**Steps to reproduce**

Visit https://activate.mozilla.community/rust-hack/
Under Event Flow
  -install rust , click on Rust downloads ( alternative )

**What happened? (actual result)**
It takes us to https://www.rust-lang.org/downloads.html which redirects to https://www.rust-lang.org/en-US/install.html which is essentially the same content which is just above this link ( i.e rustup )

**What sh

[2017-05-04 14:32] MichaelKohler commented on #240
PR merged, thank you!

[2017-05-04 14:32] #240 closed

[2017-05-10 21:53] AlexLakatos commented on #117
![screen shot 2017-05-10 at 22 51 12-fullpage](https://cloud.githubusercontent.com/assets/690132/25922997/5dc37770-35d3-11e7-899d-fb1d91ee8ba0.png)

@couci This is roughly how it would look, but styling it would be a pain, because it's inside a XSS iframe.

[2017-05-12 09:58] couci commented on #117
I have the feeling that it is actually confusing for people and might be lost @MichaelKohler what do you think?

[2017-05-12 10:22] MichaelKohler commented on #117
I agree, let's find another place for it.. No idea from my side though.

[2017-05-12 11:20] saidfuad commented on #117
@MichaelKohler  My few cents, i think we could keep it at the footer, on the right side and reduce the feed stream to one tweet window (for a recent tweet) or two. The footer content to remain the same but the widget to be just beside it on the right side. Hope this helps!

[2017-05-15 16:16] couci commented on #213
@AlexLakatos how are we doing with this one?

[2017-05-15 16:19] couci commented on #211
#205 has been merged, can we continue with this one?

[2017-05-15 16:49] couci commented on #230
@MichaelKohler are we good to go with the above comment?

[2017-05-16 08:11] MichaelKohler commented on #230
Makes sense yeah. Will integrate that.

[2017-05-16 09:53] MichaelKohler commented on #217
@couci should we replace all the event setup texts in the existing activities with a link to the guide now?

[2017-05-16 19:54] MichaelKohler commented on #230
PR opened here https://github.com/mozilla/activate.mozilla.community/pull/242

[2017-05-17 09:57] couci commented on #217
Yes let's not wait any longer. Do you need help with that (on what part to take out) or is it easy?

[2017-05-17 09:59] MichaelKohler commented on #217
Should be easy enough.

[2017-05-17 16:19] MichaelKohler commented on #217
PR: https://github.com/mozilla/activate.mozilla.community/pull/243

[2017-05-17 18:23] couci opened #244 "Impact form dashboard -NPS view for Rep"
As a Rep I want to be able to see how I performed at my event (NPS) based on the data selected in the impact form by filtering by my name and event date.

[2017-05-17 18:24] couci opened #245 "Impact form dashboard - type of my audience"
As a Rep I want to be able to see how the type of the audience that attended my event based on the data selected in the impact form by filtering by my name and event date.

[2017-05-17 18:27] couci opened #246 "Impact form dashboard - number of events"
As a community manager I want to see the number of events that have submitted the impact form

[2017-05-17 18:33] couci opened #247 "Impact form dashboard - Type of events"
As a Reps community manager I want to see the statistics on the types of events that have submitted the impact form

[2017-05-17 18:34] couci opened #248 "Impact form - general NPS"
As the Reps community manager I want to see the general NPS from the events that have submitted the impact form

[2017-05-17 21:17] MichaelKohler commented on #247
We gather the type of the event as a free text field. People are writing anything in there. Do you still want a unique list of all values submitted?

[2017-05-18 13:40] couci commented on #247
Yes, let's filter that based on the first question "what kind of event is this" that has only specific pre-filled answers

[2017-05-18 13:46] MichaelKohler commented on #247
OK, will do.

[2017-05-19 07:25] kelimuttu opened #249 "New impact form page"
Create a translatable impact form page & have a clear documentation so Rep can localize it in their own language.

[2017-05-19 11:00] MichaelKohler commented on #249
I think I'll have some time this weekend to look into possible ways for this.

[2017-05-19 11:07] kelimuttu commented on #249
Thanks, Michael. I'm working on it right now. Let's hope the PR would be ready by then so you can review it this weekend.

[2017-05-19 11:25] MichaelKohler commented on #249
Ah, that's great :) thanks

[2017-05-19 16:19] Mte90 commented on #249
I don't know if google forms is the best way but as I suggested on discourse we can evaluate an open source software for forms like limesurvey that support multilanguage forms.

[2017-05-28 09:26] kelimuttu opened #254 "Localize impact form in ID"
Replicate the impact form in ID language

[2017-05-28 09:26] kelimuttu commented on #254
PR has been sent https://github.com/mozilla/activate.mozilla.community/pull/253

[2017-05-28 09:32] kelimuttu commented on #249
@Mte90 we should really consider that in the future. Right now, we don't have enough technical support to use other services. That's why we use this trick.

@MichaelKohler I guess we can close this since the PR has been merged.

[2017-05-28 12:12] #249 closed

[2017-05-28 20:53] MichaelKohler opened #255 "Update Roadmap"
- [x] The "Host a Techspeaker" activity should be moved to "now"
- [x] "Host a techspeaker" should be in the changelog with its correct date
- [x] Now should be Q2
- [x] Next should be Q3

[2017-05-28 20:56] MichaelKohler opened #256 "Retire "Participation Guidelines" activity"
As the latest release of the Community Participation Guidelines have been published, I think we can retire this activity. It should be the same as "Test Pilot" for example, meaning a mention of it in the /activities/ page when you click on "Show retired activities" as well as a "retired" notice on the direct link to it.

[2017-05-29 13:28] #254 closed

[2017-06-21 22:39] MichaelKohler opened #268 "Publish Nightly activity"
As the Nightly activity is feature-complete in terms of content, I've started a branch (https://github.com/MichaelKohler/activate.mozilla.community/tree/feature/nightly_activity) to add it to the page. Here are some screenshots:

![screen shot 2017-06-22 at 00 24 41-fullpage](https://user-images.githubusercontent.com/330324/27409717-38114aee-56e3-11e7-81cd-3e083b567732.png)

![screen shot 2017-06-

[2017-06-21 22:42] #217 closed

[2017-06-21 22:43] #230 closed

[2017-06-21 22:44] MichaelKohler commented on #255
I'll do this together with #268 as this requires a Roadmap update anyway.

[2017-06-21 22:44] caitmuenster commented on #268
Oh, this is such a good Activate campaign! Can I ask who's taking point on this? I'd love to share this with some of the QA leads.

[2017-06-21 22:56] MichaelKohler commented on #268
Main contact for this activity on staff side (functional area) is Marcia. Konstantina for the Activate campaign itself (program).

[2017-06-21 23:02] caitmuenster commented on #268
Awesome - thanks @MichaelKohler!

[2017-06-22 14:23] atiqueahmedziad opened #269 "Impact form localization (BD-BN)"

[2017-06-24 14:29] MichaelKohler commented on #268
PR created here: https://github.com/mozilla/activate.mozilla.community/pull/270

[2017-06-29 16:22] #255 closed

[2017-06-29 16:24] couci commented on #210
we are blocked due to this: https://github.com/mozilla/participation-metrics-org/issues/115

[2017-06-29 16:29] MichaelKohler commented on #268
https://activate.mozilla.community/nightly/ yay!!

[2017-06-29 16:30] #268 closed

[2017-06-29 16:30] couci commented on #215
RainofRust learnings will be incorporated in July. WebVR is still on early stages

[2017-06-29 16:30] #215 closed

[2017-06-29 16:31] couci commented on #181
@elioqoshi what do you think in here?

[2017-06-29 16:32] couci commented on #140
@elioqoshi do you think it's time to move this forward? Should we open an issue on the open design repo?

[2017-06-29 16:33] couci commented on #119
Closing this since we lost focus

[2017-06-29 16:33] #119 closed

[2017-06-29 16:37] couci commented on #117
I like the idea of putting it horizontally under the activities @AlexLakatos ideas?

[2017-06-29 17:07] MichaelKohler commented on #256
PR: https://github.com/mozilla/activate.mozilla.community/pull/271/files

[2017-06-29 20:19] #256 closed

[2017-06-30 16:51] elioqoshi commented on #140
Thanks for bringing this to my attention. Yeah let's open one on the Open Design trepo

[2017-07-05 11:35] elioqoshi commented on #181
let's use Blue 2 like in the new logo we did at All Hands

[2017-07-06 09:01] couci commented on #181
I agree @MichaelKohler can you make the changes?

[2017-07-06 09:30] MichaelKohler commented on #181
Yes, will come up with a suggestion once I have finished the impact form stuff. This will also include other suggestions Elio had in terms of fonts etc.

[2017-07-06 09:31] MichaelKohler commented on #181
(I'll create a new issue for the implementation)

[2017-07-06 09:31] #181 closed

[2017-07-07 12:20] MikkCZ opened #272 "Expired HTTPS certificate on activate.mozilla.community"
The certificate on https://activate.mozilla.community/ has expired 20 minutes ago.

[2017-07-07 12:22] MichaelKohler commented on #272
Thanks for the report. I've redirected this to the ParSys team to take care of.

[2017-07-07 12:46] flamingspaz commented on #272
https://github.com/mozilla/parsys/issues/187

[2017-07-07 14:27] MichaelKohler commented on #272
Thanks @flamingspaz , this is fixed. And thanks @MikkCZ for reporting!

[2017-07-07 14:27] #272 closed

[2017-07-11 10:08] couci commented on #14
Hey all,
let us know if anyone is up on the translations otherwise we will need to close this issue and remove the partial translations

thanks

[2017-07-11 16:34] couci commented on #211
@AlexLakatos @MichaelKohler status update here?

[2017-07-11 16:36] couci commented on #117
@AlexLakatos status update? the last idea was to replace the carousel at the end

[2017-07-11 16:39] couci commented on #213
@AlexLakatos is this still relevant?

[2017-07-11 16:41] couci commented on #140
Logo has been added here: https://github.com/mozilla/OpenDesign/issues/132
@MichaelKohler should we move this to P1 once you're done with the dashboard?

[2017-07-11 17:23] MichaelKohler commented on #140
Yes, if somebody wants to start before, feel free :)

[2017-07-13 06:12] Josexv1 commented on #14
@couci i will be translating the new activities, will create a new list of things being translated by me. As my old translation is a bit outdated.

[2017-07-19 23:00] MichaelKohler opened #274 "Move API to Community IT"
- [x] Initial docker image
- [x] Remove credentials from docker image and write tutorial on how to create new credentials to be used with another google account (to be defined which one)
- [x] Deploy initial docker image without credentials to docker hub through Travis CI
- [x] Create bug for ParSys

[2017-07-26 16:23] MichaelKohler commented on #274
Current status and next steps:
- [x] Initial docker image
- [ ] Remove credentials from docker image and write tutorial on how to create new credentials to be used with another google account (to be defined which one)
- [ ] Deploy initial docker image without credentials to docker hub through Travis CI
- [ ] Create bug for ParSys

[2017-07-31 11:29] MichaelKohler commented on #274
The only thing left is the automatic scheduling of input fetching. I'll be working on this over the coming days.

What we need to figure out is which Google account we can use for the credentials. We need to have an auth token to be able to fetch the responses. Best case scenario would be the reps-council@mozilla.com alias, though I'm not sure if that is possible. Otherwise we probably could creat

[2017-08-01 13:54] MichaelKohler commented on #274
ParSys bug filed for now. This means after reviewing the open PR, we need to figure out the credentials part mentioned above. Then this should be ready.

https://bugzilla.mozilla.org/show_bug.cgi?id=1386256

[2017-08-02 17:48] couci opened #275 "Rebuild the Rust activity based on the RainofRust guide"
The new activity will be based on the activity that the RainofRust team built: https://github.com/MozillaIndia/RustIndia/tree/master/RainOfRust#advance-rust-events

Steps:
- [ ] Create a draft
- [ ] Receive feedback/review
- [ ] Get doc ready to be uploaded

[2017-08-03 10:43] couci commented on #274
can I ask why the council alias or even the review team alias are not possible?

[2017-08-03 10:58] MichaelKohler commented on #274
I'm not sure if an alias can request those credentials. Is there even a log in for the alias?

[2017-08-03 11:01] couci commented on #274
in that case we need to share the login info among the council members in order to be able to see the info, otherwise we exclude the info to one person and thus we can directly add a personal emal (for example Ruben's or mine).

[2017-08-03 11:05] MichaelKohler commented on #274
No, this is only for the access of the backend, so we can display it on the website. The responses form just needs to be shared with that account as well. The council members still have access to the doc as normal.

[2017-08-03 11:43] couci commented on #274
ok then I can request an email account on activate@mozilla.com

[2017-08-04 13:02] couci commented on #274
ok then I can request an email account on activate@mozilla.com

[2017-08-04 15:20] couci commented on #274
Request added, waiting for a reply

[2017-08-08 10:45] couci commented on #274
Alias obtained, let me know what are the next steps.

[2017-08-08 10:51] couci commented on #211
@AlexLakatos please update here otherwise we need to put this on blocked

[2017-08-08 10:52] couci commented on #269
@atiqueahmedziad what s the status update here?

[2017-08-08 10:57] MichaelKohler commented on #274
Let's move this to DM so I can explain you how to get the credentials without me seeing them.

[2017-08-09 20:18] pascalchevrel opened #281 "Nightly logo is outdated"
We have a new logo https://activate.mozilla.community/nightly/

[2017-08-10 08:45] MichaelKohler commented on #281
Oh yes. Thanks for the report. Will fix ASAP.

[2017-08-14 18:32] MichaelKohler opened #283 "Implement new branding"
Since https://github.com/mozilla/activate.mozilla.community/issues/140 is done, we need to implement the new branding accordingly. I've started doing this, however, please note, I'm neither a designer, UI designer, nor a UX designer. I went with my gut feeling, trying to keep the (publicly) known guidelines in mind.

I know that there are still some rough edges (navigation for example), but I curr

[2017-08-14 18:49] MichaelKohler commented on #140
Implementation of this is tracked in #283. Thanks for the logo, Elio!

[2017-08-14 18:49] #140 closed

[2017-08-14 19:42] Ryuno-Ki opened #284 "Add alt-attributes to images"
https://tenon.io/testNow.php?url=https://activate.mozilla.community/

There are some minor other things as well ;-)

[2017-08-14 19:43] Ryuno-Ki opened #285 "Improve performance"
Google has some tips for you:

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Factivate.mozilla.community%2F

https://testmysite.withgoogle.com/intl/en-gb

[2017-08-15 16:01] couci opened #286 "Reboot the Extensions Activity: content work"
This is a tracking issue for improving the Extensions activity

Tasks:
- [ ] Rewrite the activity giving a more teaching tone @caitmuenster Due date: 25th of August
- [ ] Getting feedback on the new activity @caitmuenster
- [x] Contact key volunteers to participate on pilot activity @couci Due date: 18th of August
- [x] Get volunteers approval @couci Due date: 18th of August
- [x] Organize first m

[2017-08-15 16:34] couci commented on #286
email sent to key volunteers

[2017-08-15 17:20] #281 closed

[2017-08-16 05:43] riginoommen opened #287 "Localization Request for Malayalam Language (ml)"

[2017-08-16 08:52] elioqoshi commented on #140
Will add also a horizontal version, but will post in that thread :)

[2017-08-18 08:40] ranjithrajv opened #288 "Localisation of activate.mozilla.community into different languages using pontoon.mozilla.org"
The Activate Mozilla campaign is a very significant initiative for Mozilla and helps to bring more clarity to mobilizers on how to recruit contributors and grow community around meaningful Mozilla projects.

This is a campaign which reaches the grassroots levels in many regions. Localization of this website into local languages is very important. https://pontoon.mozilla.org is the best platform to